/* MEDIA */
@media (min-width: 1200px) {
}
@media (max-width: 1199px) {
    /* SEARCH */
    .P2CL1WMenu {text-align: center;}
    /* SEARCH */
}
@media (max-width: 991px) {
    /* AUTH */
    .Page1Wrapp {margin: 0; height: 100vh;}
    .Page1Wrapp h3 {font-size: 18px; text-align: center;}
    .Page1Wrapp h2 {margin: 50px 0 30px 0; font-size: 22px;}
    /* AUTH */
    
    /* SEARCH */
    .P2CL2Input {float: none; width: 100%; background-position: 20px center; padding: 25px 70px 25px 60px;}
    .P2CL2Button {float: right; margin: -45px 30px 0 0;}
    .P2CL2Online {margin: 20px auto; float: none; padding: 0;}
    
    .P2CL2BTNGroup {width: 100%;}
    .P2CL2BTNGroup > button {display: block; margin: 0 auto; max-width: 270px;}
    
    .P2CL2TicketBlock {padding: 0 15px 1px 15px;}
    /* SEARCH */
}
@media (max-width: 767px) {
    /* SEARCH */
    .P2CL1WLogo {text-align: center; margin: 20px 0 5px 0;}
    .P2CL1WUser {text-align: center; margin: 20px 0 5px 0;}
    .P2CL1WUser img {display: block; margin: 0 auto 10px auto;}
    .P2CL1WBalance {text-align: center; margin: 5px 0 10px 0;}
    .P2CL1WMenu {text-align: center;}
    .P2CL1WMenu li {font-size: 14px; padding: 10px;}
    
    .P2CL3Media {width: 100%;}
    /* SEARCH */
    
    /* TICKET */
    .P2CL2TBFSubject input {width: 80%;}
    
    .P2CL2TBTTDW {width: 120px;
    /* TICKET */
}
@media (max-width: 480px) {
    /* SEARCH */
    .P2CL1WBalance {border-bottom: 1px solid #ccc; padding: 0 0 10px 0;}
    .P2CL1WMenu li.active {border-bottom: 2px solid rgba(0,0,0,0);}
    .P2CL1WMenu li:hover {border-bottom: 2px solid rgba(0,0,0,0);}
    
    .P2CLine2 {padding: 0 10px;}
    .P2CL2Input {background-image: none; padding: 25px 20px;}
    .P2CL2Button {display: none;}
    .P2CL2Online {margin: 20px auto; float: none; padding: 0; width: 100%;}
    
    .P2CL2BTNGroup {width: 90%;}
    .P2CL2InputBlock {width: 90%;}
    
    .P2CL2BTNGMBlack input {padding: 10px 0;}
    
    .P2CL3MWrap {width: 100%; padding: 0; max-width: 100%;}
    .P2CL3Media {padding: 5px 10px; margin: 0;}
    .P2CL3MLeft {margin: 5px; float: none; text-align: center; width: 100%;}
    .P2CL3MRight {margin: 5px; float: none; text-align: center; width: 100%;}
    
    .P2CL2TBMenu {text-align: center;}
    /* SEARCH */
    
    /* TICKET */
    .P2CL2TBFSubject input {width: 100%;}
    .P2CL2TBFSelect {margin: 20px 0;}
    .P2CL2TBFSelect select {display: block; margin: 10px 0;}
    
    .P2CL2TBMenu select {float: none; display: block; margin: 10px auto;}
    /* TICKET */
}
/* MEDIA */