{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block title %}{% trans "Account Activated" %}{% endblock %}

{% block content %}
<script src="{% static "js/vue.js" %}"></script>
<!--<script src="https://unpkg.com/vue"></script>-->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<style media="screen">
    .act-code{
        margin: 0 auto;
        padding: 10px;
        width: 400px;
        box-shadow: 1px 1px 2px 1px #cecece;
    }
</style>

<div id="complite" class="act-code">
    <div v-if="imgs">
        <h3 >Ваш аккаунт активирован.</h3>
        <p>
            Ваш код
        </p>
        <img style="text-align: center;" :src="imgs" />
    </div>
</div>


<script>
    var comp = new Vue({
        el: '#complite',
        delimiters: ['${', '}'],
        data() {
            return {
                acc: false,
                imgs: '',
                code: '',
                form: true,
                form2: false
            }
        },
        mounted: function () {
                axios.get("/qrcode/",{
                    headers: {
                        'X-Requested-With': 'XMLHttpRequest'
                    },
                    params: {

                    }
                    }).then((response) => {
                            this.imgs = response.data.img
                            this.imgs = "http://"+this.imgs
                    }).catch(function (error) {
                            //this.onlin = "Offline"
                    });
        }
    });
</script>
{% endblock %}
