{% extends "registration/login.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% block title %}{% trans "Register for an account" %}{% endblock %}

        {% block content %}
	    <h2>Регистрация<br> нового пользователя</h2>
        <form method="post" action="">
            {% csrf_token %}
            {{ form.email|attr:"placeholder:Электронная почта" }}
            {{ form.password1|attr:"placeholder:Пароль" }}
            {{ form.password2|attr:"placeholder:Повторите пароль" }}
            <input type="text" id="name1" placeholder="Код из email" maxlength="50" data-container="body" data-toggle="popover" data-placement="bottom" data-content="123" style="margin-top:0; display: none;">
            <button type="submit" value="">{% trans 'Регистрация' %}</button>
        </form>
        {% if form.errors %}
            <div class="P1WAlert alert alert-danger">{{ form.errors }}</div>
        {% endif %}

	</div>
{% endblock %}
