{% load i18n %}
{% load staticfiles %}


<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="ru"> <!--<![endif]-->

<head>

	<meta charset="utf-8">

	<title>Тикет. Задать вопрос</title>
	<meta name="description" content="">

	<!-- Bootstrap -->
	<link rel="stylesheet" href="{% static "libs/bootstrap/css/bootstrap.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/styl.css" %}">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<link rel="shortcut icon" href="{% static "img/favicon/favicon.ico" %}" type="image/x-icon">
	<link rel="apple-touch-icon" href="{% static "img/favicon/apple-touch-icon.png" %}">
	<link rel="apple-touch-icon" sizes="72x72" href="{% static "img/favicon/apple-touch-icon-72x72.png" %}">
	<link rel="apple-touch-icon" sizes="114x114" href="{% static "img/favicon/apple-touch-icon-114x114.png" %}">

    <script src="{% static "libs/jquery/jquery-1.11.2.min.js" %}"></script>
    <script src="{% static "libs/bootstrap/js/bootstrap.js" %}"></script>
</head>

<body>

	<div class="Page2Container container-fluid">
        
        <div class="P2CLine1 row-fluid">
            
            <div class="P2CL1Wrapp row-fluid">
                
                <h3 class="P2CL1WLogo col-lg-2 col-sm-4 col-xs-12">
                    proxybase.org
                </h3>
                
                <!--<div class="P2CL1WUser col-lg-3 col-sm-4 col-xs-12">
                    <img src="img/search/user.png" alt="Vladislav Epifanov">
                    Vladislav Epifanov
                </div>-->
                
                <div class="P2CL1WBalance col-lg-2 col-sm-4 col-xs-12">
                    Баланс: {{ request.user.balance }}
                </div>
                
                <ul class="P2CL1WMenu col-lg-5 col-sm-12 col-xs-12">
                    <li>Главная</li>
                    <li>Поиск</li>
                    <li>Покупки</li>
                    <li>Оплата</li>
                    <li class="active">Вопрос/Ответ</li>
                </ul>
                
                <div class="clearfix"></div>
            </div> <!-- P2CL1Wrapp -->
            
            <div class="clearfix"></div>
        </div> <!-- P2CLine1 -->
        
        <div class="P2CLine2 row-fluid">
           
            <div class="P2CL2Online col-lg-2 col-md-2 col-xs-4">
                <span>Онлайн: {{ counts }}</span>
            </div>
           
            <div class="P2CL2TicketBlock col-lg-9 col-lg-offset-1 col-md-10">
                
                <div class="P2CL2TBMenu row-fluid">
                    
                    <button class="P2CL2TBMBut1 active">
                        Задать вопрос
                    </button>
                    <button class="P2CL2TBMBut2">
                        <a href="{% url 'tickets:list' %}">История</a> 
                        <span class="badge">{{ count }}</span>
                    </button>
                    
                    <div class="clearfix"></div>
                </div>
                
                <div class="P2CL2TBForm row-fluid">
                   
                    <!--<div class="P2CL2TBFSubject row-fluid">
                        <span>Тема письма</span>
                        <input type="text" maxlength="255">
                        <div class="clearfix"></div>
                    </div>-->

                    
					{% block content %}
						<form method="post" action="">
    						{% csrf_token %}
    						<div class="P2CL2TBFSubject row-fluid">
                        		<span>Тема письма</span>
                        		<!--<input type="text" maxlength="255">-->
                                {% if form.subject.errors %}
                                    {% for error in form.subject.errors %}
                                       <input id="id_subject" name="subject" maxlength="255"
                                      type="text" placeholder="обязательное поле">
                                    {% endfor %}
                                {% else %}
                                    {{ form.subject }}    
                                {% endif %}
                        		
                        		<div class="clearfix"></div>
                    		</div>

                    		<div class="P2CL2TBFSelect row-fluid">
                        		<span>Кому отправить письмо</span>
                        			<!--<select name="department" id="SelTo">
                            			<option value="0">Нажмите для выбора</option>
                            			<option value="1">1</option>
                            			<option value="2">2</option>
                        			</select>-->
                        			{{ form.department }}
                        		<div class="clearfix"></div>
                    		</div>

                    		<div class="P2CL2TBFSelect row-fluid">
                        		<span>Приоритет письма</span>
                        			<!--<select name="SelPriority" id="SelPriority">
                            			<option value="0">Нажмите для выбора</option>
                            			<option value="1">1</option>
                            			<option value="2">2</option>
                        			</select>-->
                        			{{ form.priority }}
                        			<div class="clearfix"></div>
                    			</div>

                    			{{ form.description }}


    						<button>Отправить</button>

                                <div class="P2CL2TBFSelect row-fluid">
                                    <p>Куда отправлять уведомления?</p>
                        
                                    {% if request.user.jabber %}
                                        <label><input type="checkbox" value="2" name="jabber"><span></span> Джаббер</label>

                                    {% else %}
                                        <label><input type="checkbox" value="1" name="email"><span></span> На почту</label>
                                    {% endif %}

                                    <label><input type="checkbox" value="3" name="notice"><span></span> На сайт</label>
                        
                                    <div class="clearfix"></div>
                                </div>

						</form>

					{% endblock content %}
					
                    
                    <!--<div class="P2CL2TBFSelect row-fluid">
                        <span>Кому отправить письмо</span>
                        <select name="SelTo" id="SelTo">
                            <option value="0">Нажмите для выбора</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                        </select>
                        <div class="clearfix"></div>
                    </div>
                    
                    <div class="P2CL2TBFSelect row-fluid">
                        <span>Приоритет письма</span>
                        <select name="SelPriority" id="SelPriority">
                            <option value="0">Нажмите для выбора</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                        </select>
                        <div class="clearfix"></div>
                    </div>
                    
                    <textarea name="text" id="text" rows="10" placeholder="Введите текст письма.."></textarea>-->
                    
                    
                    
                    
                    <!--<button>Отправить</button>-->
                   
                    <div class="clearfix"></div>
                </div> <!-- P2CL2TBForm -->
                
            </div>
            
            <div class="clearfix"></div>
        </div> <!-- P2CLine2 -->
        
            
            <div class="clearfix"></div>
        </div> <!-- P2CLine3 -->
        
	    <div class="clearfix"></div>
	</div> <!-- Page2Container -->
	
	<script type="text/javascript">
        $(document).ready(function(){
            
        });
    </script>

	<!--[if lt IE 9]>
	<script src="{% static "libs/html5shiv/es5-shim.min.js" %}"></script>
	<script src="{% static "libs/html5shiv/html5shiv.min.js" %}"></script>
	<script src="{% static "libs/html5shiv/html5shiv-printshiv.min.js" %}"></script>
	<script src="{% static "libs/respond/respond.min.js" %}"></script>
	<![endif]-->

	<!-- Подгрузка CSS файлов. Закомментировать данный код после релиза сайта -->
	<!--<script>
		function loadCSS(hf) {
			var ms=document.createElement("link");ms.rel="stylesheet";
			ms.href=hf;document.getElementsByTagName("head")[0].appendChild(ms);
		}
		loadCSS("{% static "libs/animate/animate.css" %}"); //Load Libs CSS: Animate CSS
		loadCSS("{% static "_header.css" %}");              //Header Styles (compress & paste to header after release)
		loadCSS("{% static "_main.css" %}");                //User Styles: Main
		loadCSS("{% static "_media.css" %}");               //User Styles: Media
	</script>-->

	<!-- Подгрузка сжатого CSS файла. Раскомментировать на момент релиза сайта -->
	<script>var ms=document.createElement("link");ms.rel="stylesheet";
		ms.href="{% static "compiled.min.css" %}";document.getElementsByTagName("head")[0].appendChild(ms);
	</script>

	<!-- Load Scripts -->
	<script>var scr = {"scripts":[
		{"src" : "{% static "libs/modernizr/modernizr.js" %}", "async" : false},
		{"src" : "{% static "libs/waypoints/waypoints.min.js" %}", "async" : false},
		{"src" : "{% static "libs/animate/animate-css.js" %}", "async" : false},
		{"src" : "{% static "libs/plugins-scroll/plugins-scroll.js" %}", "async" : false},
		{"src" : "{% static "js/common.js" %}", "async" : false}
		]};!function(t,n,r){"use strict";var c=function(t){if("[object Array]"!==Object.prototype.toString.call(t))return!1;for(var r=0;r<t.length;r++){var c=n.createElement("script"),e=t[r];c.src=e.src,c.async=e.async,n.body.appendChild(c)}return!0};t.addEventListener?t.addEventListener("load",function(){c(r.scripts);},!1):t.attachEvent?t.attachEvent("onload",function(){c(r.scripts)}):t.onload=function(){c(r.scripts)}}(window,document,scr);
	</script>

</body>
</html>

{% comment %}
{% block content %}
	<form method="post" action="">
    	{% csrf_token %}
    	{{ form.as_p }}
    <input type="submit" value="{% trans 'отправить' %}" />
</form>

{% endblock content %}
{% endcomment %}