{% load staticfiles %}
{% load i18n %}

<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="ru"> <!--<![endif]-->

<head>

	<meta charset="utf-8">

	<title>Тикет. История</title>
	<meta name="description" content="">

	<!-- Bootstrap -->
	<link rel="stylesheet" href="{% static "libs/bootstrap/css/bootstrap.min.css" %}">
	<!-- Header CSS (First Sections of Website: compress & paste after release from _header.css here) -->
	<link rel="stylesheet" type="text/css" href="{% static "css/styl.css" %}">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<link rel="shortcut icon" href="{% static "img/favicon/favicon.ico" %}" type="image/x-icon">
	<link rel="apple-touch-icon" href="{% static "img/favicon/apple-touch-icon.png" %}">
	<link rel="apple-touch-icon" sizes="72x72" href="{% static "img/favicon/apple-touch-icon-72x72.png" %}">
	<link rel="apple-touch-icon" sizes="114x114" href="{% static "img/favicon/apple-touch-icon-114x114.png" %}">

    <script src="{% static "libs/jquery/jquery-1.11.2.min.js" %}"></script>
    <script src="{% static "libs/bootstrap/js/bootstrap.js" %}"></script>
</head>

<body>

<!--    
<div class="TicketModal modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
          <button type="button" class="TMCloseModal" data-dismiss="modal" aria-hidden="true"></button>
          <p class="TMP1">Тема письма</p>
          <p class="TMP2">Проблемы с поиском 123</p>
          <p class="TMP1">Кому отправлен</p>
          <p class="TMP2">Отдел проблем</p>
          <p class="TMP1">Приоритет письма</p>
          <p class="TMP2">Быстрая скорость отправки</p>
          <div class="TMLine"></div>
          
          <ul class="TMUL">
              <li class="Point3">Проблема</li>
              <li class="Point1">Исправили</li>
              <li class="Point3">Еще проблема</li>
              <li class="Point3">И вот еще</li>
              <li class="Point2">Все исправили. Спасибо!</li>
          </ul>
          <textarea class="TMTextarea" name="TMT" id="TMT" rows="3" placeholder="Написать сообщение"></textarea>
          <button class="TMButton">Отправить</button>
      </div>
      <div class="modal-footer">
          <div class="TMClose" data-dismiss="modal" aria-hidden="true">Закрыть вопрос</div>
      </div>
    </div>
  </div>
</div>
-->
{% for tic in  tickets %}
	<div class="TicketModal modal fade" id="{{ tic.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
          <button type="button" class="TMCloseModal" data-dismiss="modal" aria-hidden="true"></button>
          <p class="TMP1">Тема письма</p>
          <p class="TMP2">{{ tic.subject }}</p>
          <p class="TMP1">Кому отправлен</p>
          <p class="TMP2">{{ tic.department }}</p>
          <p class="TMP1">Приоритет письма</p>
          <p class="TMP2">{{ tic.get_priority_display }}</p>
          
          <div class="TMLine"></div>
          
          <ul class="TMUL" id="sms_{{ tic.id }}">
              <li class="Point3">{{ tic.description }}</li>
              
              {% for com in tic.comments.all %}
              	<li class="Point2">{{ com.comment }}</li>
              {% endfor %}
              {% if tic.closed %}
              	<li class="Point1">Вопрос закрыт</li>
              	<script>
              		$("#ajax_post_{{ tic.id }}").css("display", "none;");
              		$("#TMTextarea_{{ tic.id }}").css("display", "none;");
              	</script>
              {% endif %}
          </ul>
          <textarea id="TMTextarea_{{ tic.id }}" class="TMTextarea" name="TMT" id="TMT" rows="3" placeholder="Написать сообщение"></textarea>
          <button id="ajax_post_{{ tic.id }}" class="TMButton">Отправить</button>
      </div>
      <div class="modal-footer">
          <div id="ajax-{{ tic.id }}" class="TMClose" data-dismiss="modal" aria-hidden="true">
          	Закрыть вопрос
          </div>
      </div>
    </div>
  </div>
</div>
<script>
	$('#ajax-{{ tic.id }}').click(function(){
		var id = {{ tic.id }};
		var dicts = {tic: id};
		$.get("{% url 'tickets:close' %}", dicts, function(data){
			$("#sms_{{ tic.id }}").attr("class", "P2CL2TBTDesc");
        });
	});
	$('.TMButton').click(function(){
		;
	}
	);
	$('#ajax_post_{{ tic.id }}').click(function(){
		var id = {{ tic.id }};
		var data = $('#TMTextarea_{{ tic.id }}').val();
		var val = data;
		dicts = {'tic': id,'tic_data': data}
	$.get("{% url 'tickets:ajax-post-add' %}", dicts, function(data){
			$("#tic-{{ tic.id }} P2CL2TBTDesc.act").attr("class", "P2CL2TBTDesc");
			//alert($("#tic-{{ tic.id }} P2CL2TBTDesc.act").val());
			$('#sms_{{ tic.id }}').append('<li class="Point3">' + val + '</li>');
        });
	});
</script>



{% endfor %}

	<div class="Page2Container container-fluid">
        
        <div class="P2CLine1 row-fluid">
            
            <div class="P2CL1Wrapp row-fluid">
                
                <h3 class="P2CL1WLogo col-lg-2 col-sm-4 col-xs-12">
                    proxybase.org
                </h3>
                
                <!--<div class="P2CL1WUser col-lg-3 col-sm-4 col-xs-12">
                    <img src="img/search/user.png" alt="Vladislav Epifanov">
                    Vladislav Epifanov
                </div>-->
                
                <div class="P2CL1WBalance col-lg-2 col-sm-4 col-xs-12">
                    Баланс: {{ request.user.balance }}.
                </div>
                
                <ul class="P2CL1WMenu col-lg-5 col-sm-12 col-xs-12">
                    <li><a href="{% url 'proxy:index' %}">Главная</a></li>
                    <li><a href="{% url 'proxy:proxy-list' %}">Поиск</a></li>
                    <li>Покупки</a></li>
                    <li>Оплата</li>
                    <li class="active"><a href="{% url 'tickets:list' %}">Вопрос/Ответ</a></li>
                </ul>
                
                <div class="clearfix"></div>
            </div> <!-- P2CL1Wrapp -->
            
            <div class="clearfix"></div>
        </div> <!-- P2CLine1 -->
        
        <div class="P2CLine2 row-fluid">
           
            <div class="P2CL2Online col-lg-2 col-md-2 col-xs-4">
                <span>Онлайн: {{ counts }}</span>
            </div>
           
            <div class="P2CL2TicketBlock col-lg-9 col-lg-offset-1 col-md-10">
                
                <div class="P2CL2TBMenu row-fluid">
                    
                    <button class="P2CL2TBMBut1 active">
                    	<a href="{% url 'tickets:create' %}">Задать вопрос</a>
                    </button>
                    <button class="P2CL2TBMBut2">
                        История <span class="badge">{{ count }}</span>
                    </button>
                    
                    <select name="filtr" id="filtr">
                        <option value="1">Все</option>
                        <!--<option value="2">1</option>-->
                    </select>
                    
                    <div class="clearfix"></div>
                </div>
                
                <table class="P2CL2TBTable table table-hover">
                    <thead>
                        <tr>
                            <td class="P2CL2TBTTDW">Кому отправлено</td>
                            <td class="P2CL2TBTTDW">Приоритет письма</td>
                            <td>Текст письма</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for tic in tickets %}
                        	<tr id="tic-{{ tic.id }}" data-toggle="modal" data-target="#{{ tic.id }}">
                            	<td>{{ tic.department }}</td>
                            	<td>{{ tic.get_priority_display }}</td>
                            	{% if tic.closed %}
                            		<td class="P2CL2TBTDesc">
                            			{{ tic.description }}
                            		</td>
                            	{% else %}
                            		<td class="P2CL2TBTDesc act">
                            			{{ tic.description }}
                            		</td>
                            	{% endif %}
                        	</tr>
                        {% endfor %}
                    </tbody>
                </table>
                <!--
                <div class="P2CL2TBResult row-fluid">
                    <span>Сколько показывать результатов: </span>
                    <button class="active">25</button>
                    <button>50</button>
                    <button>100</button>
                    <div class="clearfix"></div>
                </div>
                
                <ul class="P2CL2TBNav">
                    <li class="prev">Назад</li>
                    <li class="point active">1</li>
                    <li class="point">2</li>
                    <li class="point">3</li>
                    <li>...</li>
                    <li class="point">7</li>
                    <li class="next">Вперед</li>
                </ul>-->
                
            </div>
            
            <div class="clearfix"></div>
        </div> <!-- P2CLine2 -->
        
            
            <div class="clearfix"></div>
        </div> <!-- P2CLine3 -->
        
	    <div class="clearfix"></div>
	</div> <!-- Page2Container -->
	
	<script type="text/javascript">
        $(document).ready(function(){
            
        });
    </script>

	<!--[if lt IE 9]>
	<script src="{% static "libs/html5shiv/es5-shim.min.js" %}"></script>
	<script src="{% static "libs/html5shiv/html5shiv.min.js" %}"></script>
	<script src="{% static "libs/html5shiv/html5shiv-printshiv.min.js" %}"></script>
	<script src="{% static "libs/respond/respond.min.js" %}"></script>
	<![endif]-->

	<!-- Подгрузка CSS файлов. Закомментировать данный код после релиза сайта -->
	<!--<script>
		function loadCSS(hf) {
			var ms=document.createElement("link");ms.rel="stylesheet";
			ms.href=hf;document.getElementsByTagName("head")[0].appendChild(ms);
		}
		loadCSS("{% static "libs/animate/animate.css" %}"); //Load Libs CSS: Animate CSS
		loadCSS("{% static "_header.css" %}");              //Header Styles (compress & paste to header after release)
		loadCSS("{% static "_main.css" %}");                //User Styles: Main
		loadCSS("{% static "_media.css" %}");               //User Styles: Media
	</script>-->

	<!-- Подгрузка сжатого CSS файла. Раскомментировать на момент релиза сайта -->
	<script>var ms=document.createElement("link");ms.rel="stylesheet";
		ms.href="{% static "compiled.min.css" %}";document.getElementsByTagName("head")[0].appendChild(ms);
	</script>

	<!-- Load Scripts -->
	<script>var scr = {"scripts":[
		{"src" : "{% static "libs/modernizr/modernizr.js" %}", "async" : false},
		{"src" : "{% static "libs/waypoints/waypoints.min.js" %}", "async" : false},
		{"src" : "{% static "libs/animate/animate-css.js" %}", "async" : false},
		{"src" : "{% static "libs/plugins-scroll/plugins-scroll.js" %}", "async" : false},
		{"src" : "{% static "js/common.js" %}", "async" : false}
		]};!function(t,n,r){"use strict";var c=function(t){if("[object Array]"!==Object.prototype.toString.call(t))return!1;for(var r=0;r<t.length;r++){var c=n.createElement("script"),e=t[r];c.src=e.src,c.async=e.async,n.body.appendChild(c)}return!0};t.addEventListener?t.addEventListener("load",function(){c(r.scripts);},!1):t.attachEvent?t.attachEvent("onload",function(){c(r.scripts)}):t.onload=function(){c(r.scripts)}}(window,document,scr);
	</script>

</body>
</html>


{% comment %}
{% block content %}
	{% if tickets %}
		<div class="ticket">
			{% for tick in  tickets %}
				<a href="{% url 'tickets:detail' tick.id %}">{{ tick.subject }}</a><br>
			{% endfor %}
		</div>
	{% else %}
		<div class="ticket-off">
			<p>Пусто</p>
		</div>
	{% endif %}
	<div class="ticket-link">
		<a href="{% url 'tickets:create' %}">создать тикет</a>
	</div>
{% endblock content %}
{% endcomment %}