{% extends "base.html" %}

{% block content %}
	{% if news %}
		{% for new in  news%}
			<div class="news-title">
				{{ new.title }}
			</div>
			<br>
			<div class="news-text">
				{{ new.text }}
			</div>
		{% endfor %}
	{% else %}
		<p>нет новостей</p>
	{% endif %}
{% endblock content %}