{% load i18n %}
<header>
  <nav class="clear">
    <ul>
      <li><a href="{% url 'proxy:index' %}">{% trans "Главная" %}</a></li>
      <li><a href="{% url 'proxy:proxy-list' %}">{% trans "Фильтр" %}</a></li>
      
      {% if request.user.is_authenticated %}
        <li><a href="{% url 'prof:profile' request.user.id %}">{% trans "Профиль" %}</a></li>
      {% endif %}
      
      {% if request.user.is_superuser %}
        <li><a href="{% url 'proxy:service' %}">{% trans "Сервис" %}</a></li>
        <li><a href="{% url 'admin:index' %}">{% trans "Админ" %}</a></li>
      {% endif %}
      
      {% if request.user.is_authenticated %}
          <li><a href="" title="Пополнить баланс">{{ request.user.balance }}</a></li>
      {% endif %}
      
      <li><a href="{% url 'faq:index' %}">{% trans "f.a.q" %}</a></li>
      <li><a href="{% url 'news:index' %}">{% trans "новости" %}</a></li>
      <li><a href="{% url 'tickets:list' %}">{% trans "Вопрос/Ответ" %}</a></li>

      {% if request.user.is_authenticated %}
        <li><a href="{% url 'django.contrib.auth.views.logout' %}">{% trans "Выход" %}</a></li>
      {% else %}
        <li><a href="{% url 'django.contrib.auth.views.login' %}">{% trans "Вход" %}</a></li>
      {% endif %}

      <li><a href="">Online {{ count }}</a></li>
    </ul>
  </nav>
</header>