{% extends "base.html" %}

{% block content %}
	{% if faq %}
		{% for f in faq %}
			<div class="faq-title">
				{{ f.title }}
			</div>
			<br>
			<div class="faq-text">
				{{ f.text }}
			</div>
		{% endfor %}
	{% else %}
		<p>нет F.A.Q</p>
	{% endif %}
{% endblock content %}