html, body{
    height: 100%;
}
.Footer{
    /*position: relative !important;*/
    z-index: -1;
    /*bottom: 0;*/
}

/*.Page2Container, #country, #proxy{
    height: 100%;
}*/
.a-reg, .a-reg:hover{
    color: #000;
}
.P2CL2BTNGMenu label {
    height: 4px !important;
    padding: 0 0 0 25px !important;
    font-size: 13px !important;
    margin: 0px 0 20px 0 !important;
}
.P2CL2TBMBut1 {
    background-color: #1794e1 !important;
}
.P2Country{
    background-color: #fff;
    width: 100%;
    text-align: left;
    font-family: "RobotoLight", sans-serif;
    font-size: 16px;
    color: #848484;
    border: 2px solid #d3d3d3;
    border-radius: 4px;
    overflow: hidden;
    padding: 6px 25px 6px 12px;
}
.P2Country:hover{
    background-color: #fff;
    border: 2px solid #1794e1;
    cursor: pointer;
}
.SearchInfoModal {
    position: fixed;
    left: 0;
    top: 0;
    outline: 0;
    z-index: 55;
    right: 0;
    bottom: 0;
    margin: -30px auto;
    /* display: table; */
}
.SIMlist {
    overflow-y: auto;
    height: 150px;
}
.active{
    color:#1794e1;
    border-bottom: 2px solid #1794e1;
}
.a-active{
    color:#1794e1 !important;
}

.P2CL1WMenu a:hover {
    color: #1794e1;
    text-decoration: none;
}

.P2CL1WMenu a {
    color: #323232;
    cursor: pointer;
    text-decoration: none;
}

.P2CL1WMenu li:hover {
    color: #1794e1;
}

.SIMlist ul li.active-bl{
    padding: 0;
    background-image: none;
    background-position: left center;
    background-repeat: no-repeat;
    color: #1794e1;
}
.SIMlist ul li.active-bl.active-bl:before {
    content: '\2714';
    color: green;
    padding: 0 5px 0 0;
}
.P2CL3TrInfo input{
    width: 90%;
    background-color: #fff;
    border: 0;
    /* outline: none; */
    font-family: "RobotoLight", sans-serif;
    font-size: 16px;
}
.P2CL2RadioBlock2 {
    background-color: #f5f5f5;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    text-align: left;
    font-family: "RobotoLight", sans-serif;
    font-size: 16px;
    color: #848484;
    border: 2px solid #d3d3d3;
    overflow: hidden;
    max-width: 155px;
    margin: 2px 15px;
    border-radius: 4px;
}
.P2CL2RadioBlock2 h3 {
    font-family: "RobotoRegular", sans-serif;
    font-size: 16px;
    margin: 10px;
}
.P2CL2RadioBlock2 ul {
    list-style: none;
    margin: 10px;
    padding: 0;
}
.InfoModal{
    margin: 0 25% 0 25%;
    position: fixed;
    z-index: 10;
    display: none;
}
.TickFormButton {
    color: #fff;
    background-color: #1794e1;
    display: block;
    padding: 10px 35px;
    margin: 20px auto 0 auto;
    border: 0;
    border-radius: 4px;
    font-family: "RobotoMedium", sans-serif;
    font-size: 14px;
    opacity: .8;
    outline: none;
}

.P2CL2BlocksLeft {
    float: left;
    width: 80%;
    max-width: 950px;
}
.P2CL2RadBlock {
    max-width: 175px;
    width: 20%;
    float: left;
}
.login-form input{
    font-family: "RobotoLight", sans-serif;
    font-size: 16px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 2px;
    background-color: rgba(0,0,0,0);
    display: block;
    margin: 0 auto !important;
    width: 100%;
    max-width: 270px;
    outline: none;
}


/* Карта на главной*/
.map-index{
    width: 1100px;
    height: 500px;
}
@media screen and (max-width: 1200px) {
    .map-index{
        width: 1100px;
        height: 500px;
    }
}
@media screen and (max-width: 1000px) {
    .map-index{
        width: 900px;
        height: 480px;
    }
}
@media screen and (max-width: 800px) {
    .map-index{
        width: 700px;
        height: 400px;
    }
}
@media screen and (max-width: 700px) {
    .map-index{
        width: 600px;
        height: 350px;
    }
}
@media screen and (max-width: 600px) {
    .map-index{
        width: 500px;
        height: 300px;
    }
}
@media screen and (max-width: 480px) {
    .map-index{
        width: 400px;
        height: 200px;
    }
}
@media screen and (max-width: 400px) {
    .map-index{
        width: 300px;
        height: 200px;
    }
}
