{% extends "base.html" %}

{% block content %}
	

в состоянии проверки: {{ proxys_all|length }}<br>
{% if proxys_off %}
	Нерабочих {{ proxys_off|length }}<br>
{% endif %}


{% if proxys_on %}
	Рабочих {{ proxys_on|length }}<br>
{% endif %}
	{% for p in proxys_on %}
		{{ p.ip }}:{{ p.port }}<br>
	{% endfor %}

{% endblock content %}