{% extends "base.html" %}
{% load i18n %}

{% block content %}


<p>Уведомление</p>
	{% if request.user.jabber %}
		<form action="{% url 'prof:formsave' %}" method="post">
			{% csrf_token %}
			<label for="id_push_jabber">Jabber:</label>
			{{ form.push_jabber }}
			<input type="submit" name="" value="сохранить">
		</form>
	{% else %}
		<form action="{% url 'prof:formsave' %}" method="post">
			{% csrf_token %}
			<label for="id_push_email">Email:</label>
			{{ form.push_email }}
			<input type="submit" name="" value="сохранить">
		</form>
	{% endif %}

<button><a href="{% url 'prof:proxypay' %}">{% trans "Купленные прокси" %}</a></button><br>



<p> купленные списки</p>
	
	{% for proxy in iplist %}
		<li><a href="{% url "prof:iplist" proxy.id %}" title="купленные списки">{{ proxy.namelist }}</a>
		</li>
	{% endfor %}
	<br>


{% comment %}
<p> купленные беки </p>
	<ul>
	{% for p in port %}
		<li>
			{{request.user.get_name_split}}:{{p.password}}@109.236.88.132:{{ p.port }} 
			реальный ip -> {{p.ipreal}}
		</li>
	{% endfor %}
	</ul>
<br>
{% endcomment %}



в состоянии проверки: {{ proxys_all|length }}<br>
{% if good %}
	Рабочих {{ good|length }}<br>
	{% for p in good %}
		{{ p.ip }}:{{ p.port }}<br>
	{% endfor %}
{% endif %}

{% if dead|length > 0 %}
	Нерабочих {{ dead|length }}<br>
	{% for p in dead %}
		{{ p.ip }}:{{ p.port }}<br>
	{% endfor %}
{% endif %}

{% if proxys_off %}
	Нерабочих {{ proxys_off|length }}<br>
{% endif %}
{% if proxys_on %}
	Рабочих {{ proxys_on|length }}<br>
{% endif %}

{% if not dead and not good %}
	<a href="{% url 'prof:profile-dead' request.user.id %}" title="">Нерабочих</a>
	<a href="{% url 'prof:profile-good' request.user.id %}" title="">Рабочих</a>
{% endif %}
{% endblock %}
