{% extends "base.html" %}
{% load i18n %}

{% block content %}
	<tr>
		<td>| IP |</td>
		<td>Страна |</td>
		<td>Город |</td>
		<td>Продавец |</td>
		<td>Зип |</td>
		<td>Часовой пояс |</td>
		<td>Домен |</td>
		<td>Блэк лист |</td>
		<br>
		<br>
		<hr>
		{% if orders %}
			{% for order in orders %}
				<td>| {{ order.socks.ipreal }} |</td>
				<td>{{ order.socks.country }} |</td>
				<td>{{ order.socks.city }} |</td>
				<td>{{ order.socks.vendor }} |</td>
				<td>{{ order.socks.postal_code }} |</td>
				<td>{{ order.socks.gmt }} |</td>
				<td>{{ order.socks.dns }} |</td>
				<td>{{ order.socks.blacklist }} |</td>
				<br>
				<br>
				куплен на срок {{ order.get_term_display }}
				<br>
				<br>
				цена {{ order.amount }}
				<br>
				{{ order.term_result }}<br><br>
				<button>подлючить на порт</button>
				<button>продлить</button>
				<button>info</button><br><br>
			{% endfor %}
		<br>
		<form action="" method="post">
			{% csrf_token %}
			{{ form }}<br>
			<input type="submit" name="button" value="отправить">
		</form>
		<br>
		<p>мои заметки</p>
		{% for notes in request.user.notes_set.all %}
			{{ notes }}
		{% endfor %}
		<br>
		<p>Другое</p>
		
	
		<p> купленные беки </p>
		<ul>
		{% for p in ports %}
			<li>
				{{request.user.get_name_split}}:{{p.password}}@{{ p.worker }}:{{ p.port }}
				реальный ip > {{ p.ipreal }}
				<button><a href="{% url 'pay:returns' p.id %}">возврат</a></button>
			</li>
		{% endfor %}
		</ul>
		<br>
		
		{% else %}
			<li>{% trans "У вас нет купленных прокси" %}</li>
		{% endif %}
	</tr>
	{% if iplists %}
		sdfghnj
	{% endif %}
	
{% endblock content %}