{% extends "base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load i18n %}
{% block content %}
<!-- Стили и скрипты для Vue.js -->
<script src="{% static "js/vue.js" %}"></script>
<!--<script src="https://unpkg.com/vue"></script>-->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<!--НАСТРОЙКИ-->
<div class="ModalSetting4 modal fade" id="ModalSetting4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">

                <button type="button" class="SIMCloseModal" data-dismiss="modal" aria-hidden="true"></button>

                <div class="MS4Block1">
                    <h4>Группы стран</h4>

                    <form method="post">
                        <ul class="MS4B1Menu">
                            <label><input type="checkbox" value="1" name="countries"><span></span> Все страны</label>
                            <label><input type="checkbox" value="2" name="countries"><span></span> Страны европы</label>
                            <label><input type="checkbox" value="3" name="countries"><span></span> Мои страны</label>
                        </ul>
                    </form>

                    <div class="MS4B1Line"></div>

                    <a class="MS4B1Link" href="#">+ Создать группу</a>
                </div>

                <div class="MS4Block2">
                    <h4>Выберите страну</h4>

                    <input type="text" placeholder="Введите текст.." maxlength="20">

                    <div class="MS4B2Countries">
                        <div>
                            <img src="img/search/flag.png" alt="Flag">
                            Albania
                        </div>
                    </div>

                </div>

                <div class="MS4Block3">

                    <div class="MS4B3Top">
                        <h4>Настройка</h4>

                        <div class="MS4B3TPrice">
                            Цена за 1 день <input type="text" value="7" maxlength="3"> $
                        </div>

                        <div class="MS4B3TPrice">
                            Цена за 2 день <input type="text" value="25" maxlength="3"> $
                        </div>

                        <div class="MS4B3TPrice">
                            Цена за 3 день <input type="text" value="30" maxlength="3"> $
                        </div>

                        <button>Вернуть стандартную цену</button>
                    </div>

                    <ul class="MS4B1Menu">
                        <label><input type="checkbox" value="1" name="countries"><span></span> Активироват скидки по блек-листам</label>
                    </ul>

                    <div class="MS4B3Center">
                        <h4>Скидка блек-листа</h4>

                        <div class="MS4B3CWrap">

                            <div class="MS4B3CWBlock">

                                <h5>За 1 блек</h5>

                                <div class="MS4B3CWBBottom row-fluid">

                                    <div class="MS4B3CWBBLeft col-xs-6">Скидка: <span>7</span>%</div>
                                    <div class="MS4B3CWBBRight col-xs-6">
                                        <button>Изменить</button>
                                    </div>

                                    <div class="clearfix"></div>
                                </div>

                            </div>

                            <div class="MS4B3CWBlock">

                                <h5>За 2 блек</h5>

                                <div class="MS4B3CWBBottom row-fluid">

                                    <div class="MS4B3CWBBLeft col-xs-6">Скидка: <span>30</span>%</div>
                                    <div class="MS4B3CWBBRight col-xs-6">
                                        <button>Изменить</button>
                                    </div>

                                    <div class="clearfix"></div>
                                </div>

                            </div>

                            <div class="MS4B3CWBlock">

                                <h5>За 3 блек</h5>

                                <div class="MS4B3CWBBottom row-fluid">

                                    <div class="MS4B3CWBBLeft col-xs-6">Скидка: <span>40</span>%</div>
                                    <div class="MS4B3CWBBRight col-xs-6">
                                        <button>Изменить</button>
                                    </div>

                                    <div class="clearfix"></div>
                                </div>

                            </div>

                            <div class="MS4B3CWBlock">

                                <h5>За 4 и более блек</h5>

                                <div class="MS4B3CWBBottom row-fluid">

                                    <div class="MS4B3CWBBLeft col-xs-6">Скидка: <span>70</span>%</div>
                                    <div class="MS4B3CWBBRight col-xs-6">
                                        <button>Изменить</button>
                                    </div>

                                    <div class="clearfix"></div>
                                </div>

                            </div>

                        </div>
                    </div>

                    <ul class="MS4B1Menu">
                        <label><input type="checkbox" value="1" name="countries"><span></span> Активироват акционные скидки</label>
                    </ul>

                    <div class="MS4B3Bottom">
                        <h4>Акционная скидка</h4>

                        <div class="MS4B3BInput">
                            С <input type="text" value="12" maxlength="2">
                            <select name="" id="">
                                <option value="">Июля</option>
                            </select>
                            ПО <input type="text" value="27" maxlength="2">
                            <select name="" id="">
                                <option value="">Июля</option>
                            </select>

                            <div class="MS4B3BILine"></div>

                            Скидка <input type="text" value="30" maxlength="2"> %
                        </div>
                    </div>

                </div>

                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<!-- Блок контент -->
<div id="profile" class="P2CLine2 row-fluid">
            <div class="P2CLLeft col-lg-9 col-lg-offset-1 col-md-10">
                <div class="P2CLLTop row-fluid">
                    <!--<button class="P2CLLTLButton1" data-toggle="modal" data-target="#ModalSetting1">Сменить пароль</button>
                        <button class="P2CLLTLButton1" data-toggle="modal" data-target="#ModalSetting2">Сменить почту/джаббер</button>

                        <button class="P2CLLTLButton2" data-toggle="modal" data-target="#ModalSetting3">Кошелек для вывода средств</button>
                    </div>-->

                    <div class="P2CLLTRight col-md-8">
                        <p class="active">Рейтинг: </p>
                        <p>Регистрация {{request.user.created}}</p>
                    </div>

                    <div class="clearfix"></div>
                </div>

                <div class="Password col-md-6">
                    <div class="PWrap div-shadow" style="text-align:center;">
                        <h3>Смена пароля</h3>
                        <div style="height:6px;"></div>
                        <form id="pForm"
                            action="{% url 'prof:pass_change' %}"
                            method="post">
                            {%csrf_token%}
                            <!--<div class="PWBIn" style="margin:0 31px 0 0;"></div>-->
                            {% if pass_form.errors %}
                                {{pass_form.old_password.error}}
                            {%endif%}
                            {{pass_form.old_password|attr:"placeholder:Старый пароль"}}
                            <div style="margin:20px 0;"></div>
                            <!--<div class="PWBIn" style="margin:0 36px 0 0;">Новый пароль</div>-->
                            {% if pass_form.errors %}
                                {{pass_form.new_password1.error}}
                            {%endif%}
                            {{pass_form.new_password1|attr:"placeholder:Новый пароль"}}
                            <div style="margin:20px 0;"></div>
                            <!--<div class="PWBIn" style="margin:0 10px 0 0;">Повторите пароль</div>-->
                            {% if pass_form.errors %}
                                {{pass_form.new_password2.error}}
                            {%endif%}
                            {{pass_form.new_password2|attr:"placeholder:Повторите пароль"}}
                            <button
                                type="submit"
                                name="onPass">
                                Сменить пароль
                            </button>
                        </form>
                    </div>
                </div>

                <div class="Email col-md-6">
                    <div class="EWrap div-shadow" style="text-align:center;">
                        <h3>Смена почты</h3>
                        <div class="PWBIn" style="margin:0 auto;">Действующая почта</div>
                        <span>{{ request.user.email }}</span>
                        <form id="eForm" action="" method="post">
                            {%csrf_token%}
                            {{email_form.email_jabber}}
                            <button>Отправить код на jabber/email</button>
                        </form>
                        <form id="mForm" action="" method="post">
                            {%csrf_token%}
                            {{email_form.message}}
                            <button>Подтвердить</button></button>
                        </form>
                        <a href="#">Проблемы с почтой</a>
                    </div>
                </div>

                <div class="clearfix"></div>

            <div class="Password col-md-6">
                <div class="Popolnit div-shadow">
                   <h3>Пополнить</h3>


                   <form id="coin" action="" method="post">
                        {% csrf_token %}
                       <div class="PWBIn" style="margin:0 31px 0 0;">Введите сумму пополнения</div>
                    <span style="margin:0 31px 0 0;">{{form_bit}}</span>

                   <span>US$   =   <b id="coinB"></b></span>
                   <div style="margin:20px 0;"></div>
                   <div>
                       <div class="PWBIn" style="margin:0 25px 0 0;">Кошелек для оплаты</div>
                       <b id="purse"></b>
                       <span>                     </span>
                   </div>
                   <p style="height:15px;"></p>
                   <button>Пополнить</button>
                   </form>
                </div>
            </div>
            <div class="Password col-md-6">
                <div class="Popolnit div-shadow">
                   <h3>Кошелек для вывода</h3>

                   <div class="PWBIn" style="margin:0 20px 0 0;">Кошелек</div>
                   <input type="text" id="name4" placeholder="" maxlength="255" style="margin:0 31px 0 0;max-width:200px;">
                   <span><b>BTC</b></span>
                   <div style="margin:20px 0;"></div>

                   <span><b>                    </b></span>
                   <input type="text" id="name4" placeholder="Код из E-mail" maxlength="255" style="margin:0 31px 0 0;max-width:200px;">

                   <button>Подтвердить</button>
                </div>
            </div>
            <div class="clearfix"></div>

            {% if ref %}
            <div class="Popolnit div-shadow">
                <p>
                    Ваш код партнерской программы - {{request.user.id}}
                </p>
                <form id="rForm" action="" method="post">
                    {% csrf_token %}
                    {{ref.as_p}}
                    <button>Подтвердить</button>
                </form>
            </div>
            {% endif %}

                <div class="P2CLLUp row-fluid div-shadow">

                    <h3><strong>Управление прокси</strong></h3>

                    <div class="P2CLLUBlock row-fluid col-md-3">

                        <div class="P2CLLUBLeft col-sm-7">Лист №1</div>
                        <button class="P2CLLUBRight col-sm-5" data-toggle="modal" data-target="#ModalSetting4">Управление</button>

                        <div class="clearfix"></div>
                    </div>

                    <div class="P2CLLUBlock row-fluid col-md-3">

                        <div class="P2CLLUBLeft col-sm-7">Лист №2</div>
                        <button class="P2CLLUBRight col-sm-5" data-toggle="modal" data-target="#ModalSetting4">Управление</button>

                        <div class="clearfix"></div>
                    </div>

                    <div class="P2CLLUBlock row-fluid col-md-3">

                        <div class="P2CLLUBLeft col-sm-7">Лист №3</div>
                        <button class="P2CLLUBRight col-sm-5" data-toggle="modal" data-target="#ModalSetting4">Управление</button>

                        <div class="clearfix"></div>
                    </div>

                    <div class="clearfix"></div>
                </div>

                <div class="P2CLLUp row-fluid div-shadow">

                    <h3><strong>История посещений</strong></h3>

                    <!--THE FIRST VIEW-->
                    <div class="P2CLLUTable table-responsive div-shadow">
                        <table class="table">
                            <thead>
                                <tr>
                                    <td><strong>Время</strong></td>
                                    <td><strong>Страна</strong></td>
                                    <td><strong>Браузер</strong></td>
                                    <td><strong>Метод входа</strong></td>
                                    <td><strong>Расширение</strong></td>
                                </tr>
                            </thead>
                            <tbody>
                                {% for l in log %}
                                <tr>
                                    <td>{{l.created}}</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <button>Посмотреть расширение</button>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!--THE FIRST VIEW-->

                    <div class="clearfix"></div>
                </div>

                <div class="clearfix"></div>
            </div>

            <div class="clearfix"></div>
        </div> <!-- P2CLine2 -->

            <div class="clearfix"></div>
        </div> <!-- P2CLine3 -->

<script>
var prof = new Vue({
    el: '#profile',
    delimiters: ['${', '}'],
    data() {
        return {
            pass: ''
        }
    },
    methods: {
        onPass: function(){
             document.getElementById("pForm").submit();
        }
    }
});
$(document).ready(function(){
    $('#mForm').hide();
});
$('#pForm').submit(function(e){
    e.preventDefault();
    $.ajax({
      url: "{% url 'prof:pass_change' %}",
      type: "POST",
      data: $('#pForm').serialize(),
      success: function(data) {
        alert(data);
      },
      error: function(response) {
          //
     }
    });
});
$('#eForm').submit(function(e){
    e.preventDefault();
    $('#eForm').hide();
    $('#mForm').show();
    $.ajax({
      url: "{% url 'prof:email_jabber_change' %}",
      type: "POST",
      data: $('#eForm').serialize(),
      success: function(data) {
        alert(data);
      },
      error: function(response) {
          //
     }
    });
});
$('#mForm').submit(function(e){
    e.preventDefault();
    $.ajax({
      url: "{% url 'prof:email_jabber_change' %}",
      type: "POST",
      data: $('#mForm').serialize(),
      success: function(data) {
        alert("Изменено");
        $('#mForm').hide();
        $('#eForm').show();
      },
      error: function(response) {
          //
     }
    });
});
$('#rForm').submit(function(e){
    e.preventDefault();
    $.ajax({
      url: "{% url 'referral:add_ref' %}",
      type: "POST",
      data: $('#rForm').serialize(),
      success: function(data) {
        alert(data);
      },
      error: function(response) {
          //
     }
    });
});
$('#coin').submit(function(e){
    e.preventDefault();
    $.ajax({
      url: "{% url 'prof:create_pay' %}",
      type: "POST",
      data: $('#coin').serialize(),
      success: function(data) {
        var obj = $.parseJSON(data)
        $('#coinB').text(obj.bit + " BTC");
        $('#purse').text(obj.purse);
      },
      error: function(response) {
          //
     }
    });
});
</script>

{%comment%}
<p>Уведомление</p>

	{% if request.user.jabber %}
		<form action="{% url 'prof:formsave' %}" method="post">
			{% csrf_token %}
			<label for="id_push_jabber">Jabber:</label>
			{{ form.push_jabber }}
			<input type="submit" name="" value="сохранить">
		</form>
	{% else %}
		<form action="{% url 'prof:formsave' %}" method="post">
			{% csrf_token %}
			<label for="id_push_email">Email:</label>
			{{ form.push_email }}
			<input type="submit" name="" value="сохранить">
		</form>
	{% endif %}
{%endcomment%}

{%comment%}
<p> купленные списки</p>

	{% for proxy in iplist %}
		<li><a href="{% url "prof:iplist" proxy.id %}" title="купленные списки">{{ proxy.namelist }}</a>
		</li>
	{% endfor %}
	<br>
{%endcomment%}

{% comment %}
<p> купленные беки </p>
	<ul>
	{% for p in port %}
		<li>
			{{request.user.get_name_split}}:{{p.password}}@109.236.88.132:{{ p.port }}
			реальный ip -> {{p.ipreal}}
		</li>
	{% endfor %}
	</ul>
<br>
{% endcomment %}


{%comment%}
в состоянии проверки: {{ proxys_all|length }}<br>
{% if good %}
	Рабочих {{ good|length }}<br>
	{% for p in good %}
		{{ p.ip }}:{{ p.port }}<br>
	{% endfor %}
{% endif %}

{% if dead|length > 0 %}
	Нерабочих {{ dead|length }}<br>
	{% for p in dead %}
		{{ p.ip }}:{{ p.port }}<br>
	{% endfor %}
{% endif %}

{% if proxys_off %}
	Нерабочих {{ proxys_off|length }}<br>
{% endif %}
{% if proxys_on %}
	Рабочих {{ proxys_on|length }}<br>
{% endif %}

{% if not dead and not good %}
	<a href="{% url 'prof:profile-dead' request.user.id %}" title="">Нерабочих</a>
	<a href="{% url 'prof:profile-good' request.user.id %}" title="">Рабочих</a>
{% endif %}
{%endcomment%}

{% endblock %}
