{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load rest_framework %}
{% block modal %}
<script src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.11.2/jquery-ui.min.js"></script>
   <link rel="stylesheet" href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.11.2/themes/sunny/jquery-ui.css">


   <!-- Модальное окно -->
   <script  type="text/x-template" id="modal-template">
   <transition  name="modal">
       <div  id="drag" class="SearchInfoModal ui-widget ui-corner-all" role="dialog" aria-hidden="false" style="display: block;">
       <div  class="modal-dialog"><!--  -->
       <div class="modal-content">
         <div class="modal-body">

             <button type="button" class="SIMCloseModal" data-dismiss="modal" @click="mClose"></button>

             <div class="SIMBLeft">
                 <div class="SIMBLBlock">
                     <div class="SIMBLBLeft">
                         IP
                     </div>
                     <div class="SIMBLBRight">
                         ${ip}
                       <div class="SIMBLBRDop">
                           <span>${stat}</span>
                       </div>
                     </div>

                     <div class="clearfix"></div>
                 </div>

                 <div class="SIMBLBlock">
                     <div class="SIMBLBLeft">
                         Страна
                     </div>
                     <div class="SIMBLBRight">
                           ${country}
                     </div>
                     <div class="clearfix"></div>
                 </div>

                 <div class="SIMBLBlock">
                     <div class="SIMBLBLeft">
                         Штат
                     </div>
                     <div class="SIMBLBRight">
                         ${region}
                     </div>
                     <div class="clearfix"></div>
                 </div>

                 <div class="SIMBLBlock">
                     <div class="SIMBLBLeft">
                         Город
                     </div>
                     <div class="SIMBLBRight">
                         ${city}
                     </div>
                     <div class="clearfix"></div>
                 </div>

                 <div class="SIMBLBlock">
                     <div class="SIMBLBLeft">
                         Продавец
                     </div>
                     <div class="SIMBLBRight">
                         ${vendor|test}
                     </div>
                     <div class="clearfix"></div>
                 </div>

                 <div class="SIMBLBlock">
                     <div class="SIMBLBLeft">
                         Индекс
                     </div>
                     <div class="SIMBLBRight">
                         ${index}
                     </div>
                     <div class="clearfix"></div>
                 </div>

                 <div class="SIMBLBlock">
                     <div class="SIMBLBLeft">
                         Часовой пояс
                     </div>
                     <div class="SIMBLBRight">
                        GMT ${gmt}
                     </div>
                     <div class="clearfix"></div>
                 </div>

                 <div class="SIMBLBlock">
                     <div class="SIMBLBLeft">
                         Хостинг
                     </div>
                     <div class="SIMBLBRight">
                         ${dns}
                     </div>
                     <div class="clearfix"></div>
                 </div>

                 <div class="SIMBLBlock">
                     <div class="SIMBLBLeft">
                         Скорость прокси
                     </div>
                     <div class="SIMBLBRight">
                         ${loads} ${speeds}
                         <button @click="speed">Проверить</button>
                     </div>

                     <div class="clearfix"></div>
                 </div>

             </div>

             <div class="SIMBRight">

                 <div class="SIMBRWrap">
                     <table class="SIMBRWTable">
                         <thead>
                             <tr>
                                 <td>Дни</td>
                                 <td class="text-center">Стоимость</td>
                                 <td></td>
                             </tr>
                         </thead>
                         <tbody>
                             <tr>
                                 <td>1 день</td>
                                 <td class="text-center tdprice">2$</td>
                                 <td>
                                     <!-- <button class="bt1">Купить</button> -->
                                     <button class="bt1" v-on:click="mbuy"
                                     name="1">Продлить</button>
                                 </td>
                             </tr>
                             <tr>
                                 <td>3 деня</td>
                                 <td class="text-center tdprice">5$</td>
                                 <td>
                                     <!-- <button class="bt1">Купить</button> -->
                                     <button class="bt1" v-on:click="mbuy"
                                     name="3">Продлить</button>
                                 </td>
                             </tr>
                             <tr>
                                 <td>Неделя</td>
                                 <td class="text-center tdprice">10$</td>
                                 <td>
                                     <!-- <button class="bt1">Купить</button> -->
                                     <button class="bt1" v-on:click="mbuy"
                                     name="7">Продлить</button>
                                 </td>
                             </tr>
                         </tbody>
                     </table>

                     <div class="SIMBRWLine"></div>
                     <h5><strong>Куплен:</strong></h5>
                     <div class="SIMBRWText">${dt|date}</div>
                     <br />
                     <h5><strong>Времени осталось:</strong></h5>
                     <div class="SIMBRWText">${vss}</div>
                 </div>
             </div>

             <div class="clearfix"></div>

             <div class="SIMPanelGroup panel-group" id="accordion">

                   <div class="panel panel-default">
                       <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" style="cursor:pointer;">
                         <h4 class="panel-title">
                                 <a>
                                   Открыть полную информацию о прокси
                                 </a>
                               </h4>
                       </div>
                       <div id="collapseOne" class="panel-collapse collapse">
                           <div class="panel-body" style="border:0;">
                               123
                           </div>
                       </div>
                   </div>

             </div>

             <div class="SIMLine"></div>

             <div class="SIMlist">
                 <div class="SIMBRBlock">
                     <div class="SIMBRBLeft">
                         Блек лист
                     </div>
                     <div class="SIMBRBRight">
                         <ul>
                             <li class="active-bl" v-for="bl in black">${bl}</li>
                             <li v-show="bltrue" v-for="blno in blackno">${blno}</li>
                         </ul>
                         <button v-on:click="bln">Все блек листы</button>
                     </div>
                     <!-- <div style="float: right;margin: 0 160px 0 0;font-weight: bold;">

                     </div> -->
                     <div class="SIMBRBInfo">
                         <div class="SIMBRBIStatus">${onlin}</div>

                         <p class="p-ip" data-clipboard-target="#ipp">Server IP: <span id="ipp">${server}</span></p>

                         <p class="p-port" data-clipboard-target="#por">IP:port: <span id="por">${port}</span></p>

                         <p class="p-us" data-clipboard-target="#us">Login: <span id="us">{{request.user.get_name_split}}</span></p>

                         <p class="p-pa" data-clipboard-target="#pa">Password: <span id="pa">${pass}</span></p>

                         <div class="SIMBRBIFooter">
                             <button @click="ret">Возврат</button>
                             <button>Подключить на браузер</button>
                         </div>
                     </div>

                     <div class="clearfix"></div>
                 </div>

             </div>
         </div>
       </div>
       </div>
       <!-- Подложка -->
       <div style="z-index:3;
 position:fixed;
 background-color:#000;
 opacity:0.8;
 -moz-opacity:0.8;
 filter:alpha(opacity=80);
 width:100%;
 height:100%;
 top:0;
 left:0;
 cursor:pointer;
 display:none;">

       </div>
       </div>

   </transition>
   </script>
{% endblock modal %}
{% block content %}
<!-- Стили и скрипты для Vue.js -->
<script src="{% static "js/vue.js" %}"></script>
<!--<script src="https://unpkg.com/vue"></script>-->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script src="https://cdn.rawgit.com/zenorocha/clipboard.js/master/dist/clipboard.min.js"></script>

<div id="proxy">

        <modal v-if="showModal" @close="showModal = false"
        :pk="mod[0].id"
        :ids="selecSocks"
        :ip="ipreal"
        :server="mod[0].worker"
        :pass="mod[0].password"
        :port="port"
        :idport="mod[0].id"

        :country="mod[0].socks.country"
        :region="mod[0].socks.region"
        :city="mod[0].socks.city"
        :vendor="mod[0].socks.vendor"
        :postal="mod[0].socks.postal_code"
        :gmt="mod[0].socks.gmt"
        :dns="mod[0].socks.domain"

        :index="mod[0].socks.postal_code"
        :black="bl"
        :blackno="bllno"
        :term="mod[0].term"
        :dt="mod[0].created"

        :summ="100"
        >
        </modal>


<div class="P2CLine2 row-fluid">
    <div v-if="note_s.data" style="background-color: #fff; color: #000; width: 350px; position: fixed; z-index: 2; margin: 0 auto; border: 1px solid #cecece; box-shadow: rgb(218, 218, 218) 0px 5px 2px 0px; text-align: center; opacity 1; transition: opacity 3s ease-in-out;">
        <h3>
            Заметка сохранена
        </h3>
    </div>
           <div class="clearfix"></div>
           <div class="clearfix"></div>
       </div> <!-- P2CLine2 -->

       <!-- ОТОБРАЖЕНИЕ ТАБЛИЦЫ ДЛЯ ДЕСКТОПОВ -->
       <div class="P2CLine3 row-fluid">
           <!-- ОТОБРАЖЕНИЕ ТАБЛИЦЫ ДЛЯ ДЕСКТОПОВ -->
           <table class="P2CL3Table table hidden-xs hidden-sm">
               <thead>
                   <tr>
                       <td>IP</td>
                       <td>Страна</td>
                       <td>Штат</td>
                       <td>Город</td>
                       <td>Продавец</td>
                       <td>Зип</td>
                       <td>Часовой пояс</td>
                       <td>Хостинг</td>
                       <td>Действителен</td>
                       <td></td>
                   </tr>
               </thead>
               <tbody v-for="order in note">
                   {# if orders #}
           			{# for order in orders #}
                    <tr>
                       <td>${order.socks.ipreal}</td>
                       <td>${order.socks.country }</td>
                       <td>${ order.socks.region }</td>
                       <td>${ order.socks.city }</td>
                       <td>${ order.socks.vendor | test }</td>
                       <td>${ order.socks.postal_code }</td>
                       <td>GMT ${ order.socks.gmt }</td>
                       <td>${ order.socks.domain }</td>
                       <td>${ order.term|time(order.created) }</td>
                       <td style="text-align:center;">
                            <input type="button" id="show-modal"
                                class="P2CL3TInsp"
                                v-bind:name="order.socks.ip"
                                v-bind:title="order.socks.id"
                                v-bind:alt="order.id"
                                @click="open" value="Открыть">
                       </td>
                   </tr>
                   <tr class="two">
                       <td class="P2CL3TrInfo" colspan="10">
                           <strong>Заметки:</strong>
                           <input type="text"
                           @keyup.enter="ser"
                           maxlength='100'
                           placeholder="Для сохранения нажмите enter"

                           :name="order.id"
                           :value="order.orderip">
                           <p>
                               <span></span>
                           </p>
                       </td>
                   </tr>
               </tbody>
           </table>

             <!-- ОТОБРАЖЕНИЕ ТАБЛИЦЫ ДЛЯ Мобильных -->
           <div class="P2CL3MWrap visible-xs visible-sm">
                <div class="P2CL3Media row-fluid">
                <div v-for="order in note">
                    <div class="P2CL3MBlock">
                        <span class="P2CL3MLeft">IP:</span>
                        <span class="P2CL3MRight">${order.socks.ipreal}</span>
                        <div class="clearfix"></div>
                    </div>
                    <div class="P2CL3MBlock">
                        <span class="P2CL3MLeft">Страна:</span>
                        <span class="P2CL3MRight">${order.socks.country }</span>
                        <div class="clearfix"></div>
                    </div>
                    <div class="P2CL3MBlock">
                        <span class="P2CL3MLeft">Штат:</span>
                        <span class="P2CL3MRight">${ order.socks.region }</span>
                        <div class="clearfix"></div>
                    </div>
                    <div class="P2CL3MBlock">
                        <span class="P2CL3MLeft">Город:</span>
                        <span class="P2CL3MRight">${ order.socks.city }</span>
                        <div class="clearfix"></div>
                    </div>
                    <div class="P2CL3MBlock">
                        <span class="P2CL3MLeft">Продавец:</span>
                        <span class="P2CL3MRight">${ order.socks.vendor | test }</span>
                        <div class="clearfix"></div>
                    </div>
                    <div class="P2CL3MBlock">
                        <span class="P2CL3MLeft">Зип:</span>
                        <span class="P2CL3MRight">${order.socks.postal_code}
                        </span>
                        <div class="clearfix"></div>
                    </div>
                    <div class="P2CL3MBlock">
                        <span class="P2CL3MLeft">Часовой пояс:</span>
                        <span class="P2CL3MRight">GMT ${ order.socks.gmt }
                        </span>
                        <div class="clearfix"></div>
                    </div>
                    <div class="P2CL3MBlock">
                        <span class="P2CL3MLeft">Хостинг:</span>
                        <span class="P2CL3MRight">${ order.socks.domain }</span>
                        <div class="clearfix"></div>
                    </div>
                    <div class="P2CL3MBlock">
                        <span class="P2CL3MLeft">Действителен:</span>
                        <span class="P2CL3MRight">
                            ${order.term|time(order.created)}
                        </span>
                        <div class="clearfix"></div>
                    </div>
                    <div class="P2CL3MBlock" style="border-bottom:0;text-align:center;">
                        <input type="button" id="show-modal"
                            class="P2CL3TInsp"
                            v-bind:name="order.socks.ip"
                            v-bind:title="order.socks.id"
                            v-bind:alt="order.id"
                            @click="open" value="Открыть">
                    </div>
                    <div class="clearfix"></div>
                </div>
                </div>
                <div class="clearfix"></div>
            </div>


           <div class="clearfix"></div>
       </div> <!-- P2CLine3 -->
</div> <!-- Vue js -->
	{%comment%}
		{% for p in ports %}
			<li>
				{{request.user.get_name_split}}:{{p.password}}@{{ p.worker }}:{{ p.port }}
				реальный ip > {{ p.ipreal }}
				<button><a href="{% url 'pay:returns' p.id %}">возврат</a></button>
			</li>
		{% endfor %}
        {%endcomment%}



<script>
Vue.component('modal', {
    props: [ 'country', 'region', 'city', 'vendor', 'postal', 'gmt', 'dns',
     'ids', 'index', 'ip', 'pass', 'server', 'port', 'black', 'blackno', 'dt',
     'term', 'vss', 'form', 'notesucces', 'pk', 'summ', 'onlin', 'idport'],
    data: function () {
        return {
            note_t: '',
            //note_succes: '',

            bltrue: false,
            term: '',
            loads: '',
            speeds: '',

            pk: "",
            ids: "",
            ip: "",
            server: "",
            pass: "",
            port: "",
            idport: ""
        }
    },
    delimiters: ['${', '}'],
    template: '#modal-template',
    mounted: function () {
        $('#drag').draggable();
        //Текущая дата
         var todayDate = new Date();
         //Выбранная дата
         var dd = this.dt;
         // Количество купленных дней
         var term = this.term;
         var currentDate = new Date(dd);
         currentDate.setDate(currentDate.getDate()+term);
         //Разница во времени
         var dateDifference = currentDate.getTime() - todayDate.getTime();
         //Дата, созданная из остатка времени
         var remainsDate = new Date(dateDifference);
         /*
          * Переменные, отражающие остаток времени в нужном формате
         */
         var remainsSec = (parseInt(remainsDate / 1000));
         var remainsFullDays = (parseInt(remainsSec / (24 * 60 * 60)));
         var secInLastDay = remainsSec - remainsFullDays * 24 * 3600;
         var remainsFullHours = (parseInt(secInLastDay / 3600));
         var secInLastHour = secInLastDay - remainsFullHours * 3600;
         var remainsMinutes = (parseInt(secInLastHour / 60));
         var lastSec = secInLastHour - remainsMinutes * 60;

         this.vss = remainsFullDays+" д. "+remainsFullHours+" ч. "+remainsMinutes+" мин. ";
            // Online
             axios.get("{% url 'proxy:socks_online' %}",{
                 headers: {
                     'X-Requested-With': 'XMLHttpRequest'
                 },
                 params: {
                     "id": this.ids
                 }}).then((response) => {
                         this.onlin = response.data;
                         if (this.onlin == "True"){
                             this.onlin = "Online";
                         }
                         else{
                             this.onlin = "Offline";
                         }
                 }).catch(function (error) {
                         this.selected = error;});
    },
    methods:{
        mClose: function () {
            this.$emit('close');
        },
        bln: function(){
            this.bltrue = true;
        },
        // Продление прокси
        mbuy: function (event) {
            var self = this
            self.term = event.target.name;
            axios.defaults.xsrfHeaderName = "X-CSRFToken";
            axios.post("{% url 'pay:ajax_renewal' %}",{
                data: {
                    "pk": self.ids,
                    "summ": self.summ,
                    "term": self.term
                },
                responseType: 'json'
                }).then((response) => {
                        self.order = response.data;
                        self.$emit('close');
                }).catch(function (error) {
                        self.selected = error;});
        },
        ret: function(){
            var self = this
            axios.get("{% url 'pay:ajax_returns' %}",{
                headers: {
                    'X-Requested-With': 'XMLHttpRequest'
                },
                params: {
                    "id": self.idport
                }}).then((response) => {
                        //self.order = response.data;
                        self.$emit('close');
                }).catch(function (error) {
                        self.selected = error;});
        },
        // Проверка скорости
        speed: function(){
            var self = this
            self.loads = 'Проверка...'
            axios.defaults.xsrfHeaderName = "X-CSRFToken";
            axios.get("{% url 'proxy:change_view' %}",{
                params: {
                    "id": pay.mod[0].socks.id
                }}).then((response) => {
                    self.speeds = response.data
                    self.loads = ''
                }).catch(function (error) {
                    self.selected = error;});
        }
    },
    computed: {
        note_succes: function (){
            return this.note_s;
        }
    },
    filters:{
           test(item){
                var str = String(item);
                if (str=="17"){
                    return str.replace("17", "RTX3");
                }
                if (str=="16"){
                    return str.replace("16", "RTX2");
                }
                if (str=="5"){
                    return str.replace("5", "isocks");
                }
                if (str=="7"){
                    return str.replace("7", "ubnt");
                }
                if (str=="15"){
                    return str.replace("15", "BestProxy");
                }
                if (str=="13"){
                    return str.replace("13", "Mipsel");
                }
        },
        date(item){
            var str = String(item);
            return str.substring(0, 10) + ', ' + str.substring(11, 16);
        }
    }
});

var pay = new Vue({
    el: '#proxy',
    delimiters: ['${', '}'],
    data() {
        return {
            //Поиск
            countries: [],
            sCountry: '',
            //Модальное окно
            showModal: '',
            orders: '',
            //selecIP: '',
            //selecPort: '',
            selecId: '',
            selectSocks: '',
            mod: '',
            proxy: '',

            ipreal: '',
            port: '',
            // Блек листы
            bl: [],
            bllno: [],
            //Заметки
            forms: 'Ввидите текст заметки',
            f_n: " ",
            note: '',
            note_t: '',
            note_s: '',

            noteSave: ''
        }
    },
    created () {
        //Запрос на куплиные прокси
        axios.get("{% url 'pay:ajax_order' %}",{
            }).then((response) => {
                this.note =  response.data.notes
            }).catch(function (error) {
                    this.options = error;});
    },
    computed:{

    },
    filters:{
        test(item){
            var str = String(item);
            if (str=="17"){
                return str.replace("17", "RTX3");
                }
                if (str=="16"){
                    return str.replace("16", "RTX2");
                }
                if (str=="5"){
                    return str.replace("5", "isocks");
                }
                if (str=="7"){
                    return str.replace("7", "ubnt");
                }
                if (str=="15"){
                    return str.replace("15", "BestProxy");
                }
                if (str=="13"){
                    return str.replace("13", "Mipsel");
                }
        },
        time (item, created) {
            //Текущая дата
             var todayDate = new Date();
             //Выбранная дата
             var dd = created;
             console.log(dd)
             // Количество купленных дней
             var term = parseInt(item);
             var currentDate = new Date(dd);
             currentDate.setDate(currentDate.getDate()+term);
             //Разница во времени
             var dateDifference = currentDate.getTime() - todayDate.getTime();
             //Дата, созданная из остатка времени
             var remainsDate = new Date(dateDifference);
             /*
              * Переменные, отражающие остаток времени в нужном формате
             */
             var remainsSec = (parseInt(remainsDate / 1000));
             var remainsFullDays = (parseInt(remainsSec / (24 * 60 * 60)));
             var secInLastDay = remainsSec - remainsFullDays * 24 * 3600;
             var remainsFullHours = (parseInt(secInLastDay / 3600));
             var secInLastHour = secInLastDay - remainsFullHours * 3600;
             var remainsMinutes = (parseInt(secInLastHour / 60));
             var lastSec = secInLastHour - remainsMinutes * 60;

             return time = remainsFullDays+" д. "+remainsFullHours+" ч. "+remainsMinutes+" мин. ";

            }
    },
    methods: {
        // Модальное акно
        open: function(event){
            var self = this;
                this.f_n = '';
                //self.selecIP = event.target.name
                //self.selecPort = event.target.title
                self.selecSocks = event.target.title
                self.selecId = event.target.alt

                  axios.get("{% url 'pay:ajax_port' %}",{
                      headers: {
                          'X-Requested-With': 'XMLHttpRequest'
                      },
                      params: {
                         // ip: self.selecIP,
                         // port: self.selecPort,
                          id: self.selecId
                      }}).then((response) => {
                          Vue.set(self, 'mod', response.data.ports);
                          Vue.set(self, 'proxy', response.data.proxy);
                          // Выделение ИП и порта
                          str = self.mod[0].ipreal.indexOf(":");
                          self.ipreal = self.mod[0].ipreal.substring(0, str);

                          //str.indexOf(":");
                          self.port = self.mod[0].port;
                          //self.port = self.mod[0].ipreal.substring(str);
                          // сравнение массивов блеков
                          if (self.mod[0].socks.blacklist){
                            self.bl = self.mod[0].socks.blacklist.split(' ');
                            self.bllno = [  'sbl.spamhaus.org',
                                        	'xbl.spamhaus.org',
                                        	'css.spamhaus.org',
                                        	'pbl.spamhaus.org',
                                        	'cbl.abuseat.org',
                                        	'bl.spamcop.net',
                                        	'b.barracudacentral.org'];
                            self.bllno = self.bllno.filter(e => !~self.bl.indexOf(e));
                          }

                          self.showModal = true;



                          if (response.data.form){
                            Vue.set(self, 'forms', response.data.form);
                            self.f_n = self.forms[0].text;
                        }else{
                            self.f_n = ' ';
                        }
                      }).catch(function (error) { self.selected = error;});
              },
        close: function(){
                this.showModal = false;
            },
        // Запись заметки
        ser: function(event){
            var self = this
            var note_t = event.target.value;
            var ids = event.target.name;
            var notesModal
            axios.post("{% url 'pay:ajax_port' %}",{
                xsrfHeaderName: "X-CSRFToken",
                data: {
                    "text": note_t,
                    "id": ids
                },
                responseType: 'json'
                }).then((response) => {
                    notesModal = response.data;
                }).catch(function (error) {
                    self.selected = error;});
            //Запрос на куплиные прокси
            setTimeout(function () {
                axios.get("{% url 'pay:ajax_order' %}",{
                    }).then((response) => {
                        self.note =  response.data.notes
                        self.note_s = notesModal

                    }).catch(function (error) {
                        self.options = error;});
            }, 500)
            setTimeout(function () {
                self.note_s = false
            }, 3000)
        }
    }
});
</script>
<script>
// Копирование IP, Port, Login, Pass
new Clipboard('.p-ip');
new Clipboard('.p-port');
new Clipboard('.p-us');
new Clipboard('.p-pa');
</script>
{% endblock content %}
