{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% block content %}
<div class="P2CLine2 row-fluid">

           <div class="P2CL2Online col-lg-2 col-md-2 col-xs-4">
               <span>Онлайн: {{ counts }}</span>
           </div>

           <div class="clearfix"></div>

           <div class="clearfix"></div>
       </div> <!-- P2CLine2 -->

       <!-- ОТОБРАЖЕНИЕ ТАБЛИЦЫ ДЛЯ ДЕСКТОПОВ -->
       <div class="P2CLine3 row-fluid">
           <h4>Пополнить</h4>
           {% if bit %}
           <p> Ваш кошелек <strong>{{purse}}</strong><br />
               Сумма к оплате <strong>{{bit}}</strong> bitcoin
           </p>
           {% endif %}
           <form action="" method="post">
               {% csrf_token %}
              {{form.as_p}}
               <button type="submit">Проверить</button>
           </form>

           <div class="clearfix"></div>
       </div> <!-- P2CLine3 -->
</div>
{% endblock content %}
