{% extends "admin/change_list.html" %}.
{% load i18n admin_urls admin_static admin_list %}

{% block filters %}
	{{ block.super }}

	<form action="save" method="get">
		<button type="">Сохранить в файл</button>
	</form>
	<br>
{% endblock %}
{% block result_list %}
	<hr>
	{% result_list cl %}
{% endblock %}