{% extends "admin:admin/index.html" %}

{% block sidebar %}
    {{block.super}}
    <div>
        <h1>Statistics<h1>
        <a href="/admin/station/stats/">Published Stations</a>
    </div>
{% endblock %}