body { font-family: "RobotoRegular", sans-serif; overflow-x: hidden; background-color: #f5f5f5;
}

/*/////////////////*/
/* AUTH */

.Page1Wrapp {background-color: #fff; padding: 20px 20px 110px 20px; max-width: 1030px; margin: 10vh auto;}
.Page1Wrapp h3 {font-family: "RobotoBold", sans-serif; font-size: 24px; margin: 20px;}
.Page1Wrapp h2 {font-family: "RobotoRegular", sans-serif; font-size: 24px; margin: 5% auto; text-align: center;}
.Page1Wrapp input {font-family: "RobotoLight", sans-serif; font-size: 16px; padding: 10px; border: 1px solid #ccc; border-radius: 2px; background-color: rgba(0,0,0,0); display: block; margin: 20px auto; width: 100%; max-width: 270px; outline: none;}
.P1WAlert {width: 100%; max-width: 270px; margin: 0 auto 20px auto; text-align: center; display: none;}
.Page1Wrapp button {font-family: "RobotoRegular", sans-serif; font-size: 16px; padding: 10px; max-width: 170px; width: 100%; display: block; margin: 10px auto; background-color: #fff; text-align: center; color: #000; cursor: pointer; outline: none; border: 2px solid #808080; border-radius: 3px;}
.Page1Wrapp button:hover {background-color: #808080; color: #fff;}
.Page1Wrapp span {font-family: "RobotoRegular", sans-serif; font-size: 14px; text-align: center; display: block; margin: 10px 0 0 0; cursor: pointer;}
.Page1Wrapp span:hover {text-decoration: underline;}

/*/////////////////*/
/* SEARCH */

.Page2Container {padding: 0; margin: 0;}

.P2CLine1 {background-color: #fff; padding: 1px 20px 0 20px; box-shadow: 0 0 15px 2px rgba(221, 221, 221, 1);}

.P2CL1Wrapp {outline: 0px solid black; max-width: 1600px; padding: 0; margin: 0 auto;}
.P2CL1WLogo {outline: 0px solid red; font-family: "RobotoBold", sans-serif; font-size: 24px; margin: 18px 0; padding: 0; float: left;}

.P2CL1WMenu {outline: 0px solid blue; list-style: none; padding: 0; margin: 0; float: left;}
.P2CL1WMenu li {display: inline-block; padding: 21px 10px; font-family: "RobotoMedium", sans-serif; color: #323232; font-size: 16px; border-bottom: 2px solid rgba(0,0,0,0); cursor: pointer;}
.P2CL1WMenu li.active {color: #1794e1; border-bottom: 2px solid #1794e1;}
.P2CL1WMenu li:hover {color: #1794e1; border-bottom: 2px solid #1794e1;}

.P2CL1WBalance {outline: 0px solid green; font-family: "RobotoRegular", sans-serif; font-size: 16px; color: #747474; text-align: center; margin: 20px 0; float: right;}

.P2CL1WUser {outline: 0px solid red; text-align: right; font-family: "RobotoMedium", sans-serif; font-size: 16px; color: #323232; padding: 0; margin: 10px 0; cursor: pointer; float: right;}
.P2CL1WUser:hover {color: #1794e1;}
.P2CL1WUser img {width: 45px; height: 45p; border-radius: 100%; margin: 0 15px 0 0; box-shadow: 0 2px 2px rgba(0, 0, 0, .5);}


.P2CLine2 {outline: 0px solid black; max-width: 1600px; padding: 0 20px; margin: 30px auto;}
.P2CL2Input {padding: 25px 80px; background-color: #fff; border: 0; outline: none; font-family: "RobotoLight", sans-serif; font-size: 16px; background-image: url(img/search/search.png); background-repeat: no-repeat; background-position: 40px center; position: relative; z-index: 9; border-radius: 4px;}
.P2CL2Button {width: 15px; height: 15px; background-image: url(img/search/clear.png); background-repeat: no-repeat; background-position: center center; background-color: rgba(0,0,0,0); border: 0; cursor: pointer; margin: 25px 0 0 -50px; position: relative; z-index: 10; outline: none; float: left;}
.P2CL2Online {padding: 0 0 0 40px; float: right;}
.P2CL2Online span {background-color: #fff; padding: 15px 20px; font-family: "RobotoRegular", sans-serif; font-size: 16px; color: #323232; display: block; text-align: center; border-radius: 4px;}

.P2CL2Blocks {padding: 15px 10px; background-color: #fff; margin-top: 30px; border-radius: 4px; text-align: center;}

.P2CL2BLine {border-bottom: 1px solid #ccc; height: 1px; margin: 20px 3%;}
.P2CL2BTNGroup {display: inline-block; width: 28%; max-width: 270px; margin: 10px 15px;}
.btn-default:hover {background-color: #fff; border: 2px solid #1794e1; color: #1794e1;}
.btn-default:focus, .open>.dropdown-toggle.btn-default {background-color: #fff; border: 2px solid #1794e1; color: #1794e1;}
.btn-default:active {color: #848484; border: 2px solid #d3d3d3;}
.btn:active {color: #848484; border: 2px solid #d3d3d3;}
.btn-group.open .dropdown-toggle {box-shadow: none;}
.P2CL2BTNGroup > button {background-color: #fff; width: 100%; text-align: left; font-family: "RobotoLight", sans-serif; font-size: 16px; color: #848484; border: 2px solid #d3d3d3; overflow: hidden; padding: 6px 25px 6px 12px;}
.P2CL2BTNGroup > button > .caret {margin: 9px -13px 0 0; position: absolute; right: 25px; background-color: #fff;}
.P2CL2BTNGroup > button > .wr {background-color: #fff; height: 100%; position: absolute; padding: 0 15px; right: 0px;}
.P2CL2InputBlock {background-color: #fff; width: 100%; text-align: left; font-family: "RobotoLight", sans-serif; font-size: 16px; color: #848484; border: 2px solid #d3d3d3; overflow: hidden; padding: 6px 12px 6px 12px; max-width: 265px; margin: 10px 15px; border-radius: 4px;}

.P2CL2BTNGMenu {width: 100%; padding: 10px; -moz-user-select: none; -webkit-user-select: none; -o-user-select: none; -ms-user-select: none; user-select: none;}
.P2CL2BTNGMenu label { width: 100%; height: 14px; display: block; position: relative; padding: 0 0 0 25px; font-family: "RobotoLight", sans-serif; font-size: 16px; cursor: pointer; margin: 5px 0 20px 0;}
input[type="checkbox"] {display: none;}
input[type="checkbox"] + span { position: absolute; left: 0; top: 0; width: 14px; height: 14px; background: url(img/search/checkbox.png) no-repeat; cursor: pointer; background-position: center -14px; margin: 4px 5px 0 0;}
input[type="checkbox"]:checked + span { background-position: 0 0px; }

.P2CL2BTNGMBlack {background-color: #f5f5f5; padding: 5px 10px; width: calc(100% + 20px); margin: 0 0 -10px -10px;}
.P2CL2BTNGMBlack h5 {font-family: "RobotoLight", sans-serif; font-size: 14px; color: #717171; margin: 5px 0 10px 0;}
.P2CL2BTNGMBlack ul {margin: 0; padding: 0; list-style: none; text-align: center;}
.P2CL2BTNGMBlack ul li {display: inline-block; margin: 0 10% 0 0; font-family: "RobotoLight", sans-serif; font-size: 14px; color: #717171;}
.P2CL2BTNGMBlack ul li:last-child {margin: 0;}
.P2CL2BTNGMBlack input {padding: 10px 10%;}

.P2CL2BTNButtonSearch {border: 0; background-color: #1794e1; font-family: "RobotoMedium", sans-serif; font-size: 16px; color: #fff; padding: 10px 10px; border-radius: 4px; width: 100%; max-width: 200px; opacity: .9; margin: 30px 0;}
.P2CL2BTNButtonSearch:hover {opacity: 1;}

.P2CL2TicketBlock {padding: 0 20px; background-color: #fff; border-radius: 4px;}
.P2CL2TBMenu {outline: 0px solid black; margin: 0 0 40px 0; margin-top: -2px;}
.P2CL2TBMBut1 {width: 130px; border: 0; background-color: #1794e1; color: #fff; padding: 25px 15px 10px 15px; font-family: "RobotoMedium", sans-serif; font-size: 12px; text-transform: uppercase; border-radius: 0 0 5px 5px; opacity: .9; outline: none;}
.P2CL2TBMBut1:hover {font-family: "RobotoBold", sans-serif; opacity: 1;}
.P2CL2TBMBut1.active {opacity: 1; font-family: "RobotoBold", sans-serif; cursor: default;}
.P2CL2TBMBut2 {border: 0; background-color: rgba(0,0,0,0); color: #b2b2b2; padding: 25px 15px 10px 15px; font-family: "RobotoMedium", sans-serif; font-size: 12px; text-transform: uppercase; outline: none;}
.P2CL2TBMBut2 > span {background-color:#b2b2b2; margin: 0 0 0 5px; border-radius: 5px; padding: 4px 8px 4px 7px;}
.P2CL2TBMBut2:hover {color: #1794e1;}
.P2CL2TBMBut2:hover.P2CL2TBMBut2 > span {background-color: #1794e1;}
.P2CL2TBMBut2.active {color: #1794e1;}
.P2CL2TBMBut2.active > span {background-color: #1794e1;}
.P2CL2TBMBut2.active:hover {cursor: default;}
.P2CL2TBMenu select {outline: none; padding: 5px 10px; width: 100%; max-width: 100px; font-family: "RobotoRegular", sans-serif; font-size: 14px; color: #000; cursor: pointer; border: 1px solid #ccc; border-radius: 4px; float: right; margin: 18px 0 0 0;}

.P2CL2TBTable thead {font-family: "RobotoMedium", sans-serif; font-size: 12px; color: #b1afaf;}
.P2CL2TBTDesc {font-family: "RobotoRegular", sans-serif; font-size: 14px; color: #b1afaf;}
.P2CL2TBTable tbody tr {cursor: pointer; padding: 10px 0; border: 0; border-bottom: 1px solid #ccc;}
.P2CL2TBTable > tbody > tr > td {padding: 15px 8px;}
.P2CL2TBTDesc.act {color: #1794e1;}
.P2CL2TBTTDW {width: 200px;}

.P2CL2TBResult {text-align: center; margin: 0 0 20px 0; color: #b0b0b0; font-family: "RobotoRegular", sans-serif; font-size: 14px;}
.P2CL2TBResult span {}
.P2CL2TBResult button {background-color: rgba(0,0,0,0); border: 0;}
.P2CL2TBResult button:hover {color: #000; text-decoration: underline;}
.P2CL2TBResult button.active {color: #000; text-decoration: underline;}

.P2CL2TBNav {list-style: none; margin: 0 0 20px 0; text-align: center; color: #1794e1; padding: 0;}
.P2CL2TBNav li {display: inline-block; cursor: pointer;}
.P2CL2TBNav li.prev {padding: 0 0 0 10px; background-image: url(img/ticket/prev.png); background-repeat: no-repeat; background-position: left center; margin: 0 10px 0 0;}
.P2CL2TBNav li.next {padding: 0 10px 0 0; background-image: url(img/ticket/next.png); background-repeat: no-repeat; background-position: right center; margin: 0 0 0 10px;}
.P2CL2TBNav li.point {background-color: #95cef1; padding: 0 3px; color: #1794e1; border-radius: 4px; margin: 2px;} 
.P2CL2TBNav li.point.active {color: #fff; background-color: #1794e1;}

.TicketModal .modal-backdrop {background-color: #d4d4d4; opacity: .5;}
.TicketModal .modal-body {padding: 25px 25px 0 25px;}
.TicketModal .modal-footer {border: 0;}
.TicketModal .modal-content {border: 0; border-radius: 4px; box-shadow: 0 2px 4px rgba(0, 0, 0, .2);}
.TMP1 {font-family: "RobotoMedium", sans-serif; font-size: 12px; color: #b1afaf;}
.TMP2 {font-family: "RobotoRegular", sans-serif; font-size: 16px; color: #000; margin-bottom: 20px;}
.TMLine {border-bottom: 1px solid #ccc; height: 1px; margin: 10px 0;}
.TMUL {list-style: none; padding: 0; margin: 20px 0;}
.TMUL li {padding: 0 0 0 40px; margin: 20px 0; font-family: "RobotoRegular", sans-serif; font-size: 12px;}
.TMUL li.Point3 {background-image: url(img/ticket/point3.png); background-repeat: no-repeat; background-position: left center; color: #aaaaaa;}
.TMUL li.Point1 {background-image: url(img/ticket/point1.png); background-repeat: no-repeat; background-position: left center; color: #565656;}
.TMUL li.Point2 {background-image: url(img/ticket/point2.png); background-repeat: no-repeat; background-position: left center; color: #1794e1;}
.TMTextarea {border: 1px solid #ccc; padding: 10px; border-radius: 4px; width: 100%; resize: none; outline: none;}
.TMButton {background-color: #1794e1; color: #fff; padding: 10px 30px; display: block; margin: 20px auto; border: 0; border-radius: 4px; opacity:  .8;}
.TMButton:hover {opacity: 1;}
.TMClose {background-color: #f2f2f2; font-family: "RobotoMedium", sans-serif; font-size: 14px; text-align: center; color: #878787; padding: 20px 5px; margin: 0 0 -15px -15px; width: calc(100% + 30px); cursor: pointer; opacity: .8;}
.TMClose:hover {opacity: 1;}
.TMCloseModal {background-image: url(img/ticket/close.png); background-repeat: no-repeat; background-position: center center; width: 15px; height: 15px; background-color: rgba(0,0,0,0); border: 0; position: absolute; outline: none; right: 20px;}

.P2CL2TBForm {outline: 0px solid black; margin: 0 0 30px 0;}

.P2CL2TBFSubject span {font-family: "RobotoMedium", sans-serif; font-size: 12px; color: #b1afaf;}
.P2CL2TBFSubject input {padding: 10px; font-family: "RobotoRegular", sans-serif; color: #000; border: 0; border-bottom: 1px solid #b1afaf; outline: none; font-size: 16px; width: 88%;}


.P2CL2TBFSelect {margin: 30px 0;}
.P2CL2TBFSelect span {font-family: "RobotoMedium", sans-serif; font-size: 12px; color: #b1afaf;}
.P2CL2TBFSelect p {font-family: "RobotoMedium", sans-serif; font-size: 12px; color: #b1afaf;}
.P2CL2TBFSelect select {margin: 0 0 0 20px; outline: none; padding: 5px 10px; width: 100%; max-width: 230px; font-family: "RobotoRegular", sans-serif; font-size: 14px; color: #000; cursor: pointer; border: 1px solid #ccc; border-radius: 4px;}
.P2CL2TBForm textarea {padding: 10px; border: 1px solid #ccc; border-radius: 4px; width: 100%; outline: none; font-family: "RobotoRegular", sans-serif; font-size: 14px; display: block; resize: none;}

.P2CL2TBFSelect {width: 100%; padding: 10px; -moz-user-select: none; -webkit-user-select: none; -o-user-select: none; -ms-user-select: none; user-select: none;}
.P2CL2TBFSelect label {height: 14px; display: inline-block; position: relative; padding: 0 0 0 25px; font-family: "RobotoLight", sans-serif; font-size: 16px; cursor: pointer; margin: 10px;}
input[type="checkbox"] {display: none;}
input[type="checkbox"] + span { position: absolute; left: 0; top: 0; width: 14px; height: 14px; background: url(img/search/checkbox.png) no-repeat; cursor: pointer; background-position: center -14px; margin: 4px 5px 0 0;}
input[type="checkbox"]:checked + span { background-position: 0 0px; }

.P2CL2TBForm > button {color: #fff; background-color: #1794e1; display: block; padding: 10px 35px; margin: 20px auto 0 auto; border: 0; border-radius: 4px; font-family: "RobotoMedium", sans-serif; font-size: 14px; opacity: .8; outline: none;}
.P2CL2TBForm > button:hover {opacity: 1;}

.P2CLine3 {outline: 0px solid black; max-width: 1600px; padding: 1px 20px 0 20px; margin: 40px auto;}
.P2CL3Table thead {font-family: "RobotoMedium", sans-serif; color: #000; border: 1px solid #ccc;}
.P2CL3Table tbody {font-family: "RobotoLight", sans-serif; color: #000;}
.P2CL3Table td {border: 1px solid #ccc;}
.P2CL3Table td img {margin: -2px 5px 0 0;}
.table-striped>tbody>tr:nth-of-type(odd) {background-color: #fff;}
.P2CL3TInfo {border: none; width: 20px; height: 20px; background-color: rgba(0,0,0,0); background-image: url(img/search/info.png); background-repeat: no-repeat; background-position:  center center; outline: 0; margin: 2px;}
.P2CL3TCart {border: none; width: 20px; height: 20px; background-color: rgba(0,0,0,0); background-image: url(img/search/cart.png); background-repeat: no-repeat; background-position:  center center; outline: 0; margin: 2px;}

.P2CL3MWrap {text-align: center; padding: 0; vertical-align:top;}
.P2CL3Media {background-color: #fff; padding: 20px; max-width: 400px; width: 50%; display: inline-block; margin: 10px; text-align: left; font-family: "RobotoRegular", sans-serif; font-size: 16px; vertical-align:top;}
.P2CL3MBlock {border-bottom: 1px solid #ccc; padding: 10px 0; display: block;}
.P2CL3MLeft {font-family: "RobotoRegular", sans-serif; margin: 0 0 0 15px; float: left; display: block;}
.P2CL3MRight {font-family: "RobotoMedium", sans-serif; margin: 0 0 0 15px; float: right; display: block;}