{% extends "base.html" %}

{% block content %}
	Записей {{ city|length }}<br>

	{% for c in city %}
		<a href="{% url 'proxy:detail' c.id %}" title="">{{ c.ipreal|truncatechars:8 }}:****</a><br>
	{% endfor %}

{% endblock content %}