{% extends 'base.html' %}
{% load i18n %} {% load staticfiles %}
{% load widget_tweaks %}
{% block title %}{% trans "Главная" %}{% endblock title %}
{% block content %}
<script src="{% static "js/vue.js" %}"></script>
<!--<script src="https://unpkg.com/vue"></script>-->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<!-- Регистрация -->

<div id="reg" style="position: fixed; z-index: 6; margin: 0 35%;">
  <div class="modal-dialog" style="max-width: 400px;">
    <div class="modal-content">
      <div class="modal-body">

        <button type="button" id="RegCloseModal" class="SIMCloseModal">
        </button>
    <div class="MS1Body">
        <h2>Регистрация<br> нового пользователя</h2>
        <form class="reg-form" method="post" action="{% url 'registration_register' %}">
            {% csrf_token %}
            {{ form_reg.email|attr:"placeholder:Электронная почта" }}
            {{ form_reg.password1|attr:"placeholder:Пароль" }}
            {{ form_reg.password2|attr:"placeholder:Повторите пароль" }}
            <input type="text" id="name1" placeholder="Код из email" maxlength="50" data-container="body" data-toggle="popover" data-placement="bottom" data-content="123" style="margin-top:0; display: none;">
            <button type="submit" value="">{% trans 'Регистрация' %}</button>
        </form>
        {% if form_reg.errors %}
            <div class="P1WAlert alert alert-danger">
                {{ form_reg.errors }}
            </div>
        {% endif %}
    </div>
    </div>
    </div>
    </div>
</div>

<!-- Регистрация -->
{% if modal_reset %}
<div id="reset" style="position: fixed; z-index: 4; margin: 0 35%;">
  <div class="modal-dialog" style="max-width: 400px;">
    <div class="modal-content">
      <div class="modal-body">

        <button type="button" id="ResetCloseModal" class="SIMCloseModal">
        </button>
    <div class="MS1Body">
        <h2>Востановление пароля</h2>
        <form class="reset-form" method="post" action="{% url 'auth_password_reset' %}">
            {% csrf_token %}
            {{ form_reset.email|attr:"placeholder:Электронная почта" }}

            <button type="submit" value="">{% trans 'Сбросить пароль' %}</button>
        </form>
        {% if form_reset.errors %}
            <div class="P1WAlert alert alert-danger">
                {{ form_reset.errors }}
            </div>
        {% endif %}
    </div>
    </div>
    </div>
    </div>
</div>
{% endif %}
        <div id="home" class="P2CLine2 row-fluid">
            <!-- Вход -->
            {% if modal  %}
            <div id="login" style="position: fixed; z-index: 2; margin: 0 35%;">
              <div class="modal-dialog" style="max-width: 400px;">
                <div class="modal-content">
                  <div class="modal-body">

                      <button type="button" class="SIMCloseModal"></button>
                <div class="MS1Body">
                    <h2 style="text-align: center;">Авторизация</h2><br />
                    <form  class="login-form" method="post" action="">
                        {# csrf_token #}

                        <input type="text" id="lg" placeholder="email" maxlength="50"  name="username"  value="">

                        <input type="password" id="ps" placeholder="пароль" maxlength="50"  name="password"  value="">

                        <button type="submit" value="">{% trans 'Вход' %}</button>

                    </form>
                    <span style="margin: 0 30%;"><a id="open-reg" href="#">Зарегистрироваться</a></span><br />

                    <span style="margin: 0 30%;"><a href="{% url 'reset_index' %}">Забыл пароль</a></span>
                </div>
                </div>
                </div>
                </div>
            </div>
            <div id="login2" style="position: fixed; z-index: 3; margin: 0 35%; display: block;">
              <div class="modal-dialog" style="max-width: 400px;">
                <div class="modal-content">
                  <div class="modal-body">

                      <button type="button" id="SIMCloseModal2" class="SIMCloseModal"></button>
                <div class="MS1Body">
                    <h2 style="text-align: center;">Авторизация</h2><br />
                    <form  class="login-form2" method="post" action="">
                        {% csrf_token %}

                        <input type="text" id="name1" placeholder="Код из email" maxlength="50" name="code" value="">

                        <button type="submit" value="">{% trans 'Вход' %}</button>

                    </form>

                    <span style="margin: 0 30%;"><a href="{% url 'reset_index' %}">Забыл пароль</a></span>
                </div>
                </div>
                </div>
                </div>
            </div>
            <div id="login3" style="position: fixed; z-index: 3; margin: 0 35%; display: block;">
              <div class="modal-dialog" style="max-width: 400px;">
                <div class="modal-content">
                  <div class="modal-body">

                      <button type="button" id="SIMCloseModal2" class="SIMCloseModal"></button>
                <div class="MS1Body">
                    <h2 style="text-align: center;">Авторизация</h2><br />
                    <form  class="login-form3" method="post" action="">
                        {% csrf_token %}

                        <input type="text" id="name2" placeholder="Код из googla" maxlength="50" name="google" value="">

                        <button type="submit" value="">{% trans 'Вход' %}</button>

                    </form>

                    <span style="margin: 0 30%;"><a href="{% url 'reset_index' %}">Забыл пароль</a></span>
                </div>
                </div>
                </div>
                </div>
            </div>
            {% endif %}
             <div class="P2CL2Home col-lg-9 col-lg-offset-1 col-md-10">
                 <div class="P2CL2Block1 row-fluid">
                     <!-- <div class="P2CL2B1Left col-sm-6">
                         <div class="P2CL2B1LWrap">
                             <h4>Top 10 Countries</h4>
                             <div id="piechart" style="width: 100%;height:300px;"></div>
                         </div>
                     </div> -->

                     <div class="P2CL2B1Right col-sm-12">
                         <div class="P2CL2B1RWrap">
                             <div id="regions_div" class="map-index"></div>
                         </div>
                     </div>

                     <div class="clearfix"></div>
                 </div> <!-- P2CL2Block1 -->
<p>
    {{test}}
</p>
                 <div class="P2CL2Block2 row-fluid">
                     <div class="P2CL2B2Left col-sm-12">
                         <div class="P2CL2B2LWrap">
                             <h4>Новости</h4>
                             <div class="P2CL2B2LWBlockNews">
                                 {% if news %}
                                     {% for new in  news%}
                                        <h5>{{ new.title }}</h5>
                                        <p>
                                            {{ new.text }}
                                        </p>
                                        <p><span></span></p>
                                     {% endfor %}
                                 {% else %}
                                     <p>нет новостей</p>
                                 {% endif %}
                             </div>
                         </div>
                     </div>
                     <div class="clearfix"></div>
                 </div> <!-- P2CL2Block2 -->
             </div>

             <div class="clearfix"></div>
         </div> <!-- P2CLine2 -->

<script type="text/javascript">
// google.charts.load('current', {'packages':['corechart']});
// google.charts.setOnLoadCallback(drawChart);

//function drawChart() {
//     var google_data = {
//         cols: [{
//             "id":"Col1", label: 'Страна', "type": "string"
//         }, {
//             "id":"Col2", label: 'Страна', "type": "number"
//         }],
//         rows: [
//             {% for row in country %}
//                 {{ row|safe }},
//                 {% endfor %}
//         ]
//     };
//
//     var datat = new google.visualization.DataTable(google_data);
//
//     var options = {
//         title: 'Top стран',
//         chartArea:{left:0,top:0,width:'100%',height:'75%'},
//         legend:  "none"
//     };
//
//     var chart = new google.visualization.PieChart(document.getElementById('piechart'));
//     chart.draw(datat, options);
// }
</script>

<script type="text/javascript">
google.charts.load('current', {'packages':['geochart'],
        // Note: you will need to get a mapsApiKey for your project.
        // See: https://developers.google.com/chart/interactive/docs/basic_load_libs#load-settings
        'mapsApiKey': 'AIzaSyD-9tSrke72PouQMnMX-a7eZSW0jkFMBWY'
      });
google.charts.setOnLoadCallback(drawRegionsMap);

function drawRegionsMap() {
    var google_data = {
        cols: [{
            "id":"Col1", label: 'Страна', "type": "string"
        }, {
            "id":"Col2", label: 'Число', "type": "number"
        }],
        rows: [
            {% for row in map %}
                {{ row|safe }},
            {% endfor %}
        ]
    };

    var data = new google.visualization.DataTable(google_data);
    var options = {
        legend:  "none",
        colorAxis: {colors: ['#1794e0', '#1794e1']},
    };

    var chart = new google.visualization.GeoChart(document.getElementById('regions_div'));
    chart.draw(data, options);
}
// var home = new Vue({
//     el: '#home',
//     delimiters: ['${', '}'],
//     data() {
//         return {
//             log: '',
//             pass: '',
//             code: '',
//             form: true,
//             form2: false
//         }
//     },
//     methods: {
//         onPass: function(){
//              document.getElementById("pForm").submit();
//         },
//         ser: function(){
//             axios.post("/la/",{
//                 xsrfHeaderName: "X-CSRFToken",
//                 data: {
//                     "username": this.log,
//                     "password": this.pass
//                 },
//                 responseType: 'json'
//                 }).then((response) => {
//                     var obj = response.data;
//                     if (obj.status == "success"){
//                          alert("Вы авторизованы");
//                         this.form = false
//                     }
//                     else if(obj.status == "ok jabber"){
//                         alert("Вам отпоавлен код для входа на jabber");
//                         this.form = false
//                         this.form2 = true
//                     } else if(obj.status == "ok email"){
//                         alert("Вам отпоавлен код для входа на email");
//                         this.form = false
//                         this.form2 = true
//                     }
//                 }).catch(function (error) {
//                     self.selected = error;});
//         }
//     }
// });

$(document).ready(function(){
    $('#login2').hide();
    $('#login3').hide();
    $('#reg').hide();
});
$('#open-reg').click(function(e){
    e.preventDefault();
    $('#login').hide();
    $('#reg').show();
});
$('.SIMCloseModal').click(function(e){
    //e.preventDefault();
    $('#login').hide();
});
$('#SIMCloseModal2').click(function(e){
    //e.preventDefault();
    $('#login2').hide();
});
$('#RegCloseModal').click(function(e){
    //e.preventDefault();
    $('#reg').hide();
});

$('#ResetCloseModal').click(function(e){
    //e.preventDefault();
    $('#reset').hide();
});
var ps
var lg
$('.login-form').submit(function(e){
    e.preventDefault();
    lg = $('#lg').val()
    ps = $('#ps').val()
    $.ajax({
      url: "/la/",
      type: "POST",
      data: $('.login-form').serialize(),
      success: function(data) {
          var obj = $.parseJSON(data)
          if (obj.status == "success"){
               alert("Вы авторизованы");
               $('#login').hide();
          }
          else if(obj.status == "ok jabber"){
              alert("Вам отпоавлен код для входа на jabber");
              $('#login').hide();
              $('#login2').show();
          } else if(obj.status == "ok email"){
              alert("Вам отпоавлен код для входа на email");
              $('#login').hide();
              $('#login2').show();
          }else if(obj.status == "google"){
              alert("Введите код google");
              $('#login').hide();
              $('#login3').show();
          }
      },
      error: function(response) {
          //
     }
    });
});
$('.login-form2').submit(function(e){
    e.preventDefault();
    //$('#login').hide();
    //var p = getElementById("#name1").
    var code = $('#name1').val()
    $.ajax({
      url: "/la/",
      type: "POST",
      data: {"code":  code,
            "ps":ps,
            csrfmiddlewaretoken: '{{ csrf_token }}'},
      success: function(data) {
          var obj = $.parseJSON(data)
          if (obj.status == "success"){
                alert("Вы авторизованы");
                $('#login2').hide();
           }
          else{
               alert("Код не верен");
          }
      },
      error: function(response) {
          //
     }
    });
});
$('.login-form3').submit(function(e){
    e.preventDefault();
    //$('#login').hide();
    //var p = getElementById("#name1").
    var code = $('#name2').val()
    $.ajax({
      url: "/la/",
      type: "POST",
      data: {
        "google": code,
        "email_jabber": lg,
        "password":ps,
        csrfmiddlewaretoken: '{{ csrf_token }}'
      },
      success: function(data) {
          var obj = $.parseJSON(data)
          if (obj.status == "success"){
                alert("Вы авторизованы");
                $('#login3').hide();
           }
          else{
               alert("Код не верен");
          }
      },
      error: function(response) {
          //
     }
    });
});
$('.reg-form').submit(function(e){
    $('#reg').hide();
});

$('.reset-form').submit(function(e){
    $('#reset').hide();
});
</script>

{% endblock content %}
