{% extends "base.html" %}

{% block content %}

<p> купленные списки</p>
	
	{% for proxy in iplist %}
		<li><a href="{% url "proxy:iplist" proxy.id %}" title="купленные списки">{{ proxy.namelist }}</a>
		</li>
	{% endfor %}
	<br>

<p> купленные беки </p>
	<ul>
	{% for p in port %}
		<li>
			{{request.user.get_name_split}}:{{p.password}}@109.236.88.132:{{ p.port }} 
			реальный ip -> {{p.ipreal}}
		</li>
	{% endfor %}
	</ul>
<br>



в состоянии проверки: {{ proxys_all|length }}<br>
{% if good %}
	Рабочих {{ good|length }}<br>
	{% for p in good %}
		{{ p.ip }}:{{ p.port }}<br>
	{% endfor %}
{% endif %}

{% if dead %}
	Нерабочих {{ dead|length }}<br>
	{% for p in dead %}
		{{ p.ip }}:{{ p.port }}<br>
	{% endfor %}
{% endif %}

{% if proxys_off %}
	Нерабочих {{ proxys_off|length }}<br>
{% endif %}
{% if proxys_on %}
	Рабочих {{ proxys_on|length }}<br>
{% endif %}

{% if not dead and not good %}
	<a href="{% url 'proxy:profile-dead' profile.id %}" title="">Нерабочих</a>
	<a href="{% url 'proxy:profile-good' profile.id %}" title="">Рабочих</a>
{% endif %}
{% endblock %}
