{% extends 'base.html' %}
{% load i18n %} {% load staticfiles %}
{% block title %}{% trans "Поиск" %}{% endblock title %}
{% block content %}
    <!-- Стили и скрипты для Vue.js -->
    <script src="{% static "js/vue.js" %}"></script>
    <!--<script src="https://unpkg.com/vue"></script>-->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD24ipsCryBQJbuaW2RL96r_0QD3sJq58g"></script>
    <script src="https://cdn.rawgit.com/zenorocha/clipboard.js/master/dist/clipboard.min.js"></script>

    <script src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.11.2/jquery-ui.min.js"></script>
       <link rel="stylesheet" href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.11.2/themes/sunny/jquery-ui.css">
    <!-- Модальное окно -->
<script type="text/x-template" id="modal-template">
    <transition name="modal">
        <div  id="drag" class="SearchInfoModal ui-widget ui-corner-all" style="display: block;" >
        <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-body" >

                          <button type="button" class="SIMCloseModal" data-dismiss="modal" @click="mClose">
                          </button>

                          <div class="SIMBLeft">
                              <div class="SIMBLBlock">
                                  <div class="SIMBLBLeft">
                                      IP
                                  </div>
                                  <div class="SIMBLBRight">
                                        ${ip}
                                      <div class="SIMBLBRDop">
                                          <span>${stat}</span>
                                      </div>
                                  </div>

                                  <div class="clearfix"></div>
                              </div>
                              <div class="SIMBLeft">
                                  <div class="SIMBLBlock">
                                      <div class="SIMBLBLeft">
                                          Статус
                                      </div>
                                      <div class="SIMBLBRight">
                                          <div style="color: #21c130;">
                                              <span>${onlin}</span>
                                          </div>
                                      </div>

                                      <div class="clearfix"></div>
                                  </div>
                                </div>
                              <div class="SIMBLBlock">
                                  <div class="SIMBLBLeft">
                                      Страна
                                  </div>
                                  <div class="SIMBLBRight">
                                        <img :src="flag" /> ${country}
                                  </div>
                                  <div class="clearfix"></div>
                              </div>

                              <div class="SIMBLBlock">
                                  <div class="SIMBLBLeft">
                                      Штат
                                  </div>
                                  <div class="SIMBLBRight">
                                      ${region}
                                  </div>
                                  <div class="clearfix"></div>
                              </div>

                              <div class="SIMBLBlock">
                                  <div class="SIMBLBLeft">
                                      Город
                                  </div>
                                  <div class="SIMBLBRight">
                                      ${city}
                                  </div>
                                  <div class="clearfix"></div>
                              </div>

                              <div class="SIMBLBlock">
                                  <div class="SIMBLBLeft">
                                      Продавец
                                  </div>
                                  <div class="SIMBLBRight">
                                      ${vendor|test}
                                  </div>
                                  <div class="clearfix"></div>
                              </div>

                              <div class="SIMBLBlock">
                                  <div class="SIMBLBLeft">
                                      Зип
                                  </div>
                                  <div class="SIMBLBRight">
                                      ${postal}
                                  </div>
                                  <div class="clearfix"></div>
                              </div>

                              <div class="SIMBLBlock">
                                  <div class="SIMBLBLeft">
                                      Часовой пояс
                                  </div>
                                  <div class="SIMBLBRight">
                                     GMT ${gmt}
                                  </div>
                                  <div class="clearfix"></div>
                              </div>

                              <div class="SIMBLBlock">
                                  <div class="SIMBLBLeft">
                                      Хостинг
                                  </div>
                                  <div class="SIMBLBRight">
                                      ${dns}
                                  </div>
                                  <div class="clearfix"></div>
                              </div>

                              <div class="SIMBLBlock">
                                  <div class="SIMBLBLeft">
                                      Скорость прокси
                                  </div>
                                  <div class="SIMBLBRight">
                                      ${loads} ${speeds}
                                      <button @click="speed">Проверить</button>
                                  </div>

                                  <div class="clearfix"></div>
                              </div>

                              <div class="SIMBLBlock">
                                  <div class="SIMBLBLeft">
                                      Открытые порты
                                  </div>
                                  <div class="SIMBLBRight">
                                         ${loadp} ${openport[0]}
                                      <button @click="opport">Проверить</button>
                                  </div>

                                  <div class="clearfix"></div>
                              </div>
                          </div>

                          <div class="SIMBRight">
                              <div class="SIMBROsn">
                                  <div class="SIMBRBlock">
                                      <div class="SIMBRBLeft">
                                          DNS
                                      </div>
                                      <div class="SIMBRBRight">
                                         <img :src="flagDNS" /> ${dnscheck}
                                          <button @click="checkDNS" name="">Проверить</button>
                                      </div>
                                      <div class="clearfix"></div>
                                  </div>

                                  <div class="SIMBRBlock">
                                      <div class="SIMBRBLeft">
                                          В сети
                                      </div>
                                      <div class="SIMBRBRight">
                                          ${vss}
                                      </div>

                                      <div class="clearfix"></div>
                                  </div>

                                  <div class="SIMBRBlock">
                                      <div class="SIMBRBLeft">
                                          Купили
                                      </div>
                                      <div class="SIMBRBRight">

                                      </div>

                                      <div class="clearfix"></div>
                                  </div>
                              </div>

                              <div class="SIMBRWrap">
                                  <table class="SIMBRWTable">
                                      <thead>
                                          <tr>
                                              <td>Дни</td>
                                              <td class="text-center">Стоимость</td>
                                              <td></td>
                                          </tr>
                                      </thead>
                                      <tbody>
                                          <tr>
                                              <td>1 день</td>
                                              <td class="text-center tdprice">2$</td>
                                              <td>
                                            {% if request.user.balance > 0 %}
                                                    <button
                                                        :class="classObject"
                                                        :disabled="butbuy"
                                                        v-on:click="mbuy"
                                                        name="1">Купить
                                                    </button>
                                                        <!-- <button class="bt2">Продлить</button> -->
                                                  {% endif%}
                                              </td>
                                          </tr>
                                          <tr>
                                              <td>3 деня</td>
                                              <td class="text-center tdprice">5$</td>
                                              <td>
                                            {% if request.user.balance > 0 %}
                                                        <button
                                                        :class="classObject"
                                                        :disabled="butbuy" @click="mbuy" name="3">Купить</button>
                                                        <!-- <button class="bt2">Продлить</button> -->
                                                  {% endif%}
                                              </td>
                                          </tr>
                                          <tr>
                                              <td>Неделя</td>
                                              <td class="text-center tdprice">10$</td>
                                              <td>
                                            {% if request.user.balance > 0 %}
                                                <button
                                                    :class="classObject"
                                                    :disabled="butbuy"
                                                    @click="mbuy"
                                                    name="7">
                                                     Купить
                                                </button>
                                                  <!-- <button class="bt2">Продлить</button> -->
                                            {% endif%}
                                              </td>
                                          </tr>
                                      </tbody>
                                  </table>
                              </div>
                          </div>


                    <div class="SIMBRightIframe" :id="mapName"></div>

                          <div class="clearfix"></div>

                          <div class="SIMLine"></div>

                          <div class="SIMlist">
                              <div class="SIMBRBlock">
                                  <div class="SIMBRBLeft">
                                      Блек лист
                                  </div>
                                  <div class="SIMBRBRight">
                                      <ul>
                                          <li class="active-bl" v-for="bl in black">${bl}</li>
                                           <li v-show="bltrue" v-for="blno in blackno">${blno}</li>
                                      </ul>
                                      <button v-on:click="bln">Все блек листы</button>
                                  </div>

                                  <div class="clearfix"></div>
                              </div>

                          </div>
                      </div>
                    </div>
                  </div>
                </div>
            </transition>
          </script>

<div >

<div id="country" class="prox">
    <div id="drag2" class="InfoModal ui-widget ui-corner-all" :style="{display: merc}">
        <div class="modal-dialog3">
            <div class="modal-content">
                <div class="modal-body">

                <button @click="moclose" type="button" class="SIMCloseModal" data-dismiss="modal" aria-hidden="true"></button>

                <h3><img :src="flag" />  ${ipkup} <span>куплен</span></h3>

                <div class="IMBlock1">
                    <span class="IMBSpan1">
    {{request.user.get_name_split}}:${passkup}@${serverkup}:${portkup}
                    </span>
                    <img data-clipboard-target=".IMBSpan1" class="IMBBut" src="{% static "imgnew/copy.png" %}" alt="">
                </div>

                <div class="IMBlock2">
                    <b>Server IP:</b> <span class="IMBSpan2" >${serverkup}</span>
                    <img data-clipboard-target=".IMBSpan2" class="IMBBut2" src="{% static "imgnew/copy.png" %}" alt="">
                </div>

                <div class="IMBlock2 right">
                    <b>Login:</b> <span class="IMBSpan3">{{request.user.get_name_split}}</span>
                    <img data-clipboard-target=".IMBSpan3" class="IMBBut3" src="{% static "imgnew/copy.png" %}" alt="">
                </div>

                <div class="IMBlock2">
                    <b>Port:</b> <span class="IMBSpan4">${portkup}</span>
                    <img data-clipboard-target=".IMBSpan4" class="IMBBut4" src="{% static "imgnew/copy.png" %}" alt="">
                </div>

                <div class="IMBlock2 right">
                    <b>Password:</b> <span class="IMBSpan5">${passkup}</span>
                    <img data-clipboard-target=".IMBSpan5" class="IMBBut5" src="{% static "imgnew/copy.png" %}" alt="">
                </div>

                <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
        <div class="P2CLine2 row-fluid">
            <input
                v-model="question"
                @keyup.enter="getAnswer"
                type="text"
                class="P2CL2Input col-lg-9 col-lg-offset-1 col-md-10" placeholder="Введите любой текст для поиска.."
                maxlength="255">
            <button class="P2CL2Button"> </button>
            {{message}}

            ${ answer}

            <div class="clearfix"></div>

            <div class="P2CL2Blocks col-lg-9 col-lg-offset-1 col-md-10">
                <div class="P2CL2BlocksLeft">
                <div class="P2CL2BTNGroup btn-group">
                    <select
                        v-model="selecte"
                        v-on:change="ser"
                        v-on:click="onStrani"
                        class="P2Country"
                        name="countrie">
                        <option  disabled  v-show="sCountry" value="">
                                {% trans "Все страны" %}
                        </option>
                        <option v-bind:value="999">
                                Все страны
                        </option>
                        <option
                            v-for="option in countries"
                            v-bind:value="option.id">
                                ${ option.country }
                        </option>
                    </select>
                </div>
                <div class="P2CL2BTNGroup btn-group">
                <select
                    v-model="selecRegion"
                    v-on:change="ser"
                    v-on:click="onShtat"
                    :disabled="isDisabledSH"
                    class="P2Country btn"
                    name="city" title="Все штаты">
                    <option  disabled  v-show="sH" value="">
                            {% trans "Все штаты" %}
                    </option>
                    <option v-bind:selected="fildSH" v-bind:value="999">
                            {% trans "Все штаты" %}
                    </option>
                    <option
                        v-for="option in region"
                        v-bind:value="option.region_code">
                            ${ option.region }
                    </option>
                </select>
                </div>

                <div class="P2CL2BTNGroup btn-group">
                <select
                    v-model="selecCity"
                    v-on:change="ser"
                    v-on:click="oncity"
                    :disabled="isDisabledCT"
                    class="P2Country btn"
                    name="city">
                    <option disabled v-show="sC" value="">
                            {% trans "Все города" %}
                    </option>
                    <option v-bind:value="999">
                            {% trans "Все города" %}
                    </option>
                    <option v-for="option in city"  v-bind:value="option.city">
                            ${ option.city }
                    </option>
                </select>
                </div>

                <div class="P2CL2BTNGroup btn-group">
                    <select
                        v-model="selecVendor"
                        v-on:click="ven"
                        v-on:change="ser"
                        class="P2Country btn"
                        name="city">
                        <option disabled v-show="sV" value="">
                                {% trans "Продавцы" %}
                        </option>
                        <option v-bind:value="999">
                                {% trans "Все продавцы" %}
                        </option>
                        <option v-for="option in vendor"  v-bind:value="option.user">
                                ${ option.title }
                        </option>
                    </select>
                </div>

                <div class="P2CL2BTNGroup btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="blacklists">Блек-листы <span class="wr"></span> <span class="caret"></span></button>
                    <ul class="P2CL2BTNGMenu dropdown-menu noclose" role="menu">

                <!--<div class="P2CL2BTNGroup btn-group">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="blacklists">{% trans "Блек-листы" %} <span class="wr"></span> <span class="caret"></span></button>
                  <ul class="P2CL2BTNGMenu dropdown-menu noclose" role="menu" id="menu-black">-->

                        <label v-for="option in blacklist">
                              <input
                              type="checkbox"
                              v-bind:value="option"
                              v-on:input="selecBL = $event.target.value"
                              v-model="selecBL"
                              v-on:click="ser"
                              name="blacklists">
                              <span></span>
                              ${option}
                        </label>

                  </ul>
                </div>

                <!--<div class="P2CL2BTNGroup btn-group">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="times">Часовые пояса <span class="wr"></span> <span class="caret"></span></button>
                  <ul class="P2CL2BTNGMenu dropdown-menu noclose" role="menu">-->

                <div class="P2CL2BTNGroup btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="times">Часовые пояса <span class="wr"></span> <span class="caret"></span></button>
                     <ul class="P2CL2BTNGMenu dropdown-menu noclose" role="menu">
                        <label  v-for="option in gmt">
                            <input
                            type="radio"
                            v-model="selecGmt"
                            v-on:click="ser"
                            v-bind:value="option.id"
                            name="times">
                            <span></span>
                            ${ option.utc }
                        </label>
                    <!--<select
                        v-model="selecGmt"
                        v-on:click="ser"
                        v-on:change="onG"
                        class="P2Country btn">
                        <option disabled v-show="sGm" value="">
                                {% trans "Все часовые пояса" %}
                        </option>
                        <option v-bind:value="999">
                                {% trans "Все часовые пояса" %}
                        </option>
                        <option v-for="option in gmt"  v-bind:value="option.id">
                                ${ option.utc }
                        </option>
                    </select>-->
                    </ul>
                </div>

                <input
                    v-model="selecZip"
                    @keyup.enter="ser"
                    class="P2CL2InputBlock" type="text" id="Zip" maxlength="50" placeholder="Зип">

                <input
                    v-model="selecIp"
                    @keyup.enter="ser"
                    class="P2CL2InputBlock" type="text" id="Ip" maxlength="50" placeholder="ИП">

                <input
                    v-model="selecDns"
                    @keyup.enter="ser"
                    class="P2CL2InputBlock"
                    type="text" id="Host" maxlength="50"
                    placeholder="Хост">

                    <div class="P2CL2ScrollBlock">
                        <h4>В публикации: ${pubf}</h4>
                          <div class="P2CL2BTNGMBlack">
                              <ul>
                                  <li style="margin: 0 0 0 1px;">Min</li>
                                  <li></li>
                                  <li></li>
                                  <li></li>
                                  <li></li>
                                  <li></li>
                                  <li style="margin: 0 0 0 15px;">Max</li>
                              </ul>
                              <input
                              v-model="pub"
                              v-on:click="ser"
                              type="range" min="1" max="100" step="1" value="100">
                          </div>
                    </div>

                    <div class="P2CL2ScrollBlock">
                        <h4>Скидка: ${skidkaf}%</h4>
                          <div class="P2CL2BTNGMBlack">
                              <ul>
                                  <li style="margin: 0 0 0 1px;">Min</li>
                                  <li></li>
                                  <li></li>
                                  <li></li>
                                  <li></li>
                                  <li></li>
                                  <li style="margin: 0 0 0 15px;">Max</li>
                              </ul>
                              <input
                              v-model="skidka"
                              type="range" min="1" max="100" step="1" value="0">
                          </div>
                    </div>

                    <div class="P2CL2ScrollBlock">
                        <h4>Блек фильтр: ${blf}/7</h4>
                          <div class="P2CL2BTNGMBlack">
                              <ul>
                                  <li style="margin: 0 0 0 1px;">Min</li>
                                  <li></li>
                                  <li></li>
                                  <li></li>
                                  <li></li>
                                  <li></li>
                                  <li style="margin: 0 0 0 15px;">Max</li>
                              </ul>
                              <input
                              v-model="blFilter"
                              v-on:click="ser"
                              type="range" min="0" max="100" step="1" value="100">
                          </div>
                    </div>
                </div>

                <div class="P2CL2RadBlock">
                    <div class="P2CL2RadioBlock">
                        <h3>IP</h3>
                        <ul>
                            <li><input v-model="selecStat" v-on:click="ser"
                                type="radio" name="Radio1" id="0"
                                value="0" style="cursor:pointer;">
                                Все</li>
                            <li><input v-model="selecStat" v-on:click="ser"
                                type="radio" name="Radio1" id="1"
                                value="1" style="cursor:pointer;"> Статический</li>
                            <li><input v-model="selecStat" v-on:click="ser"
                                type="radio" name="Radio1" id="2"
                                value="2" style="cursor:pointer;"> Динамический</li>
                            <li> </li>
                        </ul>
                    </div>

                    <div class="P2CL2RadioBlock2">
                        <h3>Диапазоны</h3>
                        <ul>
                            <li><input type="radio" name="Radio2" id="Radio4" style="cursor:pointer;"> Все</li>
                            <li><input type="radio" name="Radio2" id="Radio5" style="cursor:pointer;"> Мобильные</li>
                            <li><input type="radio" name="Radio2" id="Radio6" style="cursor:pointer;"> Настольные</li>
                            <li><input type="radio" name="Radio2" id="Radio7" style="cursor:pointer;"> Серверные</li>
                        </ul>
                    </div>
                </div>
                    <div class="clearfix"></div>
                    <span v-if="selected" style="margin:30px 0; display:inline-block; font-size:16px;">Прокси найдено: ${search_count} / ${prox_coun}</span>

                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div> <!-- P2CLine2 -->


        <!-- ОТОБРАЖЕНИЕ ТАБЛИЦЫ ДЛЯ ДЕСКТОПОВ -->
        <div v-if="selected" class="P2CLine3 row-fluid">

            <table class="P2CL3Table table table-striped hidden-xs hidden-sm"  style="border:0;">
                <thead style="border:0;">
                    <tr style="padding:0;margin:0;">
                        <td style="border:0;padding:0;">
                            <button class="P2CL3TBtt but1" @click="sortParam='ipmax'"></button>
                            <button class="P2CL3TBtt but2" @click="sortParam='ipmin'"></button>
                        </td>
                        <td style="border:0;padding:0;">
                            <button class="P2CL3TBtt but1" @click="sortParam='stranamax'"></button>
                            <button class="P2CL3TBtt but2"
                            @click="sortParam='stranamin'"></button>
                        </td>
                        <td style="border:0;padding:0;"><button class="P2CL3TBtt but1"></button> <button class="P2CL3TBtt but2"></button></td>
                        <td style="border:0;padding:0;"><button class="P2CL3TBtt but1"></button> <button class="P2CL3TBtt but2"></button></td>
                        <td style="border:0;padding:0;">
                            <button class="P2CL3TBtt but1" @click="sortParam='vendormax'"></button>
                            <button class="P2CL3TBtt but2" @click="sortParam='vendormin'"></button>
                        </td>
                        <td style="border:0;padding:0;">
                            <button class="P2CL3TBtt but1" @click="sortParam='zipmax'"></button>
                            <button class="P2CL3TBtt but2" @click="sortParam='zipmin'"></button>
                        </td>
                        <td style="border:0;padding:0;">
                            <button class="P2CL3TBtt but1" @click="sortParam='gmtmax'"></button>
                            <button class="P2CL3TBtt but2" @click="sortParam='gmtmin'"></button>
                        </td>
                        <td style="border:0;padding:0;">
                            <button class="P2CL3TBtt but1" @click="sortParam='dnsmin'"></button>
                             <button class="P2CL3TBtt but2"
                             @click="sortParam='dnsmin'"></button>
                         </td>
                        <td style="border:0;padding:0;"><button class="P2CL3TBtt but1"></button> <button class="P2CL3TBtt but2"></button></td>
                    </tr>
                <thead>
                    <tr>
                        <td>{% trans "IP" %}</td>
                        <td>{% trans "Страна" %}</td>
                        <td>{% trans "Штат" %}</td>
                        <td>{% trans "Город" %}</td>
                        <td>{% trans "Продавец" %}</td>
                        <td>{% trans "Зип" %}</td>
                        <td>{% trans "Часовой пояс" %}</td>
                        <td>{% trans "Хостинг" %}</td>
                        <td>{% trans "Блек лист" %}</td>
                        <td>{% trans "Цена от" %}</td>
                        <td style="text-align:center;">
                        </td>
                    </tr>
                </thead>
                ${load}
                <tbody id="table">
                    <tr v-for="item in sortedList">
                        <td>${item.hidden_ip}</td>
                        <td>${item.country}</td>
                        <td>${item.region}</td>
                        <td>${item.city}</td>
                        <td>${item.vendor|test}</td>
                        <td>${item.postal_code}</td>
                        <td>GMT ${item.gmt}</td>
                        <td>${item.domain}</td>
                        <td>${item.blacklist|blak}</td>
                        <td>1.42$</td>
                        <td style="text-align:center;">
                            <input type="button" id="show-modal"
                                class="P2CL3TInfo"
                                v-bind:name="item.id"
                                @click="open">
                        </td>
                    </tr>
                </tbody>
            </table>



            <div class="P2CL3MWrap visible-xs visible-sm">
                <div class="P2CL3Media row-fluid">
                    <div class="" v-for="item in sortedList">
                        <div class="P2CL3MBlock">
                            <span class="P2CL3MLeft">IP:</span>
                            <span class="P2CL3MRight">${item.hidden_ip}</span>
                            <div class="clearfix"></div>
                        </div>
                        <div class="P2CL3MBlock">
                            <span class="P2CL3MLeft">Страна:</span>
                            <span class="P2CL3MRight">${item.country}</span>
                            <div class="clearfix"></div>
                        </div>
                        <div class="P2CL3MBlock">
                            <span class="P2CL3MLeft">Штат:</span>
                            <span class="P2CL3MRight">${item.region}</span>
                            <div class="clearfix"></div>
                        </div>
                        <div class="P2CL3MBlock">
                            <span class="P2CL3MLeft">Город:</span>
                            <span class="P2CL3MRight">${item.city}</span>
                            <div class="clearfix"></div>
                        </div>
                        <div class="P2CL3MBlock">
                            <span class="P2CL3MLeft">Продавец:</span>
                            <span class="P2CL3MRight">${item.vendor|test}</span>
                            <div class="clearfix"></div>
                        </div>
                        <div class="P2CL3MBlock">
                            <span class="P2CL3MLeft">Зип:</span>
                            <span class="P2CL3MRight">${item.postal_code}</span>
                            <div class="clearfix"></div>
                        </div>
                        <div class="P2CL3MBlock">
                            <span class="P2CL3MLeft">Часовой пояс:</span>
                            <span class="P2CL3MRight">${item.gmt}</span>
                            <div class="clearfix"></div>
                        </div>
                        <div class="P2CL3MBlock">
                            <span class="P2CL3MLeft">Хостинг:</span>
                            <span class="P2CL3MRight">${item.domain}</span>
                            <div class="clearfix"></div>
                        </div>
                        <div class="P2CL3MBlock">
                            <span class="P2CL3MLeft">Блек-лист:</span>
                            <span class="P2CL3MRight">${item.blacklist|blak}</span>
                            <div class="clearfix"></div>
                        </div>
                        <div class="P2CL3MBlock">
                            <span class="P2CL3MLeft"></span>
                            <span class="P2CL3MRight">1.42$</span>
                            <div class="clearfix"></div>
                        </div>
                        <div class="P2CL3MBlock" style="border-bottom:0;">
                            <input type="button" id="show-modal"
                                class="P2CL3TInfo"
                                v-bind:name="item.id"
                                @click="open">
                        </div>
                        <div class="clearfix"></div>
                    </div>

                </div>
                <div class="clearfix"></div>
            </div>
            <div>
                <ul class="pagination">
                    <li v-for="s in totalPages"  v-if="Math.abs(s - currentPage) < 3 || s == totalPages - 1 || s == 1">
                        <button :id="s"
                            @click="setPage(s)"
                            :class="{current: currentPage === s, last: (s == totalPages - 1 && Math.abs(s - currentPage) > 3), first:(s == 1 && Math.abs(s - currentPage) > 3), butpag: s>=0}"
                            >
                            ${s}
                        </button>
                    </li>
                </ul>
            </div>

            <modal v-if="showModal" @close="showModal = false"
            :pk="mod[0].id"
            :ip="mod[0].hidden_ip"
            :country="mod[0].country"
            :region="mod[0].region"
            :city="mod[0].city"
            :lat="mod[0].lat"
            :lon="mod[0].lon"
            :vendor="mod[0].vendor"
            :postal="mod[0].postal_code"
            :gmt="mod[0].gmt"
            :dns="mod[0].domain"

            :port="mod[0].port"
            :black="bla"
            :blackno="bllno"
            :dt="mod[0].created"

            :summ="100"
            >
            </modal>



</div>
</div>
</div>

<script>
 $(document).on("click.bs.dropdown.data-api", ".noclose", function (e) { e.stopPropagation() });

// Окно подробнее о соксе
Vue.component('modal', {
    props: ['name', 'ip', 'country', 'region', 'city', 'vendor',
     'postal', 'gmt', 'dns', 'port', 'black', 'lat', 'lon',
      'dt', 'vs', 'pk', 'term', 'summ', 'blackno', 'dnscheck'],
    data: function () {
      return {
        statIp: '',
        bltrue: false,

        loads: '',
        loadp: '',

        stat: '',
        //showModalOrder: false,
        vss: '',
        onlin: '',
        speeds: '',
        openport: [],
        flag: '',
        flagDNS: '',
        mapName: this.name + "-map",
        markerCoordinates: [{
          latitude: '',
          longitude:'',
        }],
        classObject:{
            bt1: false,
            btbuy: true
        },
        btbuy: {
            backgroundColor: '#e1e1e1'
        },
        butbuy: true
      }
    },
    delimiters: ['${', '}'],
    template: '#modal-template',
    mounted: function () {
        $('#drag').draggable();
        this.flag = "/static/flag/"+this.country+".png"
        // Проверка online
        axios.get("{% url 'proxy:socks_online' %}",{
            headers: {
                'X-Requested-With': 'XMLHttpRequest'
            },
            params: {
                "id": this.pk
            }}).then((response) => {
                    this.onlin = response.data
                    if (this.onlin == "True"){
                        this.onlin = "Online"
                        this.classObject.bt1 = true
                        this.classObject.btbuy = false
                        this.butbuy = false
                    }
                    else{
                        this.onlin = "Offline"
                    }
            }).catch(function (error) {
                    this.onlin = "Offline"});
        //Текущая дата
         var todayDate = new Date();
         currentTimeZoneOffsetInHours = -todayDate.getTimezoneOffset()/60
         //Выбранная дата
         var dd = this.dt
         var currentDate = new Date(dd);
         console.log(currentDate)
         current = currentDate.setHours(currentDate.getHours() - currentTimeZoneOffsetInHours)
         currentDate = new Date(current);
         console.log(currentDate)
         //Разница во времени
         var dateDifference = todayDate.getTime() - currentDate.getTime();
         console.log(dateDifference)
         //Дата, созданная из остатка времени
         var remainsDate = new Date(dateDifference);
         /*
          * Переменные, отражающие остаток времени в нужном формате
         */
         var remainsSec = (parseInt(remainsDate / 1000));
         var remainsFullDays = (parseInt(remainsSec / (24 * 60 * 60)));
         var secInLastDay = remainsSec - remainsFullDays * 24 * 3600;
         var remainsFullHours = (parseInt(secInLastDay / 3600));
         var secInLastHour = secInLastDay - remainsFullHours * 3600;
         var remainsMinutes = (parseInt(secInLastHour / 60));
         var lastSec = secInLastHour - remainsMinutes * 60;
         this.vss = remainsFullDays+" д. "+remainsFullHours+" ч. "+remainsMinutes+" мин. ";
         // Статичный или денамичный ИП
         if (remainsFullDays >= 3){
            this.stat = "Статический"
        }else{
            this.stat = "Динамический"
        }

        this.markerCoordinates.latitude = this.lat
        this.markerCoordinates.longitude = this.lon
      const element = document.getElementById(this.mapName)
      const options = {
        zoom: 14,
        center: new google.maps.LatLng(this.markerCoordinates.latitude,this.markerCoordinates.longitude)
      }
      const map = new google.maps.Map(element, options);
      this.markerCoordinates.forEach((coord) => {
      const position = new google.maps.LatLng(this.markerCoordinates.latitude, this.markerCoordinates.longitude);
      const marker = new google.maps.Marker({
        position,
        map
            });
        });
    },
    create: {

    },
    computed: {
            fulld: {
              // getter function
                get: function() {
                    return this.d
              }
            }
    },
    methods:{
        mClose: function () {
            this.$emit('close')
        },
        // Покупка прокси
        mbuy: function (event) {
            var self = this
            //self.term = event.target.name
            var term = event.target.name
            axios.defaults.xsrfHeaderName = "X-CSRFToken";
            if (self.onlin == "Online"){
                axios.post("{% url 'pay:ajax_buy_proxy' %}",{
                    data: {
                        "pk": self.pk,
                        //"summ": self.summ,
                        "term": term
                    },
                    responseType: 'json'
                    }).then((response) => {
                            self.order = response.data;
                            // Открыть окно покупки
                            //demo.ipord = demo.mod[0].ip
                            //demo.portord  = demo.mod[0].port
                            demo.orderSocks = self.order.data
                            demo.flag = self.flag
                            demo.moopen();
                            //Закрыть окно инфо
                            //self.$emit('moopen');

                            self.$emit('close');
                    }).catch(function (error) {
                            self.selected = error;});
            }else{
                self.$emit('close')
            }
        },
        bln: function(){
            this.bltrue = true
        },
        // Проверка DNS
        checkDNS: function(){
            var self = this
            setTimeout(function () {
                self.flagDNS = "/static/flag/"+self.country+".png"
            }, 3000)

            // axios.defaults.xsrfHeaderName = "X-CSRFToken";
            // axios.get("{% url 'pay:ajax_dns' %}",{
            //     params: {
            //         "id": self.pk
            //     }}).then((response) => {
            //             self.dnscheck = response.data
            //     }).catch(function (error) {
            //             self.selected = error;});
        },
        speed: function(){
            var self = this
            self.loads = 'Проверка...'
            axios.defaults.xsrfHeaderName = "X-CSRFToken";
            axios.get("{% url 'proxy:change_view' %}",{
                params: {
                    "id": self.pk
                }}).then((response) => {
                    self.speeds = response.data
                    self.loads = ''
                }).catch(function (error) {
                    self.selected = error;});
        },
        opport: function(){
            // Проверка портов
            this.loadp = 'Проверка...'
            axios.get("{% url 'pay:open_port' %}",{
                headers: {
                    'X-Requested-With': 'XMLHttpRequest'
                },
                params: {
                    "id": this.pk
                }}).then((response) => {
                    this.loadp = ''
                    var po = response.data
                    if (po[0]==='error'){
                        this.openport = {0: "Нет открытых портов"}
                    }else{
                        this.openport = po
                    }
                }).catch(function (error) {
                        this.selected = error;});
        }
    },
    filters:{
           test(item){
                var str = String(item);
                if (str=="17"){
                    return str.replace("17", "RTX3");
                }
                if (str=="16"){
                    return str.replace("16", "RTX2");
                }
                if (str=="5"){
                    return str.replace("5", "isocks");
                }
                if (str=="7"){
                    return str.replace("7", "ubnt");
                }
                if (str=="15"){
                    return str.replace("15", "BestProxy");
                }
                if (str=="13"){
                    return str.replace("13", "Mipsel");
                }
        }
    }
})

// Vue.filter('vend',function(item){
//     delimiters: ['${', '}'],
//         return item.replace("17", "RTX3");
// })

var demo = new Vue({
        el: '#country',
        delimiters: ['${', '}'],
        // components: {
        //     "dialog-t": { template: '#dialog-temp'}
        // },
        data() {
            return {
                // Кол. в поиске
                prox_coun: '',
                search_count: '',
                // Страны
                selecte: '',
                selected: '',
                countries: [],
                sCountry: true,
                // Штаты
                reg: [],
                region: '',
                selecRegion: '',
                isDisabledSH: true,
                fildSH: true,
                sH: true,
                // Города
                fildCT: true,
                city:'',
                desCity: 'false',
                selecCity: '',
                isDisabledCT: true,
                sC: true,
                // Продавцы
                fildV: true,
                vendor: '',
                selecVendor: '',
                sV: true,
                // Зип
                selecZip: '',
                // Ip
                selecIp: '',
                //Blacklist
                blacklist: [
                    'pbl.spamhaus.org',
                    'xbl.spamhaus.org',
                    'sbl.spamhaus.org',
                    'cbl.abuseat.org',
                    'css.spamhaus.org',
                    'bl.spamcop.net',
                    'b.barracudacentral.org'
                ],
                selecBL: [],
                bla: [],
                bllno: [],
                // Чаовые пояса
                //fildGmt: true,
                gmt:[
                    {"utc": "Все часовые пояса", "id": 999},
                    {"utc": "UTC -12", "id": -12},
                    {"utc": "UTC -11", "id": -11},
                    {"utc": "UTC -10", "id": -10}, {"utc": "UTC -9", "id": -9},
                    {"utc": "UTC -8", "id": -8}, {"utc": "UTC -7", "id": -7},
                    {"utc": "UTC -6", "id": -6}, {"utc": "UTC -5", "id": -5},
                    {"utc": "UTC -4", "id": -4}, {"utc": "UTC -3", "id": -3},
                    {"utc": "UTC -2", "id": -2}, {"utc": "UTC -1", "id": -1},
                    {"utc": "UTC 0", "id": 0}, {"utc": "UTC +1", "id": 1},
                    {"utc": "UTC +2", "id": 2}, {"utc": "UTC +3", "id": 3},
                    {"utc": "UTC +4", "id": 4}, {"utc": "UTC +5", "id": 5},
                    {"utc": "UTC +6", "id": 6}, {"utc": "UTC +7", "id": 7},
                    {"utc": "UTC +8", "id": 8}, {"utc": "UTC +9", "id": 9},
                    {"utc": "UTC +10", "id": 10}, {"utc": "UTC +11", "id": 11},
                    {"utc": "UTC +12", "id": 12}
                ],
                selecGmt: [],
                sGm: true,
                //sG: true,
                // Хост
                selecDns: '',
                load:'',
                //Модальное окно покупки
                ord: {},
                showModalOrder: false,
                merc: 'none',
                //ippord: '',
                //portord: '',
                orderSocks: '',
                // Данные о покупке
                ipkup: '',
                portkup: '',
                serverkup: '',
                passkup: '',
                //Модальное окно о соксе
                showModal: false,
                modalData:{},
                nid: '',
                selecId: [],
                mod:{},
                //Строка поиска
                question: '',
                answer: '',
                // Дата публикации
                pub: 100,
                // Выбор стат или динамик ИП
                selecStat: '',
                // Блэк фильтр
                blFilter: 100,
                // Сортировка таблицы
                sortParam: '',
                // Скидка
                skidka: 0,
                // Футер
                prijatfoot: true,
                flag: '',
                // Пагинатор
                pages: '',
                currentPage: 0,
                itemsPerPage: 1,
                resultCount: 0
                }
            },
            // created () {
            //
            //  },
        computed:{
            totalPages: function() {
                return Math.ceil(this.pages / this.itemsPerPage)
            },
            sortedList () {
                switch(this.sortParam){
                    case 'ipmax': return this.selected.sort(sortByIp);
                    case 'ipmin': return this.selected.sort(sortByIpmin);
                    case 'stranamax': return this.selected.sort(sortByStrana);
                    case 'stranamin': return this.selected.sort(sortByStranamin);
                    // case 'company': return this.phones.sort(sortByCompany);
                    // case 'price': return this.phones.sort(sortByPrice);
                    // case 'price': return this.phones.sort(sortByPrice);
                    case 'vendormax': return this.selected.sort(sortByVendor);
                    case 'vendormin': return this.selected.sort(sortByVendormin);
                    case 'zipmax': return this.selected.sort(sortByZip);
                    case 'zipmin': return this.selected.sort(sortByZipmin);
                    case 'gmtmax': return this.selected.sort(sortByGmt);
                    case 'gmtmin': return this.selected.sort(sortByGmtmin);
                    case 'dnsmax': return this.selected.sort(sortByDNS);
                    case 'dnsmin': return this.selected.sort(sortByDNSmin);
                    default: return this.selected;
                }
            },
            pubf () {
                var pubff
                if (this.pub<=30){
                    return pubff = "День"
                }else if (this.pub>=30 && this.pub<=60){
                    return pubff = "Неделя"
                }else if (this.pub>=60 && this.pub<=80){
                    return pubff = "Месяц"
                }else if (this.pub>=80){
                    return pubff = "Все"
                }
            },
            skidkaf () {
                var skidkaff
                if (this.skidka<=30){
                    return skidkaff = 0
                }else if (this.skidka>=30 && this.skidka<=80) {
                    return skidkaff = 50
                }else if (this.skidka>=80) {
                    return skidkaff = 100
                }
            },
            blf () {
                var blff
                if (this.blFilter<=10){
                    return blff = 0
                }else if(this.blFilter>10 && this.blFilter<=25){
                    return blff = 1
                }else if (this.blFilter>25 && this.blFilter<40){
                    return blff = 2
                }else if (this.blFilter>40 && this.blFilter<=55){
                    return blff = 3
                }else if (this.blFilter>55 && this.blFilter<=75){
                    return blff = 4
                }
                // else if (this.blFilter>=60 && this.blFilter<=70){
                //     return blff = 5
                // }else if (this.blFilter>=72 && this.blFilter<=82){
                //     return blff = 6
                // }
                else if (this.blFilter>=75){
                    return blff = 7
                }
            },
            // paginator() {
            //     var p = this.search_count / 300
            //     return p
            //
            // }
        },
        mounted: function (){
            // Все страны
            axios.get("{% url 'proxy:ajax_all_country' %}",{
                }).then((response) => {
                    this.countries =  response.data.country
                    this.prox_coun = response.data.prox_coun
                }).catch(function (error) {
                        this.options = error;
                    });
            // Продавцы
            axios.get("{% url 'proxy:ajax_all_vendors' %}",{
                }).then((response) => {
                    this.vendor =  response.data
                }).catch(function (error) {
                    this.options = error;
                });
                this.$data.isDisabledSH = true
                this.$data.isDisabledCT = true
                this.sG = true
            },
        watch: {
                // эта функция запускается при любом изменении вопроса
                question: function (newQuestion) {
                    this.answer = ''
                }
            },
      filters:{
               test(item){
                    var str = String(item);
                    if (str=="17"){
              		    return str.replace("17", "RTX3");
                    }
                    if (str=="16"){
                        return str.replace("16", "RTX2");
                    }
                    if (str=="5"){
                        return str.replace("5", "isocks");
                    }
                    if (str=="7"){
                        return str.replace("7", "ubnt");
                    }
                    if (str=="15"){
                        return str.replace("15", "BestProxy");
                    }
                    if (str=="13"){
                        return str.replace("13", "Mipsel");
                    }
             },   
	blak(blacklist){
                var str = String(blacklist)
                if (blacklist === null){
                    return "" + 0 + "/7"+""
                }else{
                     var count = str.split(' ').length;
                    return "" + count + "/7"+""
                }

            }
         },
        methods: {
            setPage: function(pageNumber) {
                this.currentPage = pageNumber
                demo.ser(event);
            },
            getAnswer: function () {
                this.answer = 'Думаю...'
                axios.get("{% url 'proxy:ajax_search' %}",{
                    headers: {
                        'X-Requested-With': 'XMLHttpRequest'
                    },
                    params: {
                        search: this.question
                    }}).then((response) => {
                        this.$data.selected = response.data.search
                        this.search_count = response.data.search_count
                        this.answer = ''
                    }).catch(function (error) {
                            this.selected = error;
                        });
            },
            // Модальное акно
            open: function(event){
                var self = this
                    self.selecId = event.target.name
                      axios.get("{% url 'proxy:ajax_ip_detail' %}",{
                          headers: {
                              'X-Requested-With': 'XMLHttpRequest'
                          },
                          params: {
                              id: self.selecId
                          }}).then((response) => {
                              Vue.set(self, 'mod', response.data);
                              // сравнение массивов блеков
                            if (self.mod[0].blacklist){
                               self.bla = self.mod[0].blacklist.split(' ');
                                self.bllno = [
                                                'pbl.spamhaus.org',
                                                'xbl.spamhaus.org',
                                                'sbl.spamhaus.org',
                                                'cbl.abuseat.org',
                                                'css.spamhaus.org',
                                                'bl.spamcop.net',
                                                'b.barracudacentral.org']
                                self.bllno = self.bllno.filter(e => !~self.bla.indexOf(e));
                              }

                              self.showModal = true
                          }).catch(function (error) {
                                  self.selected = error;
                              });

                  },
            close: function(){
                    this.selecId = ''
                    this.showModal = false
                  },
            // Поиск
            ser: function(event){
                //this.sV = false
                //var self = this
                if (event.target.id){
                    var page = event.target.id
                }

                if (page == "Zip" || page == "Ip" || page == "Host"){
                    page = 0;
                }
                if (this.selecte == '999') {
                    this.selecte = ''
                    this.selecRegion = ''
                    this.selecCity = ''
                    this.sCountry = false
                }

                if (this.selecVendor == '999') {
                    this.selecVendor = ''
                }
                if (this.$data.selecRegion == '999') {
                    this.selecRegion = ''
                }
                if (this.selecCity == '999') {
                    this.selecCity = ''
                }
                if (this.selecGmt == '999') {
                    this.selecGmt = ''
                }
                // Срок публикации записей
                var pubDate;
                if (this.pub <= 30){
                    pubDate = 1;
                }else if (this.pub >= 30 && this.pub <=60){
                    pubDate = 7;
                }else if (this.pub >= 60 && this.pub <=80){
                    pubDate = 30;
                }else if (this.pub >= 80){
                    pubDate = 360;
                }
                // Блэк фильтр
                var blfil = '';
                if (this.blFilter<=15){
                    blfil = 0
                }else if(this.blFilter>=15 && this.blFilter<=30){
                    blfil = 1
                }else if (this.blFilter>=30 && this.blFilter<=45){
                    blfil = 2
                }else if (this.blFilter>=45 && this.blFilter<=60){
                    blfil = 3
                }else if (this.blFilter>=60 && this.blFilter<=75){
                    blfil = 4
                }else if (this.blFilter>=75){
                    blfil = ''
                }
                  axios.get("{% url 'proxy:ajax_new_search' %}",{
                      headers: {
                          'X-Requested-With': 'XMLHttpRequest'
                       },
                      params: {
                          country: this.selecte,
                          reg: this.selecRegion,
                          city: this.selecCity,
                          vendor: this.selecVendor,
                          bl: this.selecBL,
                          ip: this.selecIp,
                          dns: this.selecDns,
                          zip: this.selecZip,
                          gmt: this.selecGmt,
                          pub: pubDate,
                          ipsd: this.selecStat,
                          blfilter: blfil,
                          page: page
                      }}).then((response) => {
                          this.prijatfoot = false
                          this.$data.selected = response.data.search
                          this.search_count = response.data.search_count
                          this.$data.reg = this.selecte
                          var pages_c = parseInt(this.search_count)
                          var str =  pages_c / 300
                          this.pages = parseInt(str)
                          //Если есть регион
                                if (this.$data.reg == 20 || this.$data.reg == 127 || this.$data.reg == 75 || this.$data.reg == 140 || this.$data.reg == 143 || this.$data.reg == 135
                                  //|| this.$data.reg == 24 || this.$data.reg
                                 // == 68 || this.$data.reg == 117
                              //|| this.$data.reg == 52
                              ){
                              this.$data.isDisabledSH = false;
                              this.$data.isDisabledCT = true;
                              axios.get("{% url 'proxy:ajax_dj_region' %}",{
                                  headers: {
                                      'X-Requested-With': 'XMLHttpRequest'
                                  },
                                  params: {
                                      country: this.$data.reg
                                  }}).then((response) => {
                                          this.$data.region =  response.data
                                          if (this.selecRegion != ''){
                                              axios.get("{% url 'proxy:ajax_region_post' %}",{
                                               headers: {
                                                   'X-Requested-With': 'XMLHttpRequest'
                                                },
                                               params: {
                                                   country: this.selecte,
                                                   reg: this.selecRegion
                                               }}).then((response) => {
                                                   this.$data.city =  response.data
                                                   this.$data.isDisabledCT = false;
                                                   })
                                                   .catch(function (error) {
                                                       this.selected = error;
                                                   });
                                        }
                                  }).catch(function (error) {
                                          this.selected = error;
                                      });
                              }
                              else{
                                  this.selecRegion = ''
                                  axios.get("{% url 'proxy:ajax_dj_city' %}",{
                                      headers: {
                                          'X-Requested-With': 'XMLHttpRequest'
                                      },
                                      params: {
                                          country: this.selecte
                                      }}).then((response) => {
                                              this.$data.city =  response.data
                                              this.$data.isDisabledSH = true;
                                              if (this.selecte == ''){
                                                this.$data.isDisabledCT = true;
                                              }else{
                                              this.$data.isDisabledCT = false;
                                                }
                                      }).catch(function (error) {
                                              this.selected = error;
                                  });
                              }

                          })
                          .catch(function (error) {
                              this.selected = error;
                          });
                if (this.selecte == ''){
                    this.$data.isDisabledSH = true;
                    this.$data.isDisabledCT = true;
                }
                // вешаем скрипт на load ибо при ready chrome криво достаёт размеры
                setTimeout(function () {
                var hh = $('.P2CLine3').height(); // берем высоту шапки и суем в переменную hh
                var fh = $('.P2CLine3').height() - $('.P2CLine1').height() - $('.Footer').height(); // то же самое с подвалом
                var wh = $(window).height(); // высота всего окна
                 // считаем оптимальную высоту для блока с контентом
                //$('#prox').css('min-height', hh);
                $('.Footer').css('top', fh); // применяем посчитанную высоту
                console.log(hh)
                console.log(fh)
                console.log(wh)

            }, 2000)
            },
            ven: function(){
                this.sV = false
            },
            onStrani: function(){
                this.sCountry = false
            },
            onShtat: function(){
                this.sH = false
            },
            oncity: function(){
                this.sC = false
            },
            onG: function(){
                this.sGm = false
            },
            moopen: function(){
                $('#drag2').draggable();
                var self = this;
                axios.get("{% url 'pay:ajax_search_pay' %}",{
                    headers: {
                        'X-Requested-With': 'XMLHttpRequest'
                    },
                    params: {
                        //ip: self.ipord,
                        //port: self.portord
                        id: self.orderSocks
                    }}).then((response) => {
                        Vue.set(self, 'ord', response.data.ports);
                        // Выделение ИП и порта
                        str = self.ord[0].ipreal.indexOf(":");
                        self.ipkup = self.ord[0].ipreal.substring(0, str);

                        //str.indexOf(":");
                        self.portkup = self.ord[0].port;
                        self.serverkup = self.ord[0].worker;
                        self.passkup = self.ord[0].password;

                        //self.port = self.mod[0].ipreal.substring(str);

                    }).catch(function (error) { self.loads = error;});

                //this.showModalOrder = true
                this.merc = 'block'
                self.ser(event)

            },
            moclose: function(){
                this.merc = 'none'
                this.showModalOrder = false
            }
        }
    });
var sortByIp = function(d1, d2){return d1.hidden_ip - d2.hidden_ip};
var sortByIpmin = function(d1, d2){return d2.hidden_ip - d1.hidden_ip};
var sortByStrana = function(d1, d2){return d1.country.toLowerCase() - d2.country.toLowerCase()};
var sortByStranamin = function(d1, d2){return d2.country.toLowerCase() - d1.country.toLowerCase()};
var sortByVendor = function(d1, d2){return d1.vendor - d2.vendor};
var sortByVendormin = function(d1, d2){return d2.vendor - d1.vendor};
var sortByZip = function(d1, d2){return d1.zip - d2.zip};
var sortByZipmin = function(d1, d2){return d2.zip - d1.zip};
var sortByGmt = function(d1, d2){return d1.gmt - d2.gmt};
var sortByGmtmin = function(d1, d2){return d2.gmt - d1.gmt};
var sortByDNS = function(d1, d2){return d1.domain - d2.domain};
var sortByDNSmin = function(d1, d2){return d2.domain - d1.domain};
</script>
<script>
// Копирование IP, Port, Login, Pass
new Clipboard('.IMBBut');
new Clipboard('.IMBBut2');
new Clipboard('.IMBBut3');
new Clipboard('.IMBBut4');
new Clipboard('.IMBBut5');
</script>
{% endblock content %}
