{% extends "base.html" %}

{% block content %}
Покупетели<br>
{% for user in users %}
	{% if user.clients_set.all %}
		{% for client in user.clients_set.all %}
			<a href="" title="">{{ client }}</a>

		{% endfor %}
	{% endif %}
{% endfor %}
<br>
Продавцы<br>
{% for user in users %}
		
			<a href="{% url 'prof:profile' user.id %}" title="">{{ user }}</a>
			<br>
			
		
	
{% endfor %}
{% endblock %}