{% extends "base.html" %}

{% block content %}
    <form action="" method="get">
        {{ filter.form.as_p }}
        <input type="submit" value="фильтровать"/>
    </form>
    {% for obj in filter %}
        {#{{ obj.country }} {{ obj.ip }}<br />#}
    {% endfor %}
{% endblock %}