{% extends 'base.html' %}
{% load i18n %} {% load staticfiles %}

{% block content %}
	{% if tickets %}
		{{ tickets.subject }}
		<br>
		{{ tickets.description }}
	{% endif %}
	{% if tickets.comments.all %}
		<div class="ticket-comments">
			{% for comm in tickets.comments.all %}
				{{ comm.author }}
				<br>
				{{ comm.comment }}
			{% endfor %}
		</div>
	{% endif %}
{% endblock content %}
