{% extends 'base.html' %}
{% load i18n %} {% load staticfiles %}
{% block title %}{% trans "Тикет. Задать вопрос" %}{% endblock title %}
{% block content %}
<script src="{% static "js/vue.js" %}"></script>
        <div class="P2CLine2 row-fluid">
            <div class="P2CL2TicketBlock col-lg-9 col-lg-offset-1 col-md-10">

                <div class="P2CL2TBMenu row-fluid">

                    <button class="P2CL2TBMBut1 active">
                        Задать вопрос
                    </button>
                    <button class="P2CL2TBMBut2">
                        <a href="{% url 'tickets:list' %}">История</a>
                        {% if count != 0 %}
                        <span class="badge">{{ count }}</span>
                        {% endif %}
                    </button>

                    <div class="clearfix"></div>
                </div>

                <div id="ticket" class="P2CL2TBForm row-fluid">
						<form method="post" action="">
    						{% csrf_token %}
    						<div class="P2CL2TBFSubject row-fluid">
                        		<span>Тема письма</span>
                        		<!--<input type="text" maxlength="255">-->
                                {% if form.subject.errors %}
                                    {% for error in form.subject.errors %}
                                    <span style="color: red;"> Пожалуйста укажите тему письма. </span>
                                       <input id="id_subject" name="subject" maxlength="255"
                                      type="text" placeholder="обязательное поле" >
                                    {% endfor %}
                                {% else %}
                                    {{ form.subject }}
                                {% endif %}

                        		<div class="clearfix"></div>
                    		</div>

                    		<div class="P2CL2TBFSelect row-fluid">
                        		<span>Кому отправить письмо</span>
                        			{{ form.department }}
                        		<div class="clearfix"></div>
                    		</div>

                    		<div class="P2CL2TBFSelect row-fluid">
                        		<span>Приоритет письма</span>
                        			{{ form.priority }}
                        			<div class="clearfix"></div>
                    			</div>

                    			{{ form.description }}


                                <div class="P2CL2TBFSelect row-fluid">
                                    <p>Куда отправлять уведомления?</p>

                                    {% if request.user.jabber %}
                                        <label><input type="checkbox" value="2" name="jabber"><span></span> Джаббер</label>

                                    {% else %}
                                        <label><input type="checkbox" value="1" name="email"><span></span> На почту</label>
                                    {% endif %}

                                    <label><input type="checkbox" value="3" name="notice"><span></span> На сайт</label>

                                    <div class="clearfix"></div>
                                </div>
                                <button class="TickFormButton">
                                    Отправить
                                </button>
						</form>
                    <div class="clearfix"></div>
                </div> <!-- P2CL2TBForm -->

            </div>

            <div class="clearfix"></div>
        </div> <!-- P2CLine2 -->

	<!--[if lt IE 9]>
	<script src="{% static "libs/html5shiv/es5-shim.min.js" %}"></script>
	<script src="{% static "libs/html5shiv/html5shiv.min.js" %}"></script>
	<script src="{% static "libs/html5shiv/html5shiv-printshiv.min.js" %}"></script>
	<script src="{% static "libs/respond/respond.min.js" %}"></script>
	<![endif]-->

	<!-- Подгрузка CSS файлов. Закомментировать данный код после релиза сайта -->
	<!--<script>
		function loadCSS(hf) {
			var ms=document.createElement("link");ms.rel="stylesheet";
			ms.href=hf;document.getElementsByTagName("head")[0].appendChild(ms);
		}
		loadCSS("{% static "libs/animate/animate.css" %}"); //Load Libs CSS: Animate CSS
		loadCSS("{% static "_header.css" %}");              //Header Styles (compress & paste to header after release)
		loadCSS("{% static "_main.css" %}");                //User Styles: Main
		loadCSS("{% static "_media.css" %}");               //User Styles: Media
	</script>-->

	<!-- Подгрузка сжатого CSS файла. Раскомментировать на момент релиза сайта -->
<script>

function checkParams() {
    var name = $('#id_subject').val();

    if(name.length != 0 ) {
        $('.TickFormButton').removeAttr('disabled');
    } else {
        $('.TickFormButton').attr('disabled', 'disabled');
    }
}
</script>
{% endblock content %}
