{% extends 'base.html' %}
{% load i18n %} {% load staticfiles %}
{% block title %}{% trans "Тикет. История" %}{% endblock title %}
{% block content %}
<script src="{% static "js/vue.js" %}"></script>
<!--<script src="https://unpkg.com/vue"></script>-->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.rawgit.com/zenorocha/clipboard.js/master/dist/clipboard.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.11.2/jquery-ui.min.js"></script>
       <link rel="stylesheet" href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.11.2/themes/sunny/jquery-ui.css">
<!-- Модальное окно -->
<script type="text/x-template" id="modal-template">
<transition name="modal">
<div  id="drag" class="SearchInfoModal ui-widget ui-corner-all" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" style="display: block;">
    <div class="modal-dialog" style="margin-top: 15px !important; height:100%;">
        <div class="modal-content">
            <div class="modal-body">

                <button type="button" class="SIMCloseModal" data-dismiss="modal" @click="close"></button>

                <p class="TMP1">Тема письма</p>
                <p class="TMP2">${ tick.description }</p>
                <div style="width:50%;float:left;">
                    <p class="TMP1">Кому отправлен</p>
                    <p class="TMP2">${ tick.department.dep }</p>
                </div>
                <div style="width:45%;float:left;margin-left:5%;">
                    <p class="TMP1">Приоритет письма</p>
                    <p class="TMP2">${ tick.priority|prioritet }</p>
                </div>
                <div class="clearfix"></div>

                <div class="TMLine"></div>

                <ul class="TMUL"  id="scroll">
                    <li class="tdesc">
                        <div class="TMULTop">${tick.creator.email}, ${tick.date|date}</div>
                        <div class="TMULMes M1">${tick.description}</div>
                    </li>

                    <li v-for="com in comment">
                        <div v-if="com.author.email == emails" class="TMULTop">${com.author.email}, ${ com.date|date }</div>
                        <div v-else class="TMULTop">${ tick.department.dep }, ${ com.date|date }</div>
                        <div class="TMULMes M1">${ com.comment }</div>
                    </li>

                    <li v-if="tick.closed == true" class="Point1">
                        Вопрос закрыт
                    </li>
                </ul>

                <div v-if="tick.closed == false" class="TMTBlock">
                    <textarea
                        v-model="comm"
                        class="TMTextarea"
                        name="TMT" id="TMT"
                        rows="3" placeholder="Написать сообщение">
                    </textarea>
                    <button
                        @click="post"
                        class="TMButton"
                        v-bind:name="tick.id">
                            Отправить
                    </button>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div v-if="tick.closed == false" class="modal-footer">
                <div
                    @click="closeTick"
                    class="TMClose"
                    v-bind:title="tick.id">
                        Закрыть вопрос
                </div>
            </div>
        </div>
    </div>
</div>
</transition>
</script>

<div id="ticket" class="P2CLine2 row-fluid">
    <div class="P2CL2TicketBlock col-lg-9 col-lg-offset-1 col-md-10">
        <div class="P2CL2TBMenu row-fluid">

            <button id="b1" name="but1" class="P2CL2TBMBut2">
                <a href="{% url 'tickets:create' %}">Задать вопрос</a>
            </button>
            <button id="b2" name="but2" class="P2CL2TBMBut1">
                История <span v-if="count_tick" class="badge">${count_tick}</span>
            </button>

            <select v-model="sortTick"
                    v-on:change="viborTick"
                    name="filtr" id="filtr">
                <option value="1">Все</option>
                <option value="2">Открытые</option>
                <option value="3">Закрытые</option>
                <!--<option value="2">1</option>-->
            </select>

            <div class="clearfix"></div>
        </div>

        <table class="P2CL2TBTable table table-hover">
            <thead>
                <tr>
                    <td class="P2CL2TBTTDW">Кому отправлено</td>
                    <td class="P2CL2TBTTDW">Приоритет письма</td>
                    <td>Текст письма</td>
                </tr>
            </thead>
            <tbody>
                <tr v-for="tick in ticket">
                    <td>${ tick.department.dep }</td>
                    <td>${ tick.priority|prioritet }</td>
                    <td
                        v-bind:title="tick.id"
                        @click="openTick"
                        :class="[ tick.closed ? '' : 'act', 'P2CL2TBTDesc' ]">
                                ${ tick.description }
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="clearfix"></div>

    <modal v-if="showModal" @close="showModal = false"
        :tick="tick[0]"
        :comment="com"
        :emails="email"
        >
    </modal>

</div> <!-- P2CLine2 -->


<script>
// Окно диалога тикета
Vue.component('modal', {
    props: ['pk', 'comment', 'tick', 'emails'],
    delimiters: ['${', '}'],
    template: '#modal-template',
    data: function () {
        return {
            tickId: '',
            comm: '',
            error: ''
        }
    },
    mounted: function () {
        $('#drag').draggable();
    },
    methods:{
        // Закрыть окно
        close: function () {
            this.$emit('close');
        },
        // Закрыть тикет
        closeTick: function (event) {
            var self = this
                self.tickId = event.target.title
                axios.get("{% url 'tickets:ticket_close' %}",{
                    headers: {
                        'X-Requested-With': 'XMLHttpRequest'
                    },
                    params: {
                        id: self.tickId
                    }}).then((response) => {
                    }).catch(function (error) {
                        self.error = tick;});
            this.$emit('close');
            tick.loads();
        },
        post: function(event){
            var self = this
            var ids = event.target.name;
            //var selecId = event.target.title
            axios.post("{% url 'tickets:comment_post' %}",{
                xsrfHeaderName: "X-CSRFToken",
                data: {
                    "comm": self.comm,
                    "id": ids
                },
                responseType: 'json'
                }).then((response) => {
                    self.comm = ''
                    setTimeout(function () {
                        var scrollTop = $('#scroll').offset().top;
                        $('#scroll').scrollTop(10000);
                    }, 1000)
                }).catch(function (error) {
                    self.error = error;});
            //
        setTimeout(function () {
            axios.get("{% url 'tickets:ticket_comm' %}",{
                headers: {
                    'X-Requested-With': 'XMLHttpRequest'
                },
                params: {
                    pk: ids
                }}).then((response) => {
                    tick.tick = response.data.tick;
                    tick.com = response.data.ticket_comm;

                }).catch(function (error) {
                    self.selected = error;});
        tick.showModal = true
        }, 500)
        }
    },
    filters:{
        prioritet(item){
            var str = String(item);
            if (str == 0){
                return str.replace("0", "Низкий");
            }
            if (str == 1){
                return str.replace("1", "Высокий");
            }
        },
        date(item){
            var str = String(item);
            return str.substring(0, 10) + ', ' + str.substring(11, 16);
        }
    }
});


// Тикеты
var tick = new Vue({
    el: '#ticket',
    delimiters: ['${', '}'],
    data() {
        return {
            // Тикеты
            ticket: '',
            count_tick: '',
            // Выбор тикета
            selecId: '',
            showModal: false,
            // Пришедший ответ
            tick: '',
            com: '',
            email: '',
            // error
            options: '',
            // Сортировка тикетов
            sortTick: '2'
        }
    },
    mounted: function (){
        this.loads()
    },
    computed:{

    },
    methods: {
        loads: function(){
            var self = this
            // Все тикеты
            axios.get("{% url 'tickets:myticket' %}",{
                }).then((response) => {
                    self.ticket =  response.data.tickets
                    self.count_tick = response.data.count_tick
                }).catch(function (error) {
                    self.options = error;});
        },
        // Модальное акно
        openTick: function(event){
            var self = this
                self.selecId = event.target.title
                axios.get("{% url 'tickets:ticket_comm' %}",{
                    headers: {
                        'X-Requested-With': 'XMLHttpRequest'
                    },
                    params: {
                        pk: self.selecId
                    }}).then((response) => {
                        Vue.set(self, 'tick', response.data.tick);
                        Vue.set(self, 'com', response.data.ticket_comm);
                        self.email = '{{request.user.email}}'
                        self.showModal = true
                    }).catch(function (error) {
                        self.selected = error;});
        },
        // Закрыть окно
        close: function(){
            this.selecId = ''
            this.showModal = false
        },
        viborTick: function(){
            var self = this
            axios.get("{% url 'tickets:ticket_sort' %}",{
                headers: {
                    'X-Requested-With': 'XMLHttpRequest'
                },
                params: {
                    tick: self.sortTick
                }}).then((response) => {
                    self.ticket =  response.data.tickets
                    self.count_tick = response.data.count_tick
                }).catch(function (error) {
                    self.selected = error;});
        }
    },
    filters:{
        prioritet(item){
            var str = String(item);
            if (str == 0){
                return str.replace("0", "Низкий");
            }
            if (str == 1){
                return str.replace("1", "Высокий");
            }
        }
    }
});
</script>

<script>
$(document).ready(function(){
    var link = window.location.pathname;
        $('.P2CL2TBMenu button a[href="'+link+'"]').parent().addClass('active');

            $('#b2').click(function(){
            $('#b1').removeClass('P2CL2TBMBut1');
            $('#b2').removeClass('P2CL2TBMBut2');
            $('#b1').addClass('P2CL2TBMBut2');
            $('#b2').addClass('P2CL2TBMBut1').addClass('active');
            });

});
</script>
{% endblock content %}
