{% extends "base.html" %}

{% block content %}
	{#{% for city in proxy %}#}
	{#	{{ city.city }}#}
	{#{% endfor %}#}
    {#{{ now1 }} - {{ offset }}#}
	Записей {{ total }}<br>

	{% for c in proxy %}
		{#<a href="{% url 'proxy:detail' c.id %}" title="">{{ c.ip }}:{{ c.port }}</a><br>#}
        <a href="{% url 'proxy:detail' c.id %}" title="">{{ c.ipreal|truncatechars:10 }}:****</a><br>
	{% endfor %}

	<div class="pagination">
    	<span class="step-links">
        	{% if proxy.has_previous %}
            	<a href="?page={{ proxy.previous_page_number }}">назад</a>
        	{% endif %}

        {% if proxy.number %}
        	<span class="current">
            	Страница {{ proxy.number }} из {{ proxy.paginator.num_pages }}.
        	</span>
        {% endif %}

        	{% if proxy.has_next %}
            	<a href="?page={{ proxy.next_page_number }}">вперед</a>
        	{% endif %}
    	</span>
	</div>
{% endblock content %}