{% extends "base.html" %}
{% load tz %}

{% block content %}
	{#{{ ip.ip|truncatechars:8 }}:{{ ip.port|truncatechars:4 }}<br>#}
	{{ ip.ipreal|truncatechars:8 }}:****<br>
	{% if ip.country %}Страна: <a href="{% url  'proxy:search' ip.country %}" title="">{{ ip.country }}</a>{% endif %}<br>

	{% if ip.city %}Город: <a href="{% url  'proxy:city' ip.city %}" title="">{{ ip.city }}</a>{% endif %}<br>
	Тип прокси
	{{ ip.tp }}
	<br>
	{% if ip.speed %}Скорость: {{ ip.speed }}
	{% else %}Скорость: <a class="view" data-v="list" href="javascript:">проверить</a>
	{% endif %}<progress id="progressbar" value="0" max="100"></progress>
	<br>
	{% if ip.typeproxy %}{{ ip.get_typeproxy_display }}{% endif %}<br>
	{% if ip.anonymity %}Анонимность: {{ ip.get_anonymity_display }}{% endif %}<br>
	{% if ip.timeout %}Отклик: {{ ip.timeout }}. м/с{% endif %}<br>
	Обновлен: 
	{% timezone "Europe/Moscow" %}
		{{ ip.update }}<br>
	{% endtimezone %}
	<br>
	{% if ip.blacklist %} 
		<p>Находиться в Блек-Листе</p>
		{% for bl in ip.black_split %}
			<a href="http://{{ bl }}">{{ bl }}</a><br>
		{% endfor %}
		{#{{ ip.blacklist|truncatewords:3 }}#} 
	{% else %} 
		нет в блеке
	{% endif %}
	{% get_current_timezone as TIME_ZONE %}
	
	{#{% for blacklist in ip.blacklist__set.all %}{{ blacklist }}{% endfor %}#}
	
	{#{% for bl in blacklist %}#}
	{#	{% if bl.get != False %}#}
	{#		{{ bl.result }}#}
	{#	{% endif %}#}
	{#{% endfor %}#}
	<br>
	{% if request.user.balance > 0 %}
		{#<a class="pay" data-v="list" href="javascript:">купить</a>#}
		<a class="pay" data-v="list" href="{% url 'pay:buy' ip.id %}">купить</a>
	{% endif %}
	
	<script>
	jQuery(document).ready(function ($) {
		$('.view').click(changeView);
		function changeView() {
			$.ajax({
				type: "GET",
				url: "change_view/{{ ip.id }}",

			data:{
                'view':$(this).attr('data-v'),
            },
            dataType: "html",
            cache: false,
            success: function(data){
                if (data){
                    $('.view').html(data);
                }
                if (data == "None"){
                	$('.view').html("прокси не доступен");
                }
            }
        });
        }
    });
</script>
{% endblock content %}