{% extends "base.html" %}

{% block content %}
	{% if form %}
		<div class="form-menu">
			<form action="" method="get">
    			{% csrf_token %}
    			{#{{ form.country.label_tag }}#}
    			{% for field in form %}
    				{{ field }}
    			{% endfor %}
    			<input type="submit" value="фильтровать"/>
    			
			</form>
		</div>
	{% endif %}
	{% if coun %}
		<p class="total-search">найдено {{ total }}</p>
		{% for proxy in coun %}
			<a class="proxy-search" href="{% url 'proxy:detail' proxy.id %}" 
			title="">{{ proxy.ipreal|truncatechars:9 }}***</a>
			<br>
		{% endfor %}
	{% endif %}
	<div class="pagination">
    	<span class="step-links">
        	{% if coun.has_previous %}
            	<a href="?page={{ coun.previous_page_number }}">назад</a>
        	{% endif %}

        {% if coun.number %}
        	<span class="current">
            	Страница {{ coun.number }} из {{ coun.paginator.num_pages }}.
        	</span>
        {% endif %}

        {% if coun.has_next %}
    		{% if GET_params %}
        		<a href="?{{GET_params.urlencode}}&amp;page={{ coun.next_page_number }}">вперед</a>
    		{% else %}
        		<a href="?page={{ coun.next_page_number }}">вперед</a>
    		{% endif %}
		{% endif %}
    	</span>
	</div>
	<script>
	$(document).ready(function() {
		$("#id_country").autocomplete({
			source: "{% url 'proxy:ajax-country' %}",
			selectFirst:true,
			minLength: 2,
		
			});
		});
	$(document).ready(function() {
		$("#id_city").autocomplete({
			source: "{% url 'proxy:ajax-city' %}",
			selectFirst:true,
			minLength: 2,
		
			});
		});
	$(document).ready(function() {
		$("#id_continent").autocomplete({
			source: "{% url 'proxy:ajax-continent' %}",
			selectFirst:true,
			minLength: 1,
		
			});
		});
	$(document).ready(function() {
		$("#id_time_zone").autocomplete({
			source: "{% url 'proxy:ajax-zone' %}",
			selectFirst:true,
			minLength: 2,
		
			});
		});
	$(document).ready(function() {
		$("#id_country_code").autocomplete({
			source: "{% url 'proxy:ajax-code-coutry' %}",
			selectFirst:true,
			minLength: 2,
		
			});
		});
	$(document).ready(function() {
		$("#id_postal_code").autocomplete({
			source: "{% url 'proxy:ajax-code-postal' %}",
			selectFirst:true,
			minLength: 2,
		
			});
		});
	$(document).ready(function() {
		$("#id_region_code").autocomplete({
			source: "{% url 'proxy:ajax-code-region' %}",
			selectFirst:true,
			minLength: 2,
		
			});
		});
	</script>
{% endblock %}