{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <div class="country">
        {% for coun in country %}
            <a class="coutry-link" href="{% url  'proxy:search' coun %}" title="">{{ coun }}</a>   
        {% endfor %}
    </div>
{% endblock content %}
	
<div class="pagination">
    <span class="step-links">
        {% if country.has_previous %}
            <a href="?page={{ country.previous_page_number }}">назад</a>
        {% endif %}

        <span class="current">
            Страница {{ country.number }} of {{ country.paginator.num_pages }}.
        </span>

        {% if country.has_next %}
            <a href="?page={{ country.next_page_number }}">вперед</a>
        {% endif %}
    </span>
</div>
