{% extends "base.html" %}

{% block content %}
	{% if coun %}
		<p>найдено {{ total }}</p>
		{% for proxy in coun %}
			<a href="{% url 'proxy:detail' proxy.id %}" title="">{{ proxy.ip }}:{{ proxy.port }}</a><br>
		{% endfor %}
	{% endif %}
	<div class="pagination">
    	<span class="step-links">
        	{% if coun.has_previous %}
            	<a href="?page={{ coun.previous_page_number }}">назад</a>
        	{% endif %}

        {% if coun.number %}
        	<span class="current">
            	Страница {{ coun.number }} из {{ coun.paginator.num_pages }}.
        	</span>
        {% endif %}

        	{% if coun.has_next %}
            	<a href="?page={{ coun.next_page_number }}">вперед</a>
        	{% endif %}
    	</span>
	</div>
{% endblock %}