{% load staticfiles i18n %}
<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="ru"> <!--<![endif]-->

<head>

	<meta charset="utf-8">

	<title>{% trans "Поиск" %}</title>
	<meta name="description" content="">

	<!-- Bootstrap -->
	<link rel="stylesheet" href="{% static "libs/bootstrap/css/bootstrap.min.css" %}">
	<!-- Header CSS (First Sections of Website: compress & paste after release from _header.css here) -->
	<link rel="stylesheet" type="text/css" href="{% static "css/styl.css" %}">
    <noscript><link rel="stylesheet" href="{% static "compiled.min.css" %}"></noscript>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="shortcut icon" href="{% static "img/favicon/favicon.ico" %}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{% static "img/favicon/apple-touch-icon.png" %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static "img/favicon/apple-touch-icon-72x72.png" %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static "img/favicon/apple-touch-icon-114x114.png" %}">

    <script src="{% static "libs/jquery/jquery-1.11.2.min.js" %}"></script>
    <script src="{% static "libs/bootstrap/js/bootstrap.js" %}"></script>
</head>

<body>

	<div class="Page2Container container-fluid">
        
        <div class="P2CLine1 row-fluid">
            
            <div class="P2CL1Wrapp row-fluid">
                
                <h3 class="P2CL1WLogo col-lg-2 col-sm-4 col-xs-12">
                    {{ site }}
                </h3>
                
                <div class="P2CL1WBalance col-lg-2 col-sm-4 col-xs-12">
                    {% trans "Баланс:" %}{{ request.user.balance }}
                </div>
                
                <ul class="P2CL1WMenu col-lg-5 col-sm-12 col-xs-12">
                    <li><a href="{% url  'proxy:index' %}">{% trans "Главная" %} </a></li>
                    <li class="active"><a href="{% url 'proxy:proxy-list' %}">{% trans "Поиск" %}</a></li>
                    {% if request.user.is_authenticated %}
                        <li><a href="" title="{% trans "Пополнить баланс" %}">{{ request.user.balance }}</a></li>
                    {% endif %}
                    
                    <li><a href="">{% trans "Оплата" %}</a></li>
                    <li><a href="{% url 'tickets:list' %}">{% trans "Вопрос/Ответ" %}</a></li>
                </ul>
                
                <div class="clearfix"></div>
            </div> <!-- P2CL1Wrapp -->
            
            <div class="clearfix"></div>
        </div> <!-- P2CLine1 -->
        
        <div class="P2CLine2 row-fluid">
           
            <input type="text" class="P2CL2Input col-lg-9 col-lg-offset-1 col-md-10" placeholder="Введите любой текст для поиска.." maxlength="255">
            <button class="P2CL2Button"> </button>
            
            <div class="P2CL2Online col-lg-2 col-md-2 col-xs-4">
                <span>{% trans "Онлайн" %}: {{ counts }}</span>
            </div>
           
            <div class="clearfix"></div>
            
            <div class="P2CL2Blocks col-lg-9 col-lg-offset-1 col-md-10">
                
                <div class="P2CL2BTNGroup btn-group">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="countries">{% trans "Все страны" %} <span class="wr"></span> <span class="caret"></span></button>
                  
                  <ul class="P2CL2BTNGMenu dropdown-menu noclose" id="menu_country">
                      {% for country in countries %}
                        <label>
                            <input type="checkbox" 
                                id="check_{{ country.id }}" value="{{ country.id }}" 
                                name="countries" onchange="Country(this)">
                        <span></span>
                            {{ country.country }}
                        </label>
                      {% endfor %}
                     
                  </ul>
                </div>
                
                <div class="P2CL2BTNGroup btn-group">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="state">{% trans "Все штаты" %} <span class="wr"></span> <span class="caret"></span></button>
                  <ul class="P2CL2BTNGMenu dropdown-menu noclose" id="menu_region" role="menu">
                      <!--<label><input type="checkbox" value="1" name="state"><span></span> Флорида</label>
                      
                      <label><input type="checkbox" value="2" name="state"><span></span> Техас</label>
                      
                      <label><input type="checkbox" value="3" name="state"><span></span> Калифорния</label>
                      
                      <label><input type="checkbox" value="4" name="state"><span></span> Аляска</label>-->
                  </ul>
                </div>
                
                <div class="P2CL2BTNGroup btn-group">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="cities">{% trans "Все города" %} <span class="wr"></span> <span class="caret"></span></button>
                  <ul class="P2CL2BTNGMenu dropdown-menu noclose" id="menu_city" role="menu">
                      
                      <!--<label><input type="checkbox" value="1" name="cities"><span></span> Москва 1</label>-->

                      <!--тут у нас города-->
                  </ul>
                </div>
                
                <div class="P2CL2BLine"></div>
                
                <div class="P2CL2BTNGroup btn-group">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="seller">{% trans "Продавцы" %} <span class="wr"></span> <span class="caret"></span></button>
                  <ul class="P2CL2BTNGMenu dropdown-menu noclose" role="menu" id="menu_vendor">
                      <!--<label><input type="checkbox" value="1" name="seller"><span></span> Продавец 1</label>
                      <label><input type="checkbox" value="2" name="seller"><span></span> Продавец 2</label>-->
                  </ul>
                </div>
                
                <div class="P2CL2BTNGroup btn-group">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="blacklists">{% trans "Блек-листы" %} <span class="wr"></span> <span class="caret"></span></button>
                  <ul class="P2CL2BTNGMenu dropdown-menu noclose" role="menu" id="menu-black">
                      <label><input type="checkbox" value="1" name="blacklists"><span></span> b.barracudal.org</label>
                      <label><input type="checkbox" value="2" name="blacklists"><span></span> css.spamhaus.org</label>
                      <div class="P2CL2BTNGMBlack">
                          <h5>{% trans "Блек фильтр" %}</h5>
                          <ul>
                              <li>1</li>
                              <li>2</li>
                              <li>3</li>
                              <li>4</li>
                              <li>5</li>
                              <li>ВСЕ</li>
                          </ul>
                          <input type="range" min="1" max="6" step="1" value="1"> 
                      </div>
                  </ul>
                </div>
                
                <div class="P2CL2BTNGroup btn-group">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="times">{% trans "Часовые пояса" %} <span class="wr"></span> <span class="caret"></span></button>
                  <ul class="P2CL2BTNGMenu dropdown-menu noclose" role="menu" id="menu_gmt">
                      <label><input type="checkbox" value="1" name="times"><span></span> UTC+8</label>
                      <label><input type="checkbox" value="2" name="times"><span></span> UTC-5</label>
                  </ul>
                </div>
                
                <input class="P2CL2InputBlock" type="text" id="Zip" maxlength="50" placeholder="Зип">
                
                <input class="P2CL2InputBlock" type="text" id="Ip" maxlength="50" placeholder="ИП">
                
                <input class="P2CL2InputBlock" type="text" id="Host" maxlength="50" placeholder="Хост">
                
                
                <div class="clearfix"></div>
                <button class="P2CL2BTNButtonSearch">{% trans "Поиск" %}</button>
               
                <div class="clearfix"></div>
            </div>
            
            <div class="clearfix"></div>
        </div> <!-- P2CLine2 -->
        
        <!-- ОТОБРАЖЕНИЕ ТАБЛИЦЫ ДЛЯ ДЕСКТОПОВ -->
        <div class="P2CLine3 row-fluid">
            
            <table class="P2CL3Table table table-striped hidden-xs hidden-sm">
                <thead>
                    <tr>
                        <td>{% trans "IP" %}</td>
                        <td>{% trans "Страна" %}</td>
                        <!--<td>Штат</td>-->
                        <td>{% trans "Город" %}</td>
                        <!--<td>ИП</td>-->
                        <td>{% trans "Продавец" %}</td>
                        <td>{% trans "Зип" %}</td>
                        <td>{% trans "Часовой пояс" %}</td>
                        <!--<td>Хостинг</td>-->
                        <td>{% trans "Блек лист" %}</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <!--<tr>
                        <td class="ip-socks">82.208.***.***</td>
                        <td class="country-socks"><img src="img/search/flag.png" alt="Russian"> Россия</td>
                        <td class="state-socks">Н/А</td>
                        <td class="city-socks">Москва</td>
                        <td>Н/А</td>
                        <td class="vendor-socks">Н/А</td>
                        <td class="zip-socks">66603</td>
                        <td class="gmt-socks">GMT+3</td>
                        <td class="host-socks">65.104.*.*.ptr.us.xo.net</td>
                        <td class="black-socks"><a href="#">Проверить</a></td>
                        
                        <td style="text-align:center;">
                            <button class="P2CL3TInfo" title="info"></button>
                            <button class="P2CL3TCart" title="купить"></button>
                        </td>
                    </tr>-->
                </tbody>
            </table>
            <!-- ОТОБРАЖЕНИЕ ТАБЛИЦЫ ДЛЯ ДЕСКТОПОВ -->
            
            <!-- ОТОБРАЖЕНИЕ ТАБЛИЦЫ ДЛЯ МОБИЛЬНЫХ -->
            <div class="P2CL3MWrap visible-xs visible-sm">
                <div class="P2CL3Media row-fluid">
                    <div class="P2CL3MBlock">
                        <span class="P2CL3MLeft">IP:</span> 
                        <span class="P2CL3MRight">82.208.***.***</span>
                        <div class="clearfix"></div>
                    </div>
                    
                    <div class="P2CL3MBlock">
                        <span class="P2CL3MLeft">Страна:</span> 
                        <span class="P2CL3MRight"><img src="img/search/flag.png" alt="Russian"> Россия</span>
                        <div class="clearfix"></div>
                    </div>
                    <div class="P2CL3MBlock">
                        <span class="P2CL3MLeft">Штат:</span> 
                        <span class="P2CL3MRight">Н/А</span>
                        <div class="clearfix"></div>
                    </div>
                    <div class="P2CL3MBlock">
                        <span class="P2CL3MLeft">Город:</span> 
                        <span class="P2CL3MRight">Москва</span>
                        <div class="clearfix"></div>
                    </div>
                    <div class="P2CL3MBlock">
                        <span class="P2CL3MLeft">ИП:</span> 
                        <span class="P2CL3MRight">Н/А</span>
                        <div class="clearfix"></div>
                    </div>
                    <div class="P2CL3MBlock">
                        <span class="P2CL3MLeft">Продавец:</span> 
                        <span class="P2CL3MRight">Н/А</span>
                        <div class="clearfix"></div>
                    </div>
                    <div class="P2CL3MBlock">
                        <span class="P2CL3MLeft">Зип:</span> 
                        <span class="P2CL3MRight">66603</span>
                        <div class="clearfix"></div>
                    </div>
                    <div class="P2CL3MBlock">
                        <span class="P2CL3MLeft">Часовой пояс:</span> 
                        <span class="P2CL3MRight">GMT+3</span>
                        <div class="clearfix"></div>
                    </div>
                    <div class="P2CL3MBlock">
                        <span class="P2CL3MLeft">Хостинг:</span> 
                        <span class="P2CL3MRight">65.104.*.*.ptr.us.xo.net</span>
                        <div class="clearfix"></div>
                    </div>
                    <div class="P2CL3MBlock">
                        <span class="P2CL3MLeft">Блек-лист:</span> 
                        <span class="P2CL3MRight"><a href="#">Проверить</a></span>
                        <div class="clearfix"></div>
                    </div>
                    <div class="P2CL3MBlock" style="border-bottom:0;">
                        <button class="P2CL3TInfo"></button>
                        <button class="P2CL3TCart"></button>
                    </div>
                    <div class="clearfix"></div>
                </div>
                
                <div class="P2CL3Media row-fluid">
                    <div class="P2CL3MBlock">
                        <span class="P2CL3MLeft">IP:</span> 
                        <span class="P2CL3MRight">82.208.***.***</span>
                        <div class="clearfix"></div>
                    </div>
                    
                    <div class="P2CL3MBlock">
                        <span class="P2CL3MLeft">Страна:</span> 
                        <span class="P2CL3MRight"><img src="img/search/flag.png" alt="Russian"> Россия</span>
                        <div class="clearfix"></div>
                    </div>
                    <div class="P2CL3MBlock">
                        <span class="P2CL3MLeft">Штат:</span> 
                        <span class="P2CL3MRight">Н/А</span>
                        <div class="clearfix"></div>
                    </div>
                    <div class="P2CL3MBlock">
                        <span class="P2CL3MLeft">Город:</span> 
                        <span class="P2CL3MRight">Москва</span>
                        <div class="clearfix"></div>
                    </div>
                    <div class="P2CL3MBlock">
                        <span class="P2CL3MLeft">ИП:</span> 
                        <span class="P2CL3MRight">Н/А</span>
                        <div class="clearfix"></div>
                    </div>
                    <div class="P2CL3MBlock">
                        <span class="P2CL3MLeft">Продавец:</span> 
                        <span class="P2CL3MRight">Н/А</span>
                        <div class="clearfix"></div>
                    </div>
                    <div class="P2CL3MBlock">
                        <span class="P2CL3MLeft">Зип:</span> 
                        <span class="P2CL3MRight">66603</span>
                        <div class="clearfix"></div>
                    </div>
                    <div class="P2CL3MBlock">
                        <span class="P2CL3MLeft">Часовой пояс:</span> 
                        <span class="P2CL3MRight">GMT+3</span>
                        <div class="clearfix"></div>
                    </div>
                    <div class="P2CL3MBlock">
                        <span class="P2CL3MLeft">Хостинг:</span> 
                        <span class="P2CL3MRight">65.104.*.*.ptr.us.xo.net</span>
                        <div class="clearfix"></div>
                    </div>
                    <div class="P2CL3MBlock">
                        <span class="P2CL3MLeft">Блек-лист:</span> 
                        <span class="P2CL3MRight"><a href="#">Проверить</a></span>
                        <div class="clearfix"></div>
                    </div>
                    <div class="P2CL3MBlock" style="border-bottom:0;">
                        <button class="P2CL3TInfo"></button>
                        <button class="P2CL3TCart"></button>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
            <!-- ОТОБРАЖЕНИЕ ТАБЛИЦЫ ДЛЯ МОБИЛЬНЫХ -->
            
            <div class="clearfix"></div>
        </div> <!-- P2CLine3 -->
        
	    <div class="clearfix"></div>
	</div> <!-- Page2Container -->
	
	<script type="text/javascript">
        $(document).ready(function(){
            $('.P2CLine2 > button').click(function(){
                $('.P2CL2Input').val('');
            });
            
            $(document).on("click.bs.dropdown.data-api", ".noclose", function (e) { e.stopPropagation() });
            
            var arr = []; var i = 0; // Для страны
            var arr2 = []; var i2 = 0; // Для штата
            var arr3 = []; var i3 = 0; // Для города
            var arr4 = []; var i4 = 0; // Для продавцов
            var arr5 = []; var i5 = 0; // Для блек-листов
            var arr6 = []; var i6 = 0; // Для часовых поясов
            $(":checkbox").change(function(){
                var n = $(this).attr('name');
                
                switch(n){
                    case 'countries':
                        if(this.checked){
                            arr[i] = $(this).parent().text();
                            $('#countries').html(arr + ' <span class="wr"></span> <span class="caret"></span>');
                            i++;
                        } else {
                            var val = $(this).val();
                            var index = arr.indexOf(val);
                            arr.splice(index, 1);
                            i--;
                            if(arr != ''){
                                $('#countries').html(arr + ' <span class="wr"></span> <span class="caret"></span>');
                            } else {
                                $('#countries').html('Все страны <span class="wr"></span> <span class="caret"></span>');
                            }
                        }
                    break;
                        
                    case 'state':
                        if(this.checked){
                            arr2[i2] = $(this).parent().text();
                            $('#state').html(arr2 + ' <span class="wr"></span> <span class="caret"></span>');
                            i2++;
                        } else {
                            var val = $(this).val();
                            var index = arr2.indexOf(val);
                            arr2.splice(index, 1);
                            i2--;
                            if(arr2 != ''){
                                $('#state').html(arr2 + ' <span class="wr"></span> <span class="caret"></span>');
                            } else {
                                $('#state').html('Все штаты <span class="wr"></span> <span class="caret"></span>');
                            }
                        }
                    break;
                        
                    case 'cities':
                        if(this.checked){
                            arr3[i3] = $(this).parent().text();
                            $('#cities').html(arr3 + ' <span class="wr"></span> <span class="caret"></span>');
                            i3++;
                        } else {
                            var val = $(this).val();
                            var index = arr3.indexOf(val);
                            arr3.splice(index, 1);
                            i3--;
                            if(arr3 != ''){
                                $('#cities').html(arr3 + ' <span class="wr"></span> <span class="caret"></span>');
                            } else {
                                $('#cities').html('Все города <span class="wr"></span> <span class="caret"></span>');
                            }
                        }
                    break;
                        
                    case 'seller':
                        if(this.checked){
                            arr4[i4] = $(this).parent().text();
                            $('#seller').html(arr4 + ' <span class="wr"></span> <span class="caret"></span>');
                            i4++;
                        } else {
                            var val = $(this).val();
                            var index = arr4.indexOf(val);
                            arr4.splice(index, 1);
                            i4--;
                            if(arr4 != ''){
                                $('#seller').html(arr4 + ' <span class="wr"></span> <span class="caret"></span>');
                            } else {
                                $('#seller').html('Продавцы <span class="wr"></span> <span class="caret"></span>');
                            }
                        }
                    break;
                        
                    case 'blacklists':
                        if(this.checked){
                            arr5[i5] = $(this).parent().text();
                            $('#blacklists').html(arr5 + ' <span class="wr"></span> <span class="caret"></span>');
                            i5++;
                        } else {
                            var val = $(this).val();
                            var index = arr5.indexOf(val);
                            arr5.splice(index, 1);
                            i5--;
                            if(arr5 != ''){
                                $('#blacklists').html(arr5 + ' <span class="wr"></span> <span class="caret"></span>');
                            } else {
                                $('#blacklists').html('Блек-листы <span class="wr"></span> <span class="caret"></span>');
                            }
                        }
                    break;
                        
                    case 'times':
                        if(this.checked){
                            arr6[i6] = $(this).parent().text();
                            $('#times').html(arr6 + ' <span class="wr"></span> <span class="caret"></span>');
                            i6++;
                        } else {
                            var val = $(this).val();
                            var index = arr6.indexOf(val);
                            arr6.splice(index, 1);
                            i6--;
                            if(arr6 != ''){
                                $('#times').html(arr6 + ' <span class="wr"></span> <span class="caret"></span>');
                            } else {
                                $('#times').html('Часовые пояса <span class="wr"></span> <span class="caret"></span>');
                            }
                        }
                    break;
                }
                
                console.log(arr2 + ' | ' + n);
            });
            
        });
    </script>

	<!--[if lt IE 9]>
	<script src="{% static "libs/html5shiv/es5-shim.min.js" %}"></script>
	<script src="{% static "libs/html5shiv/html5shiv.min.js" %}"></script>
	<script src="{% static "libs/html5shiv/html5shiv-printshiv.min.js" %}"></script>
	<script src="{% static "libs/respond/respond.min.js" %}"></script>
	<![endif]-->

	<!-- Подгрузка CSS файлов. Закомментировать данный код после релиза сайта -->
	<!-- <script>
		function loadCSS(hf) {
			var ms=document.createElement("link");ms.rel="stylesheet";
			ms.href=hf;document.getElementsByTagName("head")[0].appendChild(ms);
		}
		loadCSS("{% static "libs/animate/animate.css" %}"); //Load Libs CSS: Animate CSS
		loadCSS("{% static "_header.css" %}");              //Header Styles (compress & paste to header after release)
		loadCSS("{% static "_main.css" %}");                //User Styles: Main
		loadCSS("{% static "_media.css" %}");               //User Styles: Media
	</script> -->

	<!-- Подгрузка сжатого CSS файла. Раскомментировать на момент релиза сайта -->
	<script>var ms=document.createElement("link");ms.rel="stylesheet";
		ms.href="{% static "compiled.min.css" %}";document.getElementsByTagName("head")[0].appendChild(ms);
	</script>

	<!-- Load Scripts -->
	<script>var scr = {"scripts":[
		{"src" : "{% static "libs/modernizr/modernizr.js" %}", "async" : false},
		{"src" : "{% static "libs/waypoints/waypoints.min.js" %}", "async" : false},
		{"src" : "{% static "libs/animate/animate-css.js" %}", "async" : false},
		{"src" : "{% static "libs/plugins-scroll/plugins-scroll.js" %}", "async" : false},
		{"src" : "{% static "js/common.js" %}", "async" : false}
		]};!function(t,n,r){"use strict";var c=function(t){if("[object Array]"!==Object.prototype.toString.call(t))return!1;for(var r=0;r<t.length;r++){var c=n.createElement("script"),e=t[r];c.src=e.src,c.async=e.async,n.body.appendChild(c)}return!0};t.addEventListener?t.addEventListener("load",function(){c(r.scripts);},!1):t.attachEvent?t.attachEvent("onload",function(){c(r.scripts)}):t.onload=function(){c(r.scripts)}}(window,document,scr);
	</script>

    <script>
    // 1
    function Country(val) {
        var url = "{% url 'proxy:ajax-country' %}";
        var checked = $("#"+ val.id).is(':checked');
        var data = {country: val.value};
        if (checked) {
            $.get(url, data, function(msg){
                AddSocksCountry(msg, val);
                //AddSocksCity(val.value)
                AddSocksRegion(val.value)
            });
        } else { 
            AddSocksCountryDel(val);
            AddSocksRegionDel(val.value);
        }
    };

    // 2
    function City(val){
        alert(val)
        var url = "{% url 'proxy:ajax-city-post' %}";
        var checked = $("#"+ val.id).is(':checked');
        var data = {country: val.value};
        if (checked) {
            $.get(url, data, function(msg){
                alert(msg)
                //socks_del();
                //AddSocksCountry(msg, val)
                //alert(msg)
                //post_del(val)
            });
        } else {
            ;
            //post_del(val);
            //socks_del()

            //del_city(v);
        }
    };
        
    // add Country element
    function AddSocksCountry(msg, country) {
      if(msg){
        data = JSON.parse(msg)
        for(i in data){
          $('tbody').append(
            "<tr>" + 
                "<td id=post_" + country.id + 
                    " class='ip-socks'>" + 
                    data[i][0] + "</td>" +

                    "<td id=country_" + country.id +
                    " class='country-socks'>" +
                    data[i][1] + "</td>" +
                                
                    "<td id=city_" + country.id +
                    " class='city-socks'>" +
                    data[i][2] + "</td>" +
                                
                    "<td id=vendor_" + country.id + 
                    " class='vendor-socks'>" +
                    data[i][3] + "</td>" +
                                
                    "<td id=zip_" + country.id +
                    " class='zip-socks'>" + 
                    data[i][4] + "</td>" +
                                
                    "<td id=gmt_" + country.id +
                    " class='zip-socks'>" + 
                    data[i][5] + "</td>" +

                    "<td id=black_" + country.id + 
                    " class='black-socks'>" +
                    data[i][6] + "</td>" +
                                
                    "<td style='text-align:center;'> " + 
                    "<button value=" + i +
                    " class='P2CL3TInfo' " +
                        "title='info' onclick='buy_info(this)'></button> " +
                    "<button value=" + i +
                    " class='P2CL3TCart' " + 
                        "title='купить' onclick='buy_info(this)'></button></td>" +

                    "</tr>");
            }
        } else {
                ;
        }
    };
    // add Region element
    function AddSocksRegion(val){
        var url = "{% url 'proxy:ajax-code-region' %}";
        var data = {country: val};
        $.get(url, data, function(msg){
            data = JSON.parse(msg)
            var region = {};
            for(x in data){
                region[data[x][8]] = data[x]
            }
            
            for(i in region){
                if(region[i][8]){
                    $("#menu_region").append(
                        "<label id=region_" + region[i][0] + "> " +
                        "<input type='checkbox' " +
                        "id=region_"+ region[i][0] + 
                        " value=" + region[i][0] + 
                        " name='region' onchange='City(this)'>" + 
                        "<span></span>" + region[i][8] + 
                        "</label>");
                    }
            }
        });
    }

    // add City element 
    function AddSocksCity(country){
        var url = "{% url 'proxy:ajax-city' %}";
        var data = {country: country};
        $.get(url, data, function(msg){
            data = JSON.parse(msg)
            for(i in data){
                $("#menu_city").append(
                    "<label id=citys_" + data[i][0] + "> " +
                    "<input type='checkbox' " +
                    "id=city_"+ data[i][0] + 
                    " value=" + data[i][0] + 
                    " name='cities' onchange='City(this)'>" + 
                    "<span></span>" + data[i][1] + 
                    "</label>");
            }
        });
    };
    //Del region element 
    function AddSocksRegionDel(country){
        var url = "{% url 'proxy:ajax-code-region' %}";
        var data = {country: country};
        $.get(url, data, function(msg){
            data = JSON.parse(msg)
            for(i in data){
                $("#region_" + data[i][0]).remove()
            }
        });
    };

    // Del city element
    function AddSocksCityDel(country){
        var url = "{% url 'proxy:ajax-city' %}";
        var data = {country: country};
        $.get(url, data, function(msg){
            data = JSON.parse(msg)
            var region = {};
            for(x in data){
                region[data[x][7]] = data[x]
            }
            for(i in region){
                $("#region_" + region[i][0]).remove()
            }
        });
    };

    // Del Country element
    function AddSocksCountryDel(val){
        for(i in val){
            $("tr #post_" + val.id).remove()
            $("tr #country_" + val.id).remove()
            $("tr #city_" + val.id).remove()
            $("tr #vendor_" + val.id).remove()
            $("tr #zip_" + val.id).remove()
            $("tr #gmt_" + val.id).remove()
            $("tr #black_" + val.id).remove()
            $('tr td[style="text-align:center;"]').remove()
            $('button.P2CL3TInfo').remove()
            $('button.P2CL3TCart').remove()
        }
    };

    function socks_del(){
        $('tbody tr').remove()      
    };

        

        

    function buy_info(val) {
        var url = "{% url 'pay:info' %}";
        var data = {pk: val.value};
        $.get(url, data, function(msg){
            info(msg)
        });
    };

    function info(data){
        data = JSON.parse(data)
        d = Date()
        d.split(' ')[2]
        $('.modal-title').html('<p>Покупка сокса</p>');
        $('.modal-body').append('<p><span>IP  </span> ' + data[0] + '</p>')
        $('.modal-body').append('<p><span>Страна  </span> ' + data[1] + '</p>')
        $('.modal-body').append('<p><span>Регион  </span> ' + data[2] + '</p>')
        $('.modal-body').append('<p><span>Город  </span> ' + data[3] + '</p>')
        $('.modal-body').append('<p><span>Продавец  </span> ' + data[4] + '</p>')
        $('.modal-body').append('<p><span>Постал код  </span> ' + data[5] + '</p>')
        $('.modal-body').append('<p><span>GMT  </span> ' + data[6] + '</p>')
        $('.modal-body').append('<p><span>Блек-Лист  </span> ' + data[7] + '</p>')
        $('.modal-body').append('<p><span>В сети с  </span> ' + data[8] + '.' + data[9] + '</p>')
        //$('.modal-body').append('<p><span>Обновлен  </span> ' + 
        //    data[10] + '.' + data[11] + '.' + data[12] + '</p>')

        $("#myModal").modal('show');
        $('#myModal').on('hidden.bs.modal', function(){
            //alert($('.modal-body').html())
            $('.modal-body').html('')
        });
    };

    </script>


<div id="myModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
        <tr>
            
        </tr>
      </div>
      <div class="modal-footer">
        <!--<button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>-->
      </div>
    </div>
  </div>
</div>

</body>
</html>